<h3 class='sidebar-title'><%= class_name %></h3>
<div class='<%= file_name.sub(/_sidebar/, '') %>'-body>
<p>Replace this text with the real sidebar view code</p>
<p>You should be able to access <code>request</code>,
  <code>controller</code>, <code>params</code> etc,
  as well as local variables set from the sidebar settings. So if you've done
  <code>setting :title, 'Whatever'</code>, you can use &lt;%= title %&gt;
  to get at its value. The current sidebar object is accessible as
  <code>sidebar</code>.</p>
</div>
