<% @article_counter = -1 %>

<%= render :partial => 'article', :collection => @articles %>
<div id='paginate'>
<%= paginate @articles, { :previous_label => _('Previous'), :next_label => _('Next')  } %>
</div>