<%= error_messages_for 'page' %>
<!--[form:pages]-->
<p>
  <label for="pages_name">Location:</label><br />
  /page/ <%= text_field 'page', 'name', :size => 16  %>
</p>
<p>
  <label for="pages_body">Content:</label><br />
  <%= text_area 'page', 'body', :rows => 25  %>
</p>

<label for="page_text_filter">Textfilter: </label><%= select 'page', 'text_filter', text_filter_options %><br/>
<br clear="all"/>

<!--[eoform:pages]-->
