  <%= start_form_tag :action=>"new" %>
<p>
  <label for="pages_title">Name:</label><br />
  <%= text_field 'page', 'name'  %>
</p>
<p>
  <label for="pages_body">Page:</label><br />
  <%= text_area 'page', 'body', :rows => 10  %>
</p>
<div id="operations">
  <%= save("Save Post") %> or <a href="#" onclick="new Effect.BlindUp('quick-post', {duration: 0.4}); return false;" >Close</a>
</div>
<%= end_form_tag %>
