  <% @page_heading = 'Pages' %>

  <% content_for('tasks') do %>
    <%= task_new 'Create new page' %>
    <li><%= link_to 'View page on your blog', @page.permalink_url %></li>
  <% end %>

  <h3>Editing page</h3>
  <%= render :partial => "admin/shared/edit", :locals => { :form_type => "page", :form_action => { :action => "edit", :id => @page } } %>
