  <% @page_heading = _('Pages') %>
  
  <% content_for('tasks') do %>
    <%= task_edit _('Edit this page'), @page.id %>
    <li><%= link_to _('View page on your blog'), @page.permalink_url %></li>
  <% end %> 

  <h3><%=h @page.name %></h3>

  <div class="form">	
    <div><%= @page.html %></div>
    <p class="meta"><%= _("Posted at") %>: <%=h @page.created_at %> <%= _("by")%> <%=h @page.user.name %></p>
    <p>Lasted updated <%=h @page.updated_at %></p>    
  </div>
