  <% @page_heading = _('Pages') %>
  
  <% content_for('tasks') do %>
    <%= task_overview %>
    <%= task_edit _('Edit'), @page.id %>
  <% end %> 

  <div class="form" style="text-align: center; margin: auto;">
	<iframe src="<%=@page.permalink_url%>" width="95%" height="700px"></iframe>
  </div>
