<%= error_messages_for 'comment' %>
<!--[form:comment]-->
<label for="comment_author">Author:</label><%= text_field 'comment', 'author'  %><br/>

<label for="comment_url">Url:</label><%= text_field 'comment', 'url'  %><br/>

<label for="comment_email">Email:</label><%= text_field 'comment', 'email'  %><br/>

<label for="comment_body">Body:</label><%= text_area 'comment', 'body'  %><br/>
<!--[eoform:comment]-->
