  <% @page_heading = "Comments for #{ link_to h(@article.title), :controller => 'content', :action => 'show', :id => @article }" %>

  <h3>Creating comment</h3>
  
  <%= start_form_tag :action=>"new" %>

  <div class="form">	
    <%= render_partial "form" %>
  </div>

  <div id="operations">
    <%= save %> or <%= cancel %>  
  </div>

  <%= end_form_tag %>