<label>Name</label>
<input class="text" type="text" name="configure[<%= @sidebar.id.to_s %>][name]" value="<%=h @sidebar.staged_config['name'] %>"/><br/>
<label>Feed URL</label>
<input class="text" type="text" name="configure[<%= @sidebar.id.to_s %>][feed]" value="<%=h @sidebar.staged_config['feed'] %>"/><br/>
<label>Items limit</label>
<input class="text" type="text" name="configure[<%= @sidebar.id.to_s %>][count]" value="<%=h @sidebar.staged_config['count'] %>"/><br/>
