<input type="checkbox" id="configure_<%= @sidebar.id.to_s %>_count" name="configure[<%= @sidebar.id.to_s %>][count]" <% unless @sidebar.staged_config['count'].blank? %>checked="checked"<% end %>/>
<input name="configure[<%= @sidebar.id.to_s %>][count]" type="hidden" value="" />
<label for="configure[<%= @sidebar.id.to_s %>]_<%= @sidebar.id.to_s %>_count">Show article count</label><br/>
<input type="checkbox" id="configure_<%= @sidebar.id.to_s %>_empty" name="configure[<%= @sidebar.id.to_s %>][empty]" <% unless @sidebar.staged_config['empty'].blank? %>checked="checked"<% end %>/>
<input name="configure[<%= @sidebar.id.to_s %>][empty]" type="hidden" value="" />
<label for="configure_<%= @sidebar.id.to_s %>_empty">Show empty categories</label><br/>
