<% unless @categories.blank? -%>
<h3>Categories</h3>
<ul id="categories">
<% for category in @categories -%>
  <% if @sb_config['empty'] or category.article_counter.to_i>0 %>
  <li><%= link_to category.name, :controller => "articles", :action => "category", :id => category.permalink  %> <% if @sb_config['count'] %><em>(<%= category.article_counter %>)</em><% end %></li>
  <% end %>
<% end -%>
</ul>
<% end %>
