  <h3>Chercher</h3>
  <% form_tag({ :controller => 'articles', :action => 'search' },
              { :method => 'get', :id => 'sform' }) do -%>
  <div id='searchform'>
    <input type="text" id="q" name="q" value="" />
    <input type='image' src='/images/theme/find.png' />
  </div>
  <% end -%>

<div id='about'>
<h3>À propos</h3>
  <p><img src='/images/theme/frederic-de-villamil.jpg' alt='À propos de Frédéric de Villamil' class='alignleft' />L'ergonomie web, l'utilisabilité et la qualité des logiciels sont trois grandes passions mises au services de ma profession.</p>
  <p>J'axe mon travail sur une démarche constante tout au long du cycle de vie du produit alliant respect des standards, accessibilité et utilisabilité avec la conviction que le web s'adresse avant tout à l'utilisateur.</p>
</div>

<div> 
<a href='http://www.leweb.net/register'>
<img src='/registernow-long-ok-web-03.png' alt='le web, register now' />
</a>
</div>

<% @navcats ||= Category.find_all_with_article_counters -%>     

<h3 class='border'>Catégories</h3>
  <div class="sidebarelement" id='categories'>
    <ul>
    <% for category in @navcats -%>
      <li><%= link_to h(category.name), "#{category.permalink_url}/", {:title => "Lire les articles traitant de #{category.name}" } %></li>
    <% end -%>
    </ul>
  </div>
  
<h3 class='border'>Les indispensables</h3>
  <ul>
    <li><a href="http://www.biologeek.com/journal/">Biologeek</a></li>
    <li><a href="http://prendreuncafe.com/blog/">Prendre un café</a></li>
    <li><a href="http://alheim.7el.net">Alexandre Heimburger</a></li>
    <li><a href="http://www.referencement-blog.net/">Référencement blog</a></li>
    <li><a href="http://www.boxesandarrows.com/">Boxes and arrows</a> [en]</li>
    <li><a href="http://performance.survol.fr/">Performances web</a></li>
    <li><a href="http://ajblog.fr/">Webdesign et petite entreprise</a></li>
  </ul>

<%= render_sidebars TagSidebar.new(:maximum_tags => 30) %>

  <a xmlns:sioc="http://rdfs.org/sioc/ns#" rel="sioc:has_owner" href="https://creativecommons.net/fdv/">
    <img src="http://i.creativecommons.net/p/fdv" alt='Licence Creative Commons' />
  </a>
