<div class='hfeed'>
  <%= render :partial => 'article', :collection => @articles %>
</div>

<div id='paginate'>
<%= paginate @articles, { :previous_label => t('pagination.previous'), :next_label => t('pagination.next')  } %>
</div>
