.DS_Store
.bowerrc
.byebug_history
.dockerignore
.env
.git
.gitignore
.idea
.vscode
Guardfile
README.rdoc
database.yml
docker-compose.yml
docker-compose.override.yml
gateway.conf
log/*
tmp/*
public/uploads/*
db/*.sqlite
secret*
