config/database.yml
config/mail.yml
config/timezone.yml
config/secret.token
*.log
*~
db/db*
db/*.sqlite*
.*.swp
.*.swo
.DS_Store
installer/rails_installer.yml
/public/files
/public/images/theme
/public/javascripts/ckeditor/config.js
/public/javascripts/ckeditor/config.bak
/public/javascripts/all.js
/public/robots.txt
/public/stylesheets/theme
/public/stylesheets/all.css
/publify_core/spec/dummy/public/files
tmp/*
/coverage/
nbproject
public/cache/*
Gemfile.lock
.rbenv-version
.ruby-version
.bundle/
.sass-cache/
/vendor/bundle
/themes/*
!/themes/bootstrap-2
!/themes/plain
gems/
