[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails
[submodule "vendor/actionwebservice"]
	path = vendor/actionwebservice
	url = git://github.com/datanoise/actionwebservice.git
[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/plugins/rspec-rails"]
	path = vendor/plugins/rspec-rails
	url = git://github.com/dchelimsky/rspec-rails.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
