config/database.yml
config/mail.yml
*.log
*~
db/*.sqlite*
db/schema.rb
.*.swp
.DS_Store
installer/rails_installer.yml
/public/files
/public/images/theme
/public/javascripts/ckeditor/config.js
/public/javascripts/all.js
/public/stylesheets/theme
/public/stylesheets/all.css
tmp/*
/coverage/
