# fly.toml file generated for publify-demo on 2022-08-28T12:00:45+02:00
# Updated with changes generated on 2023-01-07T16:39:41+01:00
# Updated with changes generated on 2023-10-28T17:35:30+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "publify-demo"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []
primary_region = "ams"
console_command = "/rails/bin/rails console"

[build]

[deploy]
  release_command = "./bin/rails db:prepare"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[statics]]
  guest_path = "/rails/public"
  url_prefix = "/"

[processes]
app=""
cron="supercronic /app/crontab"
