<div class="modal fade" id="about-spam-filtering" tabindex="-1" role="dialog" aria-labelledby="about-spam-filtering" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>"Presumed" ham and spam?</h2>
      </div>
      <div class='modal-body'>
        <p>When a comment has been automatically classifed, it goes into a "presumed" state.</p>
        <p>Once a comment is manually classified, it's state is no longer considered "presumed".</p>
        <p>When in a presumed state, a comment's status will be shown in the table as as spam<strong>?</strong> or ham<strong>?</strong>.</p>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-default' data-dismiss='modal'><%= t('.close_modal') %></button>
      </div>
    </div>
  </div>
</div>
