<label for="configure_<%= @sidebar.id.to_s %>_maximum_tags">Maximum tags</label>
<input class="text" type="text" id="configure_<%= @sidebar.id.to_s %>_maximum_tags" name="configure[<%= @sidebar.id.to_s %>][maximum_tags]"
       value="<%=h @sidebar.staged_config['maximum_tags'] %>"/><br/>

