<% unless @tags.blank? -%>
<h3>Tags</h3>
<p style="overflow:hidden">
<% @tags.each do |tag| -%>
<span style="font-size:<%= @sizes[tag] %>%"><%= link_to tag.display_name, :controller => "articles", :action => "tag", :id => tag.name %></span>
<% end -%>
</p>
<% end %>
