<% if !@search.to_s.blank? -%>
  <h3>Searched for <em>"<%=h @search %>"</em></h3>
  <ul>
  <% for article in @articles.to_a -%>
    <li><%= link_to_permalink article,h(article.title) %></li>
  <% end -%>
	</ul>
<% else %>
  &nbsp;
<% end -%>
