.ma-says {
  color: $heading-color-secondary;
  font-family: $brand-font-stack;
  font-weight: $brand-font-weight;
  padding: 0.118em 0.588em;
  height: 2.25em;
  width: 70%;
  background: asset-url('ma-says.png') 0 0 no-repeat;
  background-image: linear-gradient(transparent, transparent), asset-url('ma-says.svg');
  background-repeat: no-repeat;
  background-size: 193px 75px;

  .homepage & {
    background-size: 100px 39px;
  }
}

.ma-says__ma {
  color: $brand-green;
}
