<ul id="commentList" class="unstyled">
  <% if @article.published_comments.any? -%>
  <%= render @article.published_comments %>
  <% else -%>
  <li class="dummy_comment" style="display:none"><%= _("No comments")%></li>
  <% end -%>
</ul>