<li class="graybox">
<a name="comment-<%= trackback.id %>"></a>
From <strong><%= trackback.blog_name %></strong><br />
<a href="#trackback-<%= trackback.id  %>" title=""></a>
<a href="<%= trackback.url %>" rel="nofollow"><%= trackback.title %></a><br/>
<%= trackback.excerpt %>
</li>
