<% for article in @articles -%>
  <%= render_partial "article", article %>
  
  <p class="postmetadata"><!--Posted in <%= article.category %> <strong>|</strong> --><%=link_to_comments(article)%></p> 
<% end -%>