<div class="l-index">
  <div class="l-constrained">
    <div class="l-tiles">
      <%= render @articles %>
      <div class="l-tile l-tile--archive">
        <a href="/archives" class="l-index-archive__link">Older articles <svg xmlns="http://www.w3.org/2000/svg" class="l-index-archive__link-arrow" version="1.1" x="0px" y="0px" viewBox="46.9 -3.6 36 57.1" enable-background="new 46.9 -3.6 36 57.1" xml:space="preserve">
        <polyline class="next-steps__arrow-path" stroke-width="9" stroke-miterlimit="10" points="50,0 76,25 50,50 "/>
      </svg></a>
      </div>
    </div>
  </div>
</div>
