<% for article in @articles -%>
 <div class="post">
  <%= render_partial "article", article %>
  <p class="meta"><%= article_links article %></p> 
  </div>
<% end -%>

<% unless @pages.item_count <= 10 %>
  <p id="pagination">Older posts: <%= pagination_links @pages, :params => { :action => @controller.action_name } %></p>
<% end %>
