<%- for article in @articles %>
  <div class="post">
    <%= render article %>
    <%= render 'article_links', article: article %>
  </div>
<% end -%>

<%= paginate @articles, :next_label => "#{_("Next page")} &raquo;", :previous_label => "&laquo; #{_('Previous page')}" %>
