<div class="l-constrained">
  <%= render 'shared/lead_campaign' if @lead_campaign %>
  <div class="l-tiles">
    <%= render @articles %>
  </div>
  <div class='paginate'>
    <%= paginate @articles, views_prefix: 'archives' %>
  </div>
</div>
