<% if @articles.to_a.empty? -%>
<div class="post">
<p>No articles found...</p>
</div>
<% else -%>

<% for article in @articles -%>
  <%= render_partial "article", article %>
  <%= article_link "Read more...", article if article.extended?%>    
<% end -%>

<% end -%>
