<% if @articles.to_a.empty? -%>
<div class="post">
<p>No articles found...</p>
</div>
<% else -%>

<% for article in @articles -%>
  <div class="post">
  <%= render_partial "article", article %>
  <%= article_link "Read more...", article if article.extended?%>    
  <p class="meta"><%= article_links article %></p> 
  </div>
<% end -%>

<% end -%>
