<% for article in @articles -%>
 <div class="post">
   <h2><%= link_to_permalink article,article.title %></h2>
   <%= article.html(:body).gsub(/<\/?[^>]*>/, "").slice(0..300) %>...
  </div>
<% end -%>

<%= paginate @articles, :next_label => "#{_("Next page")} &raquo;", :previous_label => "&laquo; #{_('Previous page')}" %>
