<main id="main" tabindex="-1" class="l-page">
  <div class="l-constrained">
    <h1 class="l-page__header"><%= @page.title %></h1>
    <div class="l-page__body">
      <%= @page.html %>
    </div>
  </div>
</main>

