<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class='panel-title'><%= t(".latest_comments") %></h3>
  </div>
  <div class="panel-body">
    <ul class='list-unstyled' id="commentList">
      <%= render partial: "comment" %>
    </ul>
  </div>
</div>
