<div class="dashboard">
  <h3><%= _("Inbound links") %></h3>
  <% if @inbound_links.nil? %>
    <%= _('You have no internet connection') %>
  <% else %>
    <ul>
      <% if @inbound_links.size == 0 %>
        <li><%= _("No one made a link to you yet") %></li>
      <% else %>
        <% for link in @inbound_links -%>
          <li>
            <%= link_to(link.author, link.link) + _(" made a link to you saying ") + link.description.slice(0, 50) %> 
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <hr />
</div>
