<div class='alert alert-info'>
  <p>
    <%= _("This place gives you a quick overview of what happens on your Typo blog and what you can do. Maybe will you want to %s", dashboard_action_links) %>
  </p>
  <p> 
    <%= dashboard_theme_link %>
  </p>
  <p>
    <%= _("If you need help, %s.",
      link_to(_('read our documentation'), 'http://typosphere.org')) %> <%= dashboard_sidebar_link %>      
  </p>
</div>
