<div class='alert alert-info'>
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <p>
    <%= t(".dashboard_explain", available_actions: dashboard_action_links) %>
  </p>
  <p>
  <%= t(".help_explain", doc_link: link_to(t('.read_our_documentation'), 'http://publify.co')) %>
  </p>
</div>
