<div class="dashboard">
  <h3><%= _("Most popular") %></h3>
  <ul>
    <% if @bestof.size == 0 %>
      <li><%= _("Nothing to show yet") %> !</li>
    <% else %>
      <% for article in @bestof -%>
        <li><%= link_to_permalink article, article.title  %> (<%= link_to_permalink article, article.comment_count %>)</li>
      <% end %>
    <% end -%>
  </ul>
</div>
