<h3><%= _("Latest Posts") %></h3>
<div class='well'>
  <ul class='unstyled'>
  <% if @recent_posts.size == 0 %>
    <li class='alert'>
      <%= link_to _("No posts yet, why don't you start and write one"), :controller => 'content', :action => 'new' %> ?
    </li>
  <% else %>
    <% for post in @recent_posts -%>
    <li>
      <h5><%= sprintf("%s on %s",
        link_to_permalink(post, post.title),
        display_date_and_time(post.published_at)) %></h5>
      <p><%= post.body.strip_html.slice(0,300) if post.body %></p>
	  <hr />
    </li>
    <% end %>
  <% end %>
  </ul>
</div>
