<%- content_for :page_heading do %>
  <h2>
    <i class="glyphicon glyphicon-large glyphicon-user"></i>
    <%= _("Your profile") %>
  </h2>
<% end %>

<%= form_tag({action: 'index', id: @user.id}, {enctype: "multipart/form-data"}) %>
<%= render partial: "admin/users/form" %>
