<div class='meta'>
  <p>
  <small>
    <%
        author_span = content_tag :span, article.user.nickname, class: 'p-author h-card'
        tags = tag_links(article) unless article.tags.empty?
    %>
    <%= t(".published_on_html", publish_date_and_time: display_date_and_time(article.published_at), by: author_span, tags: tags) %>
  </small>
  </p>
</div>
