// Basic unstyled list helper class to remove formatting from a list element.
//
// Styleguide unstyled-list

.unstyled-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  > li {
    &:before {
      content: none;
    }
  }
}

.unstyled-list__item {
  padding: 0;
  margin: 0;
}

.unstyled-list-icon:before {
  content: none;
}
