 HTML BODY {
	HEIGHT: 100%
}
 HTML BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 40px 0px 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
 HTML #toolbar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 40px;
}
 HTML #filelist {
	PADDING-RIGHT: 0px; OVERFLOW-Y: scroll; OVERFLOW-X: hidden; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 600px;
}
#top {
	WIDTH: 100%
}
#filelist {
	WIDTH: 100%;
}
BODY {
	BACKGROUND-COLOR: #f0f0ee
}
A:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.filelistPath {
	BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; VERTICAL-ALIGN: middle; OVERFLOW: hidden; COLOR: #000000; LINE-HEIGHT: 15px; FONT-FAMILY: Sans-serif, Verdana, Arial; HEIGHT: 15px
}
.mceSeparatorLine {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 4px; BORDER-LEFT: 0px; MARGIN-RIGHT: 2px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
A.mceButtonDisabled IMG {
	MARGIN-TOP: 1px; MARGIN-LEFT: 1px; WIDTH: 20px; CURSOR: default; HEIGHT: 20px
}
A.mceButtonNormal IMG {
	MARGIN-TOP: 1px; MARGIN-LEFT: 1px; WIDTH: 20px; CURSOR: default; HEIGHT: 20px
}
A.mceButtonSelected IMG {
	MARGIN-TOP: 1px; MARGIN-LEFT: 1px; WIDTH: 20px; CURSOR: default; HEIGHT: 20px
}
A.mceButtonDisabled IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
A.mceButtonNormal IMG {
	BORDER-RIGHT: #f0f0ee 1px solid; BORDER-TOP: #f0f0ee 1px solid; BORDER-LEFT: #f0f0ee 1px solid; BORDER-BOTTOM: #f0f0ee 1px solid
}
A.mceButtonSelected IMG {
	BORDER-RIGHT: #f0f0ee 1px solid; BORDER-TOP: #f0f0ee 1px solid; BORDER-LEFT: #f0f0ee 1px solid; BORDER-BOTTOM: #f0f0ee 1px solid
}
A.mceButtonSelected IMG {
	BORDER-RIGHT: #c0c0bb 1px solid; BORDER-TOP: #c0c0bb 1px solid; BORDER-LEFT: #c0c0bb 1px solid; BORDER-BOTTOM: #c0c0bb 1px solid
}
A.mceButtonNormal IMG:hover {
	BORDER-RIGHT: #0a246a 1px solid; BORDER-TOP: #0a246a 1px solid; BORDER-LEFT: #0a246a 1px solid; CURSOR: default; BORDER-BOTTOM: #0a246a 1px solid; BACKGROUND-COLOR: #b6bdd2
}
A.mceButtonSelected IMG:hover {
	BORDER-RIGHT: #0a246a 1px solid; BORDER-TOP: #0a246a 1px solid; BORDER-LEFT: #0a246a 1px solid; CURSOR: default; BORDER-BOTTOM: #0a246a 1px solid; BACKGROUND-COLOR: #b6bdd2
}
A.mceButtonDisabled IMG {
	BORDER-RIGHT: #f0f0ee 1px solid; BORDER-TOP: #f0f0ee 1px solid; BORDER-LEFT: #f0f0ee 1px solid; CURSOR: default; BORDER-BOTTOM: #f0f0ee 1px solid; moz-opacity: 0.3; opacity: 0.3
}
 HTML A.mceButtonNormal IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 2px; MARGIN-BOTTOM: 1px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
 HTML A.mceButtonSelected IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 2px; MARGIN-BOTTOM: 1px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
 HTML A.mceButtonDisabled IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 2px; MARGIN-BOTTOM: 1px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
 HTML A.mceButtonDisabled IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=30); BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
 HTML A.mceButtonDisabled {
	BORDER-RIGHT: #f0f0ee 1px solid; BORDER-TOP: #f0f0ee 1px solid; BORDER-LEFT: #f0f0ee 1px solid; BORDER-BOTTOM: #f0f0ee 1px solid
}
 HTML A.mceButtonNormal {
	BORDER-RIGHT: #f0f0ee 1px solid; BORDER-TOP: #f0f0ee 1px solid; BORDER-LEFT: #f0f0ee 1px solid; CURSOR: default; BORDER-BOTTOM: #f0f0ee 1px solid
}
 HTML A.mceButtonSelected {
	BORDER-RIGHT: #f0f0ee 1px solid; BORDER-TOP: #f0f0ee 1px solid; BORDER-LEFT: #f0f0ee 1px solid; CURSOR: default; BORDER-BOTTOM: #f0f0ee 1px solid
}
 HTML A.mceButtonSelected {
	BORDER-RIGHT: #c0c0bb 1px solid; BORDER-TOP: #c0c0bb 1px solid; BORDER-LEFT: #c0c0bb 1px solid; BORDER-BOTTOM: #c0c0bb 1px solid
}
 HTML A.mceButtonNormal:hover {
	BORDER-RIGHT: #0a246a 1px solid; BORDER-TOP: #0a246a 1px solid; BORDER-LEFT: #0a246a 1px solid; CURSOR: default; BORDER-BOTTOM: #0a246a 1px solid; BACKGROUND-COLOR: #b6bdd2
}
 HTML A.mceButtonSelected:hover {
	BORDER-RIGHT: #0a246a 1px solid; BORDER-TOP: #0a246a 1px solid; BORDER-LEFT: #0a246a 1px solid; CURSOR: default; BORDER-BOTTOM: #0a246a 1px solid; BACKGROUND-COLOR: #b6bdd2
}
 HTML .mceSelectList {
	MARGIN-TOP: 2px
}
.status {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: "MS Sans Serif", Verdana, Arial; BACKGROUND-COLOR: #f0f0ee
}
.statusError {
	COLOR: #880000
}
.statusMsg {
	COLOR: #000000
}
.toolbaritems {
	
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: "MS Sans Serif", Verdana, Arial
}
.filelistHeadRow TD {
	BORDER-RIGHT: buttonshadow 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: buttonhighlight 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 1px; BORDER-LEFT: buttonhighlight 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: buttonshadow 1px solid; BACKGROUND-COLOR: #d4d0c8
}
.filelistHeadCol A {
	COLOR: #000000
}
.filelistHeadCol A:visited {
	COLOR: #000000
}
.filelistFileName {
	PADDING-LEFT: 4px
}
.filelistCutFileName {
	PADDING-LEFT: 4px
}
.filelistRowOdd {
	BACKGROUND-COLOR: #ffffff
}
.filelistRowEven {
	BACKGROUND-COLOR: #f7f7f7
}
.sortarrow {
	MARGIN-BOTTOM: 2px; MARGIN-LEFT: 7px
}
.cutFile {
	FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=40); moz-opacity: 0.4; opacity: 0.4
}
