.search#search
  - form_tag({ :controller => 'articles', :action => 'search' }, |
             { :method => 'get', :id => 'sform' }) do |
    %p
      %input#q{:type=>"text", :name=>"q", :value=>""}/

  .loading#loading{:style=>"display: none;"} Searching...
  .results#results
  = observe_field 'q', |
                  :url        => { :controller => 'live', :action => 'search' }, |
                  :frequency  => 1, |
                  :loading    => "Element.show('loading')", |
                  :complete   => "Element.hide('loading')", |
                  :update     => 'results', |
                  :with       => "'q=' + escape($F('q'))" |
