<div data-sortable="sidebar_<%= 9000 + available_counter %>" class='alert alert-success draggable'>
  <h3 class='light'><%= available.display_name %></h3>
  <div class='widget-content'>
    <p><%= available.description %></p>
  </div>
</div>
