<div id="available_<%= available.short_name %>" class='alert-message block-message success'>
  <h3 class='light'><%= available.display_name %></h3>
  <div class='widget-content'>
    <p><%= available.description %></p>
  </div>
</div>
<%= draggable_element "available_#{available.short_name}" %>
