body {
  margin: 0;
  padding: 0;
	font: 12px/18px "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  color: #000;
	background: #023;
}

a {
	color: #00131e;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #023;
}

h1 {
	font-size: 18px;
	padding: 10px 0 0 0;
}

h2 {
	font-size: 16px;
}

h3 {
	text-align: center;
}

h3 label {
	display: block;
	text-align: left;
	font-weight: bold;
}

p {
	margin-top: 0;
	padding-top: 20px;
}

.large {
	width: 100%;
}

.medium {
  width: 50%;
}

input.title {
	padding: 5px 0 5px 5px;
	margin: 0;
	border: #00131e 1px solid;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font: 16px/20px "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}

input.save {
  color: #fff;
  background: #fb7c00;
  border: #fb7c00 1px solid;
  -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
	font-size: 12px;
	padding: 5px;
}

#logincontainer, #setupcontainer {
  background: #fff;
  margin: 80px auto 0 auto;
  border: #00131e 1px solid;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#logincontainer {
	width: 300px;
}

#setupcontainer {
	width: 600px;
}

.inner {
  padding: 20px;
}

h3 a img {
  border: none;
}

.mt20 {
  margin-top: 20px;
}
