body {
  margin: 0;
  padding: 0;
	font: 12px/18px "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  color: #000;
	background: #fff;
}

a {
	color: #00131e;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #00131e;
}

h1 {
	font-size: 18px;
	padding-top: 10px;
	margin-left: 20px;
}

h1 a {
	text-decoration: none;
}

h1 a:hover {
	text-decoration: underline;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

p {
	margin-top: 0;
	padding-top: 20px;
}

.clear {
  clear: both;
}

fieldset {
  padding: 5px;
}

#header {
	background: #8ae3f9;
	height: 40px;
}

#menu {
	background: #023;
	height: 30px;
}

#menu ul#tabs {
	margin: 0 20px;
	padding: 0;
	font-size: 14px;
	float: left;
}

#menu li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul#tabs a {
	color: #fff;
	display: block;
	padding: 5px 10px;
	height: 20px;
}

#menu ul#tabs li.current a {
	background: #00131e;
	text-decoration: none;
}

#logout {
	float: right;
	display: block;
	margin-right: 20px;
	padding-top: 7px;
}

a#logout  {
	color: #fff;
	text-decoration: none;
}

#submenu {
	background: #00131e;
	height: 30px;
	clear: both;
}

#submenu ul {
	margin: 0 20px;
	padding: 0;
}

#submenu li {
	float: left;
	height: 20px;
	padding: 5px 20px 5px 0;
	list-style: none;
}

#submenu li a {
	color: #fff;
}

#submenu li a.current {
	text-decoration: none;
}


#content {
	padding: 50px 20px 0 20px;
	clear: both;
}

#footer {
	clear: both;
	border-top: #8AE3F9 5px solid;
	margin-top: 20px;
	padding: 10px 0 20px 0;
	text-align: center;
}

/******* Dashboard *******/

#dashboard-left {
	float: left;
	width: 300px;
}

#dashboard-right {
	margin-left: 330px;
}

#dashboard-right p {
	font-size: 14px;
	line-height: 22px;
	padding-top: 0;
}

#dashboard-right p a {
	font-weight: bold;
}

#dashboard-right ul {
	margin-left: 0;
	padding-left: 0;
}

#dashboard-right ul li {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.bordered, .bordered-orange {
	margin-top: 10px;
	padding-top: 15px;
	border-top: #356aa0 3px solid;
}

.bordered-orange {
	border-top: #fb7c00 3px solid;
}

#left {
	margin-right: 330px;
}

#right {
	width: 300px;
	float: right;
}

span.error {
	padding: 10px 20px;
	margin-bottom: 20px;
	display: block;
  border: 2px solid #c00;
  color: #c00;	
}

span.notice {
	padding: 5px 10px;
	margin-bottom: 20px;
	display: block;
  border: 2px solid #6a0;
  color: #6a0;
}

/******* Common forms *******/

.large {
	width: 100%;
}

.medium {
  width: 50%;
}

input.title {
	padding: 5px 0 5px 5px;
	margin: 0;
	border: #00131e 1px solid;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font: 16px/20px "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}

p.input_text_title {
	padding: 0 10px 0 0;
	margin-top: 10px;
}

textarea {
	border: none;
}

input.small, #article_published_at, textarea.small, #theme_body {
	padding: 2px 0 4px 5px;
	margin: 0;
	border: 0;
	font: 12px/16px "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
	border: #00131e 1px solid;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	behavior: url("../../stylesheets/border-radius.htc");
}

#theme_body {
  font-family: courier, sans-serif;
}

.ed_button {
	border-color: #023;
	border-width: 3px;
	border-style: double;
}

/******* Editor *******/

#editor-left {
	margin-right: 330px;
}

#editor-right {
	float: right;
	width: 300px;
}

#editor-menu {
	margin-top: 20px;
	text-align: right;
}

#editor-menu span.active {
	background: url("../../images/admin/editor_active_top_left.jpg") #023 top left no-repeat;
	padding: 0 0 3px 5px;
}

#editor-menu a {
	font-weight: bold;
}

#editor-menu span.active a {
	padding: 0 5px 0 0;
	margin-top: 5px;
	background: url("../../images/admin/editor_active_top_right.jpg") #023 top right no-repeat;
}

#s {
	margin-left: 10px;
}

#editor-menu span.active a {
	text-decoration: none;
	color: #fff;
}

#editor {
	padding: 5px;
	background: #023;
}

#editor a {
	color: #fff;
}

#editor table {
	margin-top: 10px;
	border-collapse: collapse;
	border: #00131E 1px solid;
}

#editor table th {
	background: #8AE3F9;
	border: #00131E 1px solid;
}

#editor table td {
	color: #000;
	border: #00131E 1px solid;
	background: #fff;
}

#editor table a {
	color: #00131e;
}

.editor_bottom {
	background: url("../../images/admin/editor_bottom_left.jpg") #023 bottom left no-repeat;
	margin-bottom: 20px;
}

.editor_bottom_right {
	margin-left: 10px;
	background: url("../../images/admin/editor_bottom_right.jpg") #023 bottom right no-repeat;
	height: 5px;
}

#quicktags {
	padding-bottom: 5px;
}

#publishing {
	background: url("../../images/admin/publisher_top.jpg") #023 top left no-repeat;
	color: #fff;
	padding: 10px;
	margin-top: 10px;
}

input.save {
  color: #fff;
  background: #fb7c00;
  border: #fb7c00 1px solid;
  -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url("../../stylesheets/border-radius.htc");
	cursor: pointer;
}

input#save_draft,
input.search,
input.confirm,
input.delete {
  color: #00131e;
  background: #8ae3f9;
  border: #8ae3f9 1px solid;
  -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url("../../stylesheets/border-radius.htc");
	cursor: pointer;
}

input.confirm {
  background: #6a0;
  border: #6a0 1px solid;
  color: #fff;
}

input.delete {
  background: #c00;
  border: #c00 1px solid;
  color: #fff;
}

input.save, 
input.search {
  font-size: 12px;
}

#publishing a {
  color: #fff;
}

#categories {
	margin-top: 30px;
}

#categories h3 {
	margin-bottom: 10px;
}

.blue_block {
	margin: 10px 0 20px 0;
	background: #8ae3f9;
	padding: 5px 5px 10px 5px;	
	border: #8ae3f9 1px solid;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url("../../stylesheets/border-radius.htc");
	
}

.blue_block ul {
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 0;
}

.blue_block ul li {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.blue_block p {
  margin: 0;
  padding: 10px 0 0 0;
}

fieldset p {
  margin: 0;
  padding: 10px 0 0 0;
}


label.float {
  float: left;
  clear: both;
  width: 140px;
  display: block;
  padding-top: 5px;
}

label.float.large {
  width: 180px;
}

fieldset {
  margin-top: 20px;
	border: #00131e 1px solid;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url("../../stylesheets/border-radius.htc");
}

legend {
  font-size: 16px;
}

p.right {
  text-align: right;
  padding-right: 10px;
}

p.ml140 {
  margin-left: 140px;
}

.mb20 {
  margin-bottom: 30px;
}

/* Sorting tables */

table {
  width: 100%;
  border: #00131E 1px solid;
  margin-top: 10px;
  border-collapse: collapse;
}

table th {
  border: #00131E 1px solid;
  color: #fff;
  background: #00131E;
}

table td {
  border: #00131E 1px solid;

}

table tr.shade td {
  background: #dcf6fe;
}

table tr.menubar td {
  background: #023;
}

td.paginate {
  text-align: center;
  background: #8AE3F9;
}

/********** Login screen ********/
#logincontainer {
  background: #fff;
  width: 300px;
  margin: 80px auto 0 auto;
  border: #00131e 1px solid;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#innerlogin {
  padding: 20px;
}

#innerlogin h3 {
  text-align: center;
}

#innerlogin h3 a img {
  border: none;
}

#innerlogin #submit {
  padding: 5px;
  font-size: 14px;
}

.mt20 {
  margin-top: 20px;
}

/**** Theme listing ****/
.theme {
  width: 290px;
  margin: 0 10px 20px 0;
  float: left;
  overflow: hidden;
  background: #023;
  border: #00131e 1px solid;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
}

.theme .inner {
  margin: 10px;
}

.theme a img {
  width: 270px;
  border: none;
}

.theme a {
  color: #fff;
}

.theme h3 {
  margin-top: 20px;
  color: #fff;
}


/***** Sidebr config *****/
#available {
  width: 440px;
  float: left;
  margin-right: 30px;
}

#cnt-active {
  margin-left: 470px;
  width: 440px;
}

.dropbox {
  background: #8AE3F9;
  border: #8AE3F9 1px solid;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url("../../stylesheets/border-radius.htc");   
}

.dropbox h2 {
  padding: 20px;
}

.dragitem {
  background: #023;
  color: #fff;
  border: #023 1px solid;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	behavior: url("../../stylesheets/border-radius.htc");   
  margin: 0 20px 30px 20px;
  padding: 10px;
}

.dragitem h4 {
  color: #fff;
}

#active {
  padding-bottom: 30px;
}

#active a {
  display: block;
  text-align: right;
  color: #fff;
}

#sidebar_instructions {
  margin: 0 20px 30px 20px;
  padding: 20px 10px;
  background: #dcf6fe;
}

.published {
  color: #6a0;
}

.unpublished,
.mandatory {
  color: #c00;
}

#article_keywords_auto_complete {
  margin-top: 2px;
}

#article_keywords_auto_complete ul {
  margin: 0;
  padding: 0;
}

#article_keywords_auto_complete ul li {
  list-style: none;
  background: #DCF6FE;
  border-bottom: #a7eafe 1px solid;
  padding: 3px 5px;
}

#article_keywords_auto_complete ul li.selected {
  background: #a7eafe;
}

#carousel-wrapper {
    width: 100%;
    height: 150px;
    overflow: hidden;
}
#carousel-content {
    width: 1400px;
}
#carousel-content .slide {
    float: left;
    width: 140px;
    height: 125px;
    padding: 10px 0;
    background: #8AE3F9;
    text-align: center;
}
