/* CSS Document */
/*------------------------------------------------------------------
[Master Stylesheet]

Project:  Typo administration
Version:  6.0.6
Last change:  07/13/11 [complete refatoring]
Assigned to:  Frédéric de Villamil (neuro)

[Table of contents]

1. Body
  1.1. Links
  1.2. Tables
2. Wrappers
  2.1. Core structure
  2.2. Widgets
  2.3. Menu
3. Common styles
  3.1. Forms
  3.2. Utility classes
  3.3. Status and info
  3.4. Carousel
4. Functionnal parts
  4.1. Editor
  4.2. Sidebars
  4.3. Categories
  4.4. Dashboard
  4.5. Settings
  4.6. Themes
  4.7. Theme editor
  4.8. Feedback
  4.9. Pages
  4.10. Resources uploads

-------------------------------------------------------------------*/

th {
  background: none;
}

tr.noborder td {
  border-top: none;
}

.label a {
  color: #fff;
}

td small {
    color: #BFBFBF;
    font-size: 11px;
}