/* CSS Document */
/*------------------------------------------------------------------
[Master Stylesheet]

Project:  Typo administration
Version:  6.0.6
Last change:  07/13/11 [complete refatoring]
Assigned to:  Frédéric de Villamil (neuro)

[Table of contents]

1. Body
  1.1. Links
  1.2. Tables
2. Wrappers
  2.1. Core structure
  2.2. Widgets
  2.3. Menu
3. Common styles
  3.1. Forms
  3.2. Utility classes
  3.3. Status and info
  3.4. Carousel
4. Functionnal parts
  4.1. Editor
  4.2. Sidebars
  4.3. Categories
  4.4. Dashboard
  4.5. Settings
  4.6. Themes
  4.7. Theme editor
  4.8. Feedback
  4.9. Pages
  4.10. Resources uploads

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
1. Body
*/

body {
	padding-top: 60px;
}

/*------------------------------------------------------------------
1.1. Links
*/

.dashboard-left { 
  width: 49%; 
  float: left; 
}

.dashboard {
    width: 49%; 
    margin-left: 51%; 

}

table.clearfix {
  clear: both;
  margin-top: 18px;
}

footer {
  clear: both;
}

.left_form {
	float: left; 
	width: 380px; 
	padding-top: 18px;
}

.right_table {
	margin-left: 400px;
	padding-top: 18px:
}

.container-fluid .sidebar {
	width: 180px;
}

.container-fluid .content {
	margin-left: 200px;
}

.editor-left {
	margin-right: 340px;
}

.editor-right {
	float: right;
	width: 280px;
}

.editor-right .actions {
	padding-left: 0;
	padding-right: 0;
	text-align: right;
}

.pills:after {
	clear: none;
}

#editor-menu {
	width: 100%;
	float: left;
	margin-top: 18px;
}

#editor-menu ul {
	width: 100%;
	margin-bottom: 0;
}

#editor-menu ul li {
	float: right;
}

#editor-menu ul li.active a {
	color: #808080;
	background: #F5F5F5;
}

#ed_toolbar_article_body_and_extended {
	background: #f5f5f5;
}

#article_body_and_extended,
#page_body {
	width: 99%;
}

#article_title {
	font-size: 19px;
}

.separator {
	margin-top: 18px;
     margin-bottom: 18px;
     padding: 17px 0 18px 0;
}

#visual_editor {
	width: 100%; 
	float: left; 
	display: block;
}

span.cke_skin_kama {
	border: none;
	padding: 0;
}

#editor {
	float: left; width: 100%;
}

label.editor {
margin-left: 0; padding-left:0;
}