@import url("undohtml.css");
@import url("header.css");
@import url("forms.css");

* {
  font-family: "Lucida Grande", "verdana", "tahoma";
}

body {
	padding: 0;
	margin: 0;
	text-align: justify;
	font-size: 11px;
	background: #fff;
	color: #858585;
	
	}

a {
	color: #858585;
	text-decoration: none;
	background-color: transparent;
	}
	
a:hover {
  color: #444;
}
	
a:active {
	color: #000;
	background-color: transparent;
	border-color: #779;
	}
	
.link a {
  color: blue;
  text-decoration: underline;
}

a.link {
  color: blue;
}

a:hover.link {
  text-decoration: underline;
}

#info {
  color: white;
	position: fixed;
  top: 13px;
	left: 200px;
	right: 20px;
	border: 0;
	text-align: right;
}

#info a {
  color: white;
}

#flash {
  color: white;
  position: fixed;
  top: 13px;
  left: 200px;
  right: 90px;
  border: 0;
  text-align: right;
  text-decoration: underline;

}

#tasks {
  position: absolute;
  top: 80px;
  left: 20px;
}


/* Content */

#main {
  margin-top: 110px;
  margin-left: 160px;
}

#sidebar {
  position: fixed;
  top: 59px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 159px;
	background: #f0f0f0;
	overflow: hidden;
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 140%;
}

#sidebar h1{
  margin-top: 1em;
  padding: 0 10px;
  color: black;
}

#sidebar ul{
  padding: 0 10px;
  padding-bottom: 1em;
  border-bottom: 1px solid #e8e8e8;
}

#sidebar ul li {
  padding-bottom: 5px;
}

#sidebar .recent li {
  margin-left: .7em;
  text-indent: -.7em;
}

#content > h1 {
  position: fixed;
  top: 59px;
	left: 160px;
	right: 0px;
	height: 20px;
	background: #f0f0f0;
	overflow: hidden;
	border: 0;
	margin: 0;
	padding: 15px;
	line-height: 120%;
	font-size: 11pt;
}

#content > h2 {
	height: 10px;
	display: block;
	background: #f0f0f0;
	overflow: hidden;
	border: 0;
	margin-top: 5px;
	padding: 15px;
	line-height: 120%;
	font-size: 11pt;
}
.list table {
  border-collapse: collapse;
  width: 100%;
}

.list th{
  padding: 0 0 0 12px;
  margin: 0;
  height: 20px;
  background: #ccc;
  text-align: left;
  background: url(../images/spot-title.gif) repeat-x;
	border-bottom: 1px solid #ccc;

}

.list td{
  height: 21px;
  vertical-align: center;
}

.list .main, .list .main a {
  color: black;
}

.even {
  background: #edf3fe
}

.detail {
  border-left: 1px solid #e8e8e8;
  padding-left: 10px;
}
.option {
  width: 60px;
  text-align: center;
  border-left: 1px solid #e8e8e8;
}
