/* CSS Document */
/*------------------------------------------------------------------
[Master Stylesheet]

Project:  Typo administration
Version:  6.0.6
Last change:  07/13/11 [complete refatoring]
Assigned to:  Frédéric de Villamil (neuro)

[Table of contents]

1. Body
  1.1. Links
  1.2. Tables
2. Wrappers
  2.1. Core structure
  2.2. Widgets
  2.3. Menu
3. Common styles
  3.1. Forms
  3.2. Utility classes
  3.3. Status and info
  3.4. Carousel
4. Functionnal parts
  4.1. Editor
  4.2. Sidebars
  4.3. Categories
  4.4. Dashboard
  4.5. Settings
  4.6. Themes
  4.7. Theme editor
  4.8. Feedback
  4.9. Pages
  4.10. Resources uploads

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
1. Body
*/

body {
  color: #000;
  background: #fff;
}


/*------------------------------------------------------------------
1.1. Links
*/

a {
  color: #333;
}

h1 a { 
  color: #2779AA;
}

a.button {
  background: url("../images/admin/blue/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% #D7EBF9;
  border: 1px solid #AED0EA;
  color: #2779AA;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
}

a.button:hover {
  background: url("../images/admin/blue/ui-bg_glass_50_4b7f9e_1x400.png") repeat-x scroll 50% 50% #4B7F9E;
  border: 1px solid #4B7F9E;
  color: #FFFFFF;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
}

a.edit {
  font-weight: bold;
  text-decoration: none;
  color: #2779aa;
}

/*------------------------------------------------------------------
1.2. Tables
*/

table {
  border: 1px solid #ddd;
}

th {
  background:url("../images/admin/blue/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% #D7EBF9;
  border-top: 1px solid #aed0ea;
  border-bottom: 1px solid #aed0ea;
  color:#2779AA;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
}

th.first { 
  border-left: 1px solid #aed0ea; 
}

th.last { 
  border-right: 1px solid #aed0ea; 
}

td.comment_list { 
  padding-right: 20px;
}

td {
  background: #F2F5F7;
  border-bottom: 1px solid #ddd;
  color:#362B36;
}

tr.shade td {
  background: #F0F0F6;
}

tr.searchbar td {
  background: #f9f9f9;
  border: none;
} 

table.noborder {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ddd;
}

table.noborder td.first, table.noborder th.first {
  border-left: 1px solid #ddd;
}

table.noborder td.last, table.noborder th.last {
  border-right: 1px solid #ddd;
}



/*------------------------------------------------------------------
2. Wrappers
*/


/*------------------------------------------------------------------
2.1. Core structure
*/

#container {
  background: url("../images/admin/blue/ui-bg_flat_100_f9f9f9_40x100.png") repeat-x scroll 50% 50% #F9F9F9;
  border: 1px solid #A2A1A2;
  color: #000000;
}


/*------------------------------------------------------------------
2.2. Widgets
*/

.widget-container h3.dark {
  background: url("../images/admin/blue/ui-bg_glass_50_4b7f9e_1x400.png") repeat-x scroll 50% 50% #4B7F9E;
  border: 1px solid #4B7F9E;
  color: #FFFFFF;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
}

.widget-container h3.light {
  background: url("../images/admin/blue/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% #D7EBF9;
  border: 1px solid #AED0EA;
  color: #2779AA;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
}

.widget-content {
  border: 1px solid #A2A1A2;
  background: url("../images/admin/blue/ui-bg_flat_100_f9f9f9_40x100.png") repeat-x scroll 50% 50% #F9F9F9;
}

h3.dark span.ui-icon {
  background-image: url("../images/admin/blue/ui-icons_ffffff_256x240.png") ;
}

h3.light span.ui-icon {
  background-image: url("../images/admin/blue/ui-icons_3d80b3_256x240.png") ;
}


/*------------------------------------------------------------------
2.3. Menu
*/

#menu {
  color: #FFFFFF;
}

#menu ul#tabs li {
  border: 1px solid #4B7F9E;
  color: #FFFFFF;
  background: url("../images/admin/blue/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% #D7EBF9;
}

#menu ul#tabs li a {
  color: #4B7F9E;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
}

#menu ul#tabs li.active {
  background: url("../images/admin/blue/ui-bg_glass_50_4b7f9e_1x400.png") repeat-x scroll 50% 50% #4B7F9E;
}

#menu ul#tabs li.active a {
  color: #fff;  
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
}

#menu ul#subtabs {
  background: url("../images/admin/blue/ui-bg_glass_50_4b7f9e_1x400.png") repeat-x scroll 50% 50% #4B7F9E;
  border: 1px solid #4B7F9E;
  color: #FFFFFF;
}

#menu ul#subtabs li a {
  color: #fff;
}

span.subtabs {
  color: #222222;
}


/*------------------------------------------------------------------
3. Common styles
*/


/*------------------------------------------------------------------
3.1. Forms
*/

input.large, input.medium, input.small, textarea { 
  border: 1px solid #ddd; 
}

select {
  border: 1px solid #ddd;  
}

/*------------------------------------------------------------------
3.2. Utility classes
*/

.save { 
  background: #FB7C00; 
  border: #d36800 1px solid; 
  color: #fff; 
  text-shadow: rgba(211, 104, 0, 0.8) 0 1px 0;
}

/*------------------------------------------------------------------
3.3. Status and info
*/

.ui-state-highlight {
  border: 1px solid #f9dd34; 
  background: #ffef8f url(../images/admin/blue/ui-bg_highlight-soft_25_ffef8f_1x100.png) 50% top repeat-x; 
  color: #363636; 
}
  
.ui-state-error, .errorExplanation {
  border: 1px solid #cd0a0a; 
  background: #cd0a0a url(../images/admin/blue/ui-bg_flat_15_cd0a0a_40x100.png) 50% 50% repeat-x; 
  color: #ffffff; 
}

.ui-state-highlight span.ui-icon {
  background-image: url("../images/admin/blue/ui-icons_ffffff_256x240.png") ;
}

.ui-state-error span.ui-icon {
  background-image: url("../images/admin/blue/ui-icons_3d80b3_256x240.png") ;
}

.info {
  background: #FBF9EE;
  border: 1px solid #FCEFA1;
  color: #333333;
}

.help-inline { 
  color: #999; 
}

.mandatory { 
  color: #f00;
}

/*------------------------------------------------------------------
3.4. Carousel
*/

#carousel-wrapper {
  background: url("../images/admin/blue/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% #D7EBF9;
  border: 1px solid #AED0EA;
}

#carousel-content {
  width: 1400px;
}

#carousel-content .slide img {
  border: 1px solid #AED0EA;
}


/*------------------------------------------------------------------
4. Functionnal parts
*/


/*------------------------------------------------------------------
4.1. Editor
*/

#editor-menu a {
  border: 1px solid #4b7f9e; 
  background: #4b7f9e url(../images/admin/blue/ui-bg_glass_50_4b7f9e_1x400.png) 50% 50% repeat-x; 
  color: #fff;
}

#editor-menu a:hover {
  border: 1px solid #4b7f9e; 
  background: #4b7f9e url(../images/admin/blue/ui-bg_glass_50_4b7f9e_1x400.png) 50% 50% repeat-x; 
  color: #ffffff;   
}

#editor-menu label.active a:hover {
  border: 1px solid #4b7f9e; 
  background: #4b7f9e url(../images/admin/blue/ui-bg_glass_50_4b7f9e_1x400.png) 50% 50% repeat-x; 
  color: #ffffff;
}

#editor-menu label.active a {
  background: url("../images/admin/blue/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% #D7EBF9;
  border: 1px solid #AED0EA;
  color: #2779AA;
}

#editor-menu #f a {
  -moz-border-radius-topleft: 3px; 
  -webkit-border-top-left-radius: 3px; 
  border-top-left-radius: 3px; 
}

#editor-menu #s a {
  -moz-border-radius-topright : 3px; 
  -webkit-border-top-right-radius: 3px; 
  border-top-right-radius: 3px; 
}

#editor {
  background: url("../images/admin/blue/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% #D7EBF9;
  border: 1px solid #AED0EA;
  color: #2779AA;
}

.ed_button {
  background: url("../images/admin/blue/ui-bg_glass_50_4b7f9e_1x400.png") repeat-x scroll 50% 50% #4B7F9E;
  border: 1px solid #4B7F9E;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
}

#article_keywords_auto_complete ul li {
  background: #DCF6FE;
  border-bottom: #a7eafe 1px solid;
}

#article_keywords_auto_complete ul li.selected {
  background: #a7eafe;
}

.ed_span {
  border: 1px solid #AED0EA;
}

.ed_style {
  background: none;
}

/*------------------------------------------------------------------
4.3. Categories
*/

#category_list li {
  background: url("../images/admin/blue/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% #D7EBF9;
  border: 1px solid #AED0EA;
  color: #2779AA;
}


/*------------------------------------------------------------------
4.4. Dashboard
*/

ol.dashboardList li {
  border-bottom: 1px solid #ddd;
}


/*------------------------------------------------------------------
4.8. Feedback
*/

.unpublished, a.unpublished { 
  color: #c00;
}

.published, a.published { 
  color: #6eac2c;
}
