html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
	font: 12px/18px "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  line-height: 1.6em;
  color: #222;
	background: #f9f9f9;
}

form {
  margin: 0;
  padding: 0;
}

a, a:visited {
	color: #38b;
	text-decoration: none;
	font-weight: bold;
}

a:hover, a:visited:hover {
	text-decoration: underline;
	color: #333;
}

h2 {
	font-size: 16px;
	letter-spacing: 2px;
	color: #464646;
	margin: 0 0 20px 0;
	padding-top: 20px;
}

h2 span {
	font-size: 12px;
}

h2 span a,
h2 span a:visited {
	text-decoration: underline;
}

fieldset {
	margin-top: 10px;
}

label {
	font-weight: normal;
	color: #464646;
}

label.float {
  display: block;
  float: left;
  width: 200px;
  margin-left: 0;
  margin-right: 12px;
  padding: 0;
  text-align: right;
}

label.block {
  display: block;
	margin-bottom: 10px;
}

label.title {
	font-size: 16px;
}

label.content {
	font-size: 14px;
	margin-top: 6px;
}

legend {
	font-size: 14px;
	color: #464646;
	font-weight: bold;
}

small {
	font-size: 11px;
}

/* Top navigation */
#topnav {
  height: 36px;
  margin: 0;
	background: #282826;
}

#topnav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: auto;
}

#topnav ul li {
  float: left;
  margin: 0;
	font-size: 15px;
}

#topnav ul li.right {
	float: right;
	font-size: 11.5px;
}

#topnav ul li.current {
  color: #fff;
  background: #464646;
}

#topnav ul li a {
  display: block;
  padding: 11px 20px 0;
  height: 25px;
  color: #fff;
  text-transform: capitalize;
	border-right: #525251 1px solid;
}

#topnav  ul li a:hover {
  color: #fff;
  background: #464646;
}
/* End of Top navigation */

/* Sub navigation */
#subtabs {
  background: #464646;
  padding: 5px 20px;
}

#subtabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#subtabs ul li {
	float: left;
	padding: 2px 20px 2px 0;
	font-size: 12px;
}

#subtabs li a {
  color: #fff;
}

#subtabs li a:hover {
  color: #fff;
  text-decoration: underline;
}

#subtabs li a.current {
  color: #fff;
  text-decoration: underline;
}

/* End of sub navigation */

#container {
  text-align: left;
  margin: 0 auto;
}

#overall {
	width: 1000px;
	background: #fff;
}

#main {
	padding: 10px 0 20px 20px;
}

#footer {
	float: left;
	width: 100%;
	margin-top: 30px;
	padding: 10px 0 0 0;
	text-align: center;
	border-top: #ccc 1px solid;
}

/* @group Headings */

h3 {
  font-size: 13px;
  padding: 5px;
  margin-bottom: 0;
  background: none;
  margin: 0 0 5px 0;
  color: #1F273F;
}

/* @end */

/* @group Table Listings */

table {
  width: 100%;
	border-spacing: 0;
	border-bottom: #444 1px solid;
	border-collapse: collapse;
	background: #fff;
}

th {
  text-align: left;
  padding: 2px 5px;
  color: #464646;
	font-size: 12px;
	background: none;
}

td {
  padding: 12px 3px;
	border-bottom: #eee 1px solid;
}

td.operation {
  width: 25px;
  text-align: center;
}

th.operation {
	text-align: center;
}

.list {
  clear: left;
}

li.shade {
  background: #f7f7f7;
}

.paginate {
  background: #dfdfdf;
  padding: 10px;
  margin-bottom: 15px;
	text-align: center;
}

td.paginate {
	text-align: center;
}

tr.menubar td {
	padding: 5px 3px;
}

tr.menubar {
	background : #dfdfdf;
}

/* @end */

/* @group Form Elements */

.form {
  border: 1px solid #637987;
  background: #fff;
  margin-bottom: 10px;
  padding: 0 0 0 10px;
}

.form div {
  padding: 5px;
}

#setting_blog_name {
  font-size: 1.3em;
}

/* @end */

/* Article forms */

#article_form input,
#article_form textarea,
#article_form select,
#page_form input,
#page_form textarea,
#page_form select,
.admin input,
.admin select,
.admin textarea {
	font: 12px Helvetica, sans-serif;
	border: 1px solid #b0b0b0;
	color: #000;
	padding: 3px;	
}

#article_form textarea.medium,
#page_form textarea.medium {
	width: 670px;
}

#article_form input.large,
#article_form textarea.large ,
#article_form select.large,
#page_form input.large,
#page_form textarea.large ,
#page_form select.large {
	width: 99%;
}

#article_form input#article_title,
#page_form input#page_title {
	font-size: 1.7em;
}



#article_form select.large option {
	padding: 3px;
}



/* @end */

/* @group General Settings Screen */

.admin {
  padding: 0 10px 5px 10px;
  margin-bottom: 10px;
}


.admin ul {
  margin: 0;
  padding: 0;
}

.admin li {
  list-style: none;
  padding: 5px;
  margin: 0;
  clear: both;
}

.admin li p {
  line-height: 1.6em;
}

.admin li.checkbox {
  line-height: 1.4em;
}

.admin input.float {
  width: auto;
  border:1px solid #999;
}

.admin span.float {
  margin-left: 212px;
  padding: 0;
  display: block;
  clear: both;
}

.mandatory {
  color: #f17;
	font-weight: bold;
}

/* @end */

/* @group Sidebar */

#sidebar-config p {
  margin: 0;
}

#active, #cnt-active {
  width: 325px;
  min-height: 200px;
  padding-bottom: 10px;
}

#active {
	background: #ffb;
	padding: 5px;
}

#cnt-active {
  margin-left: 360px;
}

#available {
  padding-bottom: 10px;
  float: left;
  width: 325px;
}

#available_box h4 {
	color: #f17;
	font-weight: bold;
}

#active h4 {
	color: #6a0;
	font-weight: bold;
}

.dropbox {
  width: 300px;
}

.handle {
  cursor: move;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.dragitem, .dropitem {
	padding: 12px;
	margin-bottom: 12px;
	background: #eee;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 4px;
}


.dragitem {
  width: 300px;
}

.target {
  padding: 5px;
	min-height: 200px;
}
/* @end */

/* @group Miscellaneous */

.form p {
  margin: 0;
  padding: 0 0 5px;
}

.form p>small {
  color: gray;
}

.form .note {
  font-style: italic;
  font-size: 90%;
}

.l {
	text-align: left;
}

.r {
  text-align: right;
}

.c {
  text-align: center;
}

.space {
  margin: 10px;
}

.errorExplanation {
  background: #FFE6E6;
  color: #000;
  border: 1px solid #FF8080;
  margin: 0 30px 10px 30px;
}

.errorExplanation h2 {
  padding: 2px 5px;
  border: none;
  background: none;
  font-size: 120%;
}

.errorExplanation p {
  padding: 5px;
}

.errorExplanation ul {
  margin: 0;
  padding: 0 0 0 15px;
  list-style: none;
}

.preview {
  border: 4px solid #656D79;
  width: 320px;
  height: 232px;
  overflow: hidden;
  margin: 5px;
  float: right;
}

div#users {
  background: #F8F7EF;
  margin-top: 10px;
}

div.user {
  border: 1px solid #9cabba;
  border-top: 1px solid #bacddf;
  border-left: 1px solid #bacddf;
  background: #fff;
  width: 30%;
  float: left;
  margin: 10px;
}

.user h4 {
  margin: 0 0 2px 0;
  padding: 0;
}

.user h4 a {
  color: #333;
  background: #f7f7f7;
  padding-left: 5px;
  display: block;
}

.user h4 a:hover {
  background: #D7DFE4;
}

.user p {
  margin: 0;
  padding: 5px;
}

/* @end */

#quick-post {
	background: #ffffff;
	border-top: #333 1px solid;
	border-left: #333 1px solid;
	border-right: #333 3px solid;
	border-bottom: #333 3px solid;
	padding: 5px;
}

.clear {
	clear: both;
}

/* Login */
#loginform {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
	border: #464646 1px solid;
}

#loginform label {
	display: block;
}


#loginform input {
  margin-bottom: 10px;
  border:1px solid #224272;
	color: #000;
	padding: 3px 3px;
}

#loginform input,
#article_form input.submit,
#page_form input.submit,
.submit {
	width: 260px;
	background: #b5b5b5;
	font: 14px;
}


#loginform input#submit,
#article_form input.submit,
#page_form input.submit,
input.submit {
	margin-right: 3px;
	border-color: #ccc rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
	border-style: double;
	border-width: 3px;
	padding: 4px;
	font: 12px Tahoma, Helvetica, sans-serif;
	width: auto;
}

#loginform div.form {
  border: none;
  background: #fff;
  margin-bottom: 10px;
  padding: 30px 10px 10px;
}

#loginform h3 {
	text-align: center;
}

#loginform .errorExplanation {
	border: 1px solid #f00;
	color: #000;
	margin: 0;
	background: #fff;
}

#loginform .errorExplanation h2 {
	font-weight: normal;
	font: 14px Tahoma Helvetica sans-serif;
	color: #f00;
	padding: 4px;
	margin: 0;
}

#loginform a img {
	border: none;
}
/* End of login form */

/* Notices, infos and errors */
#overall #flash {
	margin-left: 20px;
}

#flash span {
  background: #fff;
  padding: 5px;
  margin: 10px 20px 0 0;
  color: #000;
  display: block;
}

#flash .notice {
  border: 2px solid #66AA00;
	color: #66AA00;
}

#flash .error {
	border: #FF1177 2px solid;
	color: #FF1177;
}
/* End of notices, infos and errors */

#category_list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  width: 100%;
}

#category_list li {
  cursor: move;
  border-bottom: 1px dotted #ccc;
	padding: 12px 3px;
}

.published,
a.published,
td.active {
	color: #66AA00;
}

.unpublished,
a.unpublished,
td.inactive {
	color: #FF1177;
}

td.active,
td.inactive {
	font-weight: bold;
}

/* @end */

/* Dashboard */
.dashboard-small {
	width: 23%;
	float: left;
	margin-bottom: 10px;
	margin-left: 2%;
	display: inline;
}

.dashboard {
	width: 71%;
	margin-left: 28%;
	margin-bottom: 10px;
}

#dashboard h3 {
	padding: 0;
	margin: 0;
}

#dashboard ul {
	margin: 0;
	padding: 0;
	padding-top: 5px;
	padding-bottom: 10px;
}

#dashboard ul li {
	margin-left: 0;
	padding: 12px 3px 12px 3px;
	list-style: none;
	font-size: 1.1em;
	border-bottom: #eee 1px solid;
}

/* End of dashboard */

hr {
	border: medium none;
	color: #ccc;
	background: #ccc;
	height: 1px;
	margin-bottom: 1.4em;
}

/* @end */

/* Theme editor */
#theme_list {
	width: 300px;
	float: right;
}

#theme_editor {
	margin-right: 320px;
	min-height: 500px;
}

#theme_editor textarea {
	width: 100%;
	height: 500px;
}

.theme-filer {
	width: 300px;
	padding: 5px 0;
	margin-bottom: 15px;
}

.theme-filer ul {
	margin: 0;
	padding: 0;
}

.theme-filer ul li {
	list-style: none;
	margin-left: 10px;
}

#theme_list h3 {
	background: #324e79;
	color: #fff;
  cursor: move;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
	padding-top: 2px;
	padding-bottom: 0;
}

li.paginate {
  margin-bottom: 15px;
  border-left: #b0b0b0 8px solid;
}

div.auto_complete {
  width: 350px;
  background: #fff;
  z-index: 20;
}

div.auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}

div.auto_complete ul li {
  margin:0;
  padding:3px;
}

div.auto_complete ul li.selected {
  background-color: #ffb;
}

div.auto_complete ul strong.highlight {
  color: #800; 
  margin:0;
  padding:0;
}

.hidden {
	display: none;
}

.theme {
    width: 260px;
	float: left;
	margin-right: 20px;
	overflow: hidden;
}

.theme img {
    width: 250px;
}

.theme hr {
	clear: both;
}

#autosave {
	color: green;
}

#categories {
	height: 220px; 
	overflow-y: scroll; 
	border: #ddd 1px solid;
}

#editor {
	width: 700px;
}

#simple_editor,
#visual_editor {
	background: #464646;
	padding: 10px;
	border-radius: 3px;
}

#simple_editor {
	border-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

#visual_editor {
	-moz-border-radius: 3px;
	-webkit-border-radius: 4px;
}

#quicktags {
	background: #464646;
	padding-top: 10px;
	padding-left: 10px;
	border-radius: 3px 0 0 0;
	-moz-border-top-left-radius: 3px 0 0 0;
	-webkit-border-top-left-radius: 4px;
}

#saveblock {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 4px;
}

#editor-menu {
	text-align: right;
}

#editor-menu span.active {
	background: #464646;
	padding: 5px;
	border-radius: 3px 0 0 0;
	-moz-border-top-left-radius: 3px 0 0 0;
	-moz-border-top-right-radius: 3px 0 0 0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}

#editor-menu span.inactive {
	background: #f9f9f9;
	padding: 0px;
}

ul.admin {
	margin-left: 0;
	padding-left: 0;
}