/* CSS Document */
/*------------------------------------------------------------------
[Master Stylesheet]

Project:  Typo administration
Version:  6.0.6
Last change:  07/13/11 [complete refatoring]
Assigned to:  Frédéric de Villamil (neuro)

[Table of contents]

1. Body
  1.1. Links
  1.2. Tables
2. Wrappers
  2.1. Core structure
  2.2. Widgets
  2.3. Menu
3. Common styles
  3.1. Forms
  3.2. Utility classes
  3.3. Status and info
  3.4. Carousel
4. Functionnal parts
  4.1. Editor
  4.2. Sidebars
  4.3. Categories
  4.4. Dashboard
  4.5. Settings
  4.6. Themes
  4.7. Theme editor
  4.8. Feedback
  4.9. Pages
  4.10. Resources uploads

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
1. Body
*/

body {
  margin: 0 0 50px 0;
  padding: 0 20px;
  font: 11px/17px 'Lucida Grande', 'Lucida Sans', 'Arial', sans-serif;
  height: 100%;
}


/*------------------------------------------------------------------
1.1. Links
*/

a.button {
  padding: 0.4em 1em;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border-radius: 3px;
  font-weight: bold;
}

h1 a { border: none; 
  text-decoration: none;
}

/*------------------------------------------------------------------
1.2. Tables
*/

table {
  width: 100%;
  line-height: 1.3em;
  margin: 20px 0;
  padding: 0;
  text-decoration: none;
  border-collapse: collapse;
}

th {
  text-align: left;
  vertical-align: middle;
  font-weight:bold;
}

td.comment_list { 
  padding-right: 20px;
}

td.paginate {
  text-align: center;
}


/*------------------------------------------------------------------
2. Wrappers
*/


/*------------------------------------------------------------------
2.1. Core structure
*/

#header {
  float: left;
  width: 60%;
}

#new_article {
  float: left;
  width: 10%;
  padding-top: 15px;
}

#logout {
  display: block;
  width: 28%;
  margin-left: 70%;
  text-align: right;
  padding-top: 15px;
  font-size: 13px;
}

#container {
  clear: both;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 1.1em;
  padding: 0.2em;
  position: relative;
}

#content {
  background: none repeat scroll 0 0 transparent;
  border-width: 0;
  display: block;
  padding: 1em 1.4em;
  position: relative;
}

#footer { 
  clear: both;
}


/*------------------------------------------------------------------
2.2. Widgets
*/

.widget-container {
  color: black;
  font-size: 12px;
  line-height: 15px;
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
}

.widget-container h3 {
  margin-top: 1px;
  position: relative;
  font-weight: bold;
  padding: 0.5em 2.2em;
  -moz-border-radius-topleft: 3px; 
  -webkit-border-top-left-radius: 3px; 
  border-top-left-radius: 3px; 
  -moz-border-radius-topright: 3px; 
  -webkit-border-top-right-radius: 3px; 
  border-top-right-radius: 3px;
  line-height: 1.3;
  margin: 0;
  outline: 0 none;
  text-decoration: none;
  font-size: 1em;
}

.widget-content {
  display: block;
  border-top: none;
  margin-bottom: 2px;
  margin-top: -2px;
  overflow: auto;
  padding: 1em 2.2em;
  position: relative;
  -moz-border-radius-bottomleft: 3px; 
  -webkit-border-bottom-left-radius: 3px; 
  border-bottom-left-radius: 3px; 
  -moz-border-radius-bottomright: 3px; 
  -webkit-border-bottom-right-radius: 3px; 
  border-bottom-right-radius: 3px;
  font-size: 1em;
  line-height: 1.3em;
  list-style: none outside none;
  margin: 0;
}

span.ui-icon {
  position: absolute; 
  left: .5em; 
  top: 50%; 
  margin-top: -8px;
  display: block; 
  text-indent: -99999px; 
  overflow: hidden;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

.ui-icon-arrowthick-2-n-s { 
  background-position: -128px -48px; 
}

.ui-icon-note { 
  background-position: -64px -96px; } 

.ui-icon-comment { 
  background-position: -128px -96px; 
} 

.ui-icon-person { 
  background-position: -144px -96px; 
} 

.ui-icon-pencil { 
  background-position: -64px -112px; 
} 

.ui-icon-disk { 
  background-position: -96px -112px; 
} 

.ui-icon-gear { 
  background-position: -192px -112px; 
} 

.ui-icon-star { 
  background-position: -224px -112px; 
} 

.ui-icon-link { 
  background-position: -240px -112px; 
} 

.ui-icon-contact { 
  background-position: -192px -128px; 
}

.ui-icon-image { 
  background-position: -208px -128px; 
} 

.ui-icon-alert { 
  background-position: 0 -144px; 
} 

.ui-icon-info { 
  background-position: -16px -144px; 
} 

.ui-icon-signal-diag { 
  background-position: -16px -176px; 
} 


/*------------------------------------------------------------------
2.3. Menu
*/

#menu {
  font-weight: bold;
}

#menu ul#tabs {
  display: inline-block;
  margin: 0;
  padding: 0.2em 0.2em 0;
  text-decoration: none;
  border: 0 none;
  font-size: 1em;
  line-height: 1.3em;
  list-style: none outside none;
}

#menu ul#tabs li {
  margin-bottom: 0;
  padding-bottom: 1px;
  border-bottom: 0 none !important;
  float: left;
  list-style: none outside none;
  margin: 0 0.2em 1px 0;
  position: relative;
  top: 1px;
  white-space: nowrap;
  -moz-border-radius-topleft: 3px; 
  -webkit-border-top-left-radius: 3px; 
  border-top-left-radius: 3px; 
  -moz-border-radius-topright: 3px; 
  -webkit-border-top-right-radius: 3px; 
  border-top-right-radius: 3px;
  font-weight: bold;
}

#menu ul#tabs li a {
  float: left;
  padding: 0.5em 1em;
  text-decoration: none;
}

#menu ul#subtabs {
  margin: 0;
  padding: 0.2em 0.2em 0;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
   display: block;
   list-style: none outside none;
}

#menu ul#subtabs:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}

/* required comment for clearfix to work in Opera \*/
#menu ul#subtabs { 
  height: 1%; 
}

#menu ul#subtabs li {
  border-bottom: 0 none !important;
  float: left;
  list-style: none outside none;
  margin: 0 0.2em 1px 0;
  padding: 0;
  position: relative;
  top: 1px;
  display: inline-block
  white-space: nowrap;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.3em;
}

#menu ul#subtabs li a {
  float: left;
  padding: 0.5em 1em;
  text-decoration: none;
  cursor: pointer;
}

span.subtabs {
  float: left;
  padding: 0.5em 1em;
}


/*------------------------------------------------------------------
3. Common styles
*/


/*------------------------------------------------------------------
3.1. Forms
*/

.float { 
  display: block; 
  float: left; 
  width: 200px; 
  line-height: 20px; 
}

.small { 
  width: 200px; 
}

.medium { 
  width: 400px; 
}

.large { 
  width: 99%; 
}

input.large, input.medium, input.small, textarea, select {
  font: 1em/1.6em 'Lucida Grande', 'Lucida Sans', 'Arial', sans-serif;;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border-radius: 3px; 
}


input.large, input.medium, input.small, textarea { 
  padding: 3px; 
}

select {
  padding: 2px;
}

.setting .input_text { 
  margin: 0 0 0 200px; 
}


/*------------------------------------------------------------------
3.2. Utility classes
*/

.action {
  margin-top: 10px;
}

.save { 
  -moz-border-radius:3px 3px 3px 3px; 
  -webkit-border-radius:3px 3px 3px 3px; 
  font-weight: bold; 
  cursor: pointer; 
  padding: 0.2em 0.4em; 
}

.top-layer {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  z-index: 1;
}

.top-layer .close-button {
  float: right;
  width: 15px;
  height: 15px;
}

.concrete {
  padding: 1em 2em;
  background-color: #F9F9F9;
  border: 1px solid #A2A1A2;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}

/*------------------------------------------------------------------
3.3. Status and info
*/

.ui-state-highlight {
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border-radius: 3px;
}
  
.ui-state-error, .errorExplanation {
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border-radius: 3px;
  padding: 0.7em; 
  margin: 0.7em
}

.info {
  font-size: 1em;
  line-height: 1.3;
  list-style: none outside none;
  text-decoration: none;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border-radius: 3px;
  padding: 0 0.7em;
  margin-top: 0.7em;
}

.help, .help-inline { 
  font-style: italic; 
  font-size: 10.5px;
}

span.help { 
  display: block; 
}

.mandatory { 
  font-weight: bolder;
}

.clear { 
  clear: both;
}


/*------------------------------------------------------------------
3.4. Carousel
*/

#carousel-wrapper {
  width: 100%;
  height: 150px;
  overflow: hidden;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border-radius: 3px;
}

#carousel-content {
  width: 1400px;
}

#carousel-content .slide {
  float: left;
  height: 125px;
  padding: 10px 0;
  text-align: center;
  margin-right: 20px;
}

#carousel-content .slide img {
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border-radius: 3px;
}


/*------------------------------------------------------------------
4. Functionnal parts
*/

/*------------------------------------------------------------------
4.1. Editor
*/

#editor-left { 
  margin-right: 320px; 
}

#editor-right { 
  float: right; 
  width: 280px;
}

#editor-right .settings { 
  margin-top: 0; 
  width: 100%;
}

#editor-right .widget-content { 
  padding: 1em 0.7em; 
  overflow: auto; 
}

#editor-menu { 
  margin-bottom: 0; 
  text-align: right; 
  margin-top: 20px; 
  margin-right: 13px;
}

#editor-menu a {
  margin-left: 0;
  margin-right: -0.3em;
  border-bottom: none;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  padding: 0.4em 1em; line-height: 1.4;
}

#editor-menu a:hover {
  border-bottom: none;
}

#editor-menu label.active a:hover {
  font-weight: bold; 
  border-bottom: none;
}

#editor-menu label.active a {
  border-bottom: none;
}

#editor-menu #f a {
  -moz-border-radius-topleft: 3px; 
  -webkit-border-top-left-radius: 3px; 
  border-top-left-radius: 3px; 
}

#editor-menu #s a {
  -moz-border-radius-topright : 3px; 
  -webkit-border-top-right-radius: 3px; 
  border-top-right-radius: 3px; 
}

#editor {
  font-size: 1em;
  line-height: 1.3;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  margin-top: -1px;
  padding: 3px 2px;
}

.ed_button {
  -moz-border-radius: 3px;
  -webkit-border-radius : 3px;
  border-radius: 3px;
  font-weight: bold;
  margin-right: 0.2em;
  padding: 0.2em 0.4em;
  cursor: pointer;
}

.ed_bold {
  font-weight: bold;
}

.ed_italic {
  font-style: italic;
}

#article_keywords_auto_complete {
  margin-top: 2px;
  position: absolute;
  z-index: 999;
}

#article_keywords_auto_complete ul {
  margin: 0;
  padding: 0;
}

#article_keywords_auto_complete ul li {
  list-style: none;
  padding: 3px 5px;
}

#ed_toolbar_article_body_and_extended, #ed_toolbar_page_body { 
  margin: 0 0 1px 0;
  float: left; 
}

.ed_span {
  display: block;
  float: left;
  padding: 1px 4px 2px 4px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-right: 2px;
}

.ed_style {
  height: 16px;
  margin-top: 1px;
  padding: 0;
  border: none;
}

/*------------------------------------------------------------------
4.2. Sidebars
*/

#available_box div.widget-container {
  z-index: 999;
}

#available {
  float: left;
  width: 48%;
}

#active {
  border: 1px dashed #A2A1A2;
  padding: 1em 2.2em;
}

#cnt-active {
  float: left;
  width: 48%;
  margin-left: 4%;
}

.target { 
  cursor: move;
}

#available_box div.widget-content {
  padding-top: 0;
  padding-bottom: 0;
}


/*------------------------------------------------------------------
4.3. Categories
*/

#category_list li {
  font-weight: bold;
  font-size: 1.1em;
  width: 400px;
}

#category_list li { 
  list-style: none; 
  margin-bottom: 2px; 
  padding: 0.5em; 
  cursor: move;
}

#category_list li span { 
  float: left;
}

.category_editor {
  float: left;
  width: 362px;
}

#category_container {
  margin-left: 437px;
}


/*------------------------------------------------------------------
4.4. Dashboard
*/
.dashboard-left { 
  width: 49%; 
  float: left; 
  margin-right: 5px; 
  margin-top: 20px;
  padding-right: 0.5%;
}

.dashboard { 
  width: 48%; 
  float: left; 
  margin: 20px 0 0 0;
}

ol.dashboardList {  
  padding: 0;
  margin: 0;
}

ol.dashboardList li {
  list-style: none;
  font-size: 90%;
  padding-bottom: 5px;
}

ol.dashboardList li h4 {
  margin-bottom: 3px;
  margin-top: 8px;
}

ol.dashboardList img.avatar {
  margin: 0 10px 5px 0;
}


/*------------------------------------------------------------------
4.5. Settings
*/

div.setting { 
  float: left; 
  margin-bottom: 12px;
}

.settings { 
  margin-bottom: 20px; 
}

.settings.left { float: left; 
  padding-right: 40px; 
}

.right { 
  text-align: right;
}


/*------------------------------------------------------------------
4.6. Themes
*/

.theme {
  width: 30%; float: left; margin-right: 2%;
  overflow: hidden;
}

.theme img {
  width: 250px;
  display: block;
  margin: 0 auto;
}

.theme_select  {
  margin: 0 auto;
  text-align: center;
  padding-top: 17px;
}

.theme_select a {
  padding: 0.4em 1em 0.4em 1em;
}


/*------------------------------------------------------------------
4.7. Theme editor
*/

.theme-filer ul { 
  margin: 0; 
  padding: 0;
}

.theme-filer ul li { 
  list-style: none;  
}


/*------------------------------------------------------------------
4.8. Feedback
*/

.gravatar { 
  float: left; 
  padding: 3px;
}

.comment_content { 
  margin-left: 45px; 
  padding-right: 40px; 
}

a.noborder { 
  border: none; 
  text-decoration: none;
}


/*------------------------------------------------------------------
4.9. Pages
*/

.page_heading {
  margin-right: 300px;
}

.page_new {
  float: right;
  width: 300px;
  text-align: right;
  padding-top: 17px;
}

.page_new a {
  padding: 0.4em 1em 0.4em 1em;

}

/*------------------------------------------------------------------
4.10. Resources uploads
*/

#status {
  margin-top: 10px;
}

.uploadStatus { 
  padding: 0.5em 20px;
}
