/* General */

body {
  padding-top: 40px;
}

footer {
  padding-bottom: 20px;
}

table.clearfix {
  clear: both;
  margin-top: 18px;
}

tr.noborder td {
  border-top: none;
}

th {
  background: none;
}

td small {
  color: #BFBFBF;
  font-size: 11px;
}

td.article-title .action {
  display: none;
}

td.article-title:hover .action {
  display: block;
}

.badge a {
  color: #fff;
}

/* Dashboard */

.dashboard-left { 
  width: 49%; 
  float: left; 
}

.dashboard {
    width: 49%; 
    margin-left: 51%; 
}

/* Tags, categories, post types... */
.left_form {
  float: left; 
  width: 300px; 
  padding-top: 18px;
}

.right_table {
  margin-left: 320px;
  padding-top: 18px:
}

/* Editor */
#editor {
  float: left; 
  width: 100%;
}

#editor-menu {
  width: 100%;
  float: left;
  margin-top: 18px;
}

#editor-menu ul {
  width: 100%;
  margin-bottom: 0;
}

#editor-menu ul li.active a {
  color: #808080;
  background: #F5F5F5;
}

.separator {
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 17px 0 18px 0;
}

#visual_editor {
  width: 100%; 
  float: left; 
  display: block;
}

/* Carousel */
#carousel-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 18px;
}

#carousel-content {
  width: 3000px;
  overflow: hidden;
}

#carousel-wrapper a {
  border: 1px solid #ddd;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  float: left;
  padding: 4px;
  margin-right: 20px;
  cursor: pointer;
}

/* Sidebars */

.avatar {
	float: left;
	margin-right: 3px;
	margin-bottom: 3px;
}

#autocomplete li {
	background: #D9EDF7;
	color: #3A87AD;
	padding: 5px 8px;
	line-height: 18px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

#autocomplete li:hover {
	color: #00438a;
	border-bottom: 1px solid #00438a;
}

#main  {
  padding-left: 0;
}

a.delete {
  color: #d14;
}

a.delete:hover,
a.delete:focus {
  color: #b94a48;
}

#preview_link {
  font-weight: normal;
}