@import url("undohtml.css");

* {
  font-family: "Lucida Grande", "verdana", "tahoma";
}

body {
	padding: 0;
	margin: 0;
	text-align: justify;
	font-size: 11px;
	background: #f0f0f0;
	color: #858585;	
}

a {
	color: #858585;
	text-decoration: none;
	background-color: transparent;
}
	
a:hover {
  color: #444;
}
	
a:active {
	color: #000;
	background-color: transparent;
	border-color: #779;
}
	
.link a {
  color: blue;
  text-decoration: underline;
}

a.link {
  color: blue;
}

a:hover.link {
  text-decoration: underline;
}

h1 {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 20px;
  overflow: hidden;
  border: 0;
  margin: 0;
  padding: 15px;
  line-height: 120%;
  font-size: 11pt;
}

ul#browse {
  margin: 60px auto 0 auto;
  position: fixed;
  width: 300px;
}
#files {
  top: 300px;
  margin: 0 auto;
  position: fixed;
  width: 500px;
  padding: 40px;
  background: white;
  
}