.article-tile {
  position: relative;
  width: 100%;
  padding: baseline-unit(13) baseline-unit(5);
  min-height: 400px;

  .flexbox & {
    min-height: 0;
  }

  @include respond-to($mq-m) {
    padding: baseline-unit(16) baseline-unit(5);
  }

  @include respond-to($mq-l) {
    padding: baseline-unit(13) baseline-unit(5);
  }

  @include respond-to($mq-xl) {
    padding: baseline-unit(18) baseline-unit(6);
  }
}

.article-tile--one {
  background-color: $article-tile-bg--one;
}

.article-tile--two {
  background-color: $article-tile-bg--two;
}

.article-tile--three {
  background-color: $article-tile-bg--three;
}

.article-tile--popular {
  background-color: $article-tile-bg--popular;

  padding-top: baseline-unit(5);
  padding-bottom: baseline-unit(5);
}

.article-tile--mas {
  background-color: $article-tile-bg--mas;
}

.article-tile__heading {
  @include font-size(30);
  line-height: 1.2;
  display: block;

  .article-tile--popular & {
    text-transform: uppercase;
    @include font-size(18);
    color: $black;
  }
}

.article-tile__heading--one,
.article-tile__heading--three {
  color: $article-tile-text--one;

  &:hover,
  &:focus,
  &:visited {
    color: $article-tile-text--one;
  }
}

.article-tile__heading--two {
  color: $article-tile-text--two;

  &:hover,
  &:focus,
  &:visited {
    color: $article-tile-text--two;
  }
}

.article-tile__heading--mas {
  color: $article-tile-text--mas;

  &:hover,
  &:focus,
  &:visited {
    color: $article-tile-text--mas;
  }
}

.article-tile__date {
  @include font-size(18);
  font-weight: $font-weight-bold;
}

.article-tile__date--one {
  color: $article-tile-date--one;
}

.article-tile__date--two {
  color: $article-tile-text--three;
}

.article-tile__date--three {
  color: $article-tile-text--four;
}

.article-tile__date--mas {
  color: $article-tile-text--mas;
}

.article-tile__rating {
  @include font-size(18);
  font-weight: $font-weight-bold;
  margin-top: baseline-unit(9);
  display: block;
}

.article-tile__rating--one {
  color: $article-tile-text--one;
  &:visited {
    color: $article-tile-text--one;
  }
}

.article-tile__rating--two {
  color: $article-tile-text--three;
  &:visited {
    color: $article-tile-text--three;
  }
}

.article-tile__star {
  position: relative;
  top: 4px;
  margin-right: baseline-unit(1);
  width: 25px;

  polygon {
    fill: #F8C701;
  }
}

.article-tile__comments {
  @include font-size(18);
  font-weight: $font-weight-bold;
  position: absolute;
  right: baseline-unit(4);
  bottom: baseline-unit(5);
  padding: 7px 14px;
  min-width: 52px;
  text-align: center;
  display: block;
  color: $article-tile-text--one;

  &:focus,
  &:hover,
  &:visited {
    color: $article-tile-text--one;
  }
}

.article-tile__comments--one {
  background-color: $article-tile-comments-bg--one;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 24px 12px 0;
    border-color: transparent $article-tile-comments-bg--one transparent transparent;
    position: absolute;
    bottom: -12px;
    right: 9px;
  }
}

.article-tile__comments--two {
  background-color: $article-tile-comments-bg--two;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 24px 12px 0;
    border-color: transparent $article-tile-comments-bg--two transparent transparent;
    position: absolute;
    bottom: -12px;
  }
}

.article-tile__comments--three {
  background-color: $article-tile-comments-bg--three;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 24px 12px 0;
    border-color: transparent $article-tile-comments-bg--three transparent transparent;
    position: absolute;
    bottom: -12px;
  }
}

.article-tile-list {
  list-style: none;
  padding: 0;
  margin-top: baseline-unit(9);
}

.article-tile-list__item {
  @include font-size(30);
  line-height: baseline-unit(6);
  display: inline;
  color: $black;

  &:before {
    @include font-size(25);
    display: inline-block;
    content: "•";
    color: $white;
    margin: 0 baseline-unit(2);
  }

  &:first-child {
    &:before {
      content: "";
      margin: 0;
    }
  }

  &:nth-child(2n) {
    font-weight: $font-weight-bold;
  }
}

.artile-tile-list__item-link {
  &:link,
  &:visited,
  &:hover,
  &:focus {
    color: $black;
  }
}
