<% unless sidebar.pages.blank? %>
  <h3 class="sidebar-title"><%= t(".pages")%></h3>
  <div class="sidebar-body">
    <ul>
      <% for page in sidebar.pages %>
        <li>
      <%= link_to page.title, page.permalink_url %>
      </li>
    <% end %>
    </ul>
  </div>
<% end %>
