@font-face {
  font-family: "museo_sans";
  src: url("/assets/dough/assets/fonts/MuseoSans_300.eot");
  src: url("/assets/dough/assets/fonts/MuseoSans_300.eot?#iefix") format("embedded-opentype"), url("/assets/dough/assets/fonts/MuseoSans_300.woff") format("woff"), url("/assets/dough/assets/fonts/MuseoSans_300.ttf") format("truetype"), url("/assets/dough/assets/fonts/MuseoSans_300.svg#svgFontName") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "museo_sans";
  src: url("/assets/dough/assets/fonts/MuseoSans_500.eot");
  src: url("/assets/dough/assets/fonts/MuseoSans_500.eot?#iefix") format("embedded-opentype"), url("/assets/dough/assets/fonts/MuseoSans_500.woff") format("woff"), url("/assets/dough/assets/fonts/MuseoSans_500.ttf") format("truetype"), url("/assets/dough/assets/fonts/MuseoSans_500.svg#svgFontName") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "museo_sans";
  src: url("/assets/dough/assets/fonts/MuseoSans_700.eot");
  src: url("/assets/dough/assets/fonts/MuseoSans_700.eot?#iefix") format("embedded-opentype"), url("/assets/dough/assets/fonts/MuseoSans_700.woff") format("woff"), url("/assets/dough/assets/fonts/MuseoSans_700.ttf") format("truetype"), url("/assets/dough/assets/fonts/MuseoSans_700.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "museo_slab";
  src: url("/assets/dough/assets/fonts/MuseoSlab_900.eot");
  src: url("/assets/dough/assets/fonts/MuseoSlab_900.eot?#iefix") format("embedded-opentype"), url("/assets/dough/assets/fonts/MuseoSlab_900.woff") format("woff"), url("/assets/dough/assets/fonts/MuseoSlab_900.ttf") format("truetype"), url("/assets/dough/assets/fonts/MuseoSlab_900.svg#svgFontName") format("svg");
  font-weight: 900;
  font-style: normal;
}
