# General Apache options
AddHandler fastcgi-script .fcgi
#AddHandler fcgid-script .fcgi
AddHandler cgi-script .cgi
#Options +FollowSymLinks +ExecCGI

# If you don't want Rails to look in certain directories,
# use the following rewrite rules so that Apache won't rewrite certain requests
#
# Example:
#   RewriteCond %{REQUEST_URI} ^/notrails.*
#   RewriteRule .* - [L]

# If Typo is accessed via an Alias directive, then you MUST also set
# the RewriteBase in this htaccess file.
#
# Example:
#   Alias /blog /path/to/typo/public
#   RewriteBase /blog

RewriteEngine On
RewriteRule ^/$ /cache/index.html [QSA]
RewriteCond %{DOCUMENT_ROOT}/cache/%{REQUEST_FILENAME} -f
RewriteRule ^/(.*)$ /cache/$1 [PT]
RewriteCond %{DOCUMENT_ROOT}/cache/%{REQUEST_FILENAME}.html -f
RewriteRule ^/(.*)$ /cache/$1.html [PT]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ dispatch.fcgi [QSA,L]

# In case Typo experiences terminal errors
# Instead of displaying this message you can supply a file here which will be rendered instead
#
# Example:
#   ErrorDocument 500 /500.html

ErrorDocument 500 "<h2>Application error</h2>Typo failed to start properly"
