.l-article {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(7);
    @include push(1);
  }

  margin-top: baseline-unit(12);

  h1, h2, h3, p {
    max-width: 550px;
  }
}

.l-article-info {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(2);
    position: relative;
    top: baseline-unit(-12);
    z-index: $z-foreground;
  }
}
