.l-article {
  @include column(12);
  position: relative;

  @include respond-to($mq-m) {
    float: right;
  }
}

.l-article--author-page {
  min-height: baseline-unit(100);
  margin-bottom: baseline-unit(8)
}

.l-article__header {
  margin-top: baseline-unit(2);
  @include font-size(36);
  color: $outer-space;

  @include respond-to($mq-two-col) {
    @include push(3);
    width: 55%;
    @include font-size(48);
    margin-top: baseline-unit(12);
  }

  @include respond-to($mq-l) {
    max-width: 550px;
  }
}

.l-article-info {
  margin-bottom: baseline-unit(2);

  @include respond-to($mq-two-col) {
    position: absolute;
    @include column(2);
    top: baseline-unit(-10);
    left: baseline-unit(15);
    z-index: $z-foreground;
  }

  @include respond-to($mq-l) {
    top: baseline-unit(-11);
  }

  @include respond-to($mq-xl) {
    top: baseline-unit(-13);
  }
}

.l-article__body,
.l-article__results {
  @include respond-to($mq-two-col) {
    @include column(7);
    @include push(3);
    margin-bottom: baseline-unit(4);
  }

  @include respond-to($mq-l) {
    h1, h2, h3, p, ul, ol {
      max-width: 550px;
    }
  }
}
