.l-article {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(7);
    @include pull(2);
    float: right;
  }


  h1, h2, h3, p {
    max-width: 550px;
  }
}

.l-article--header {
  margin-top: baseline-unit(13);
}

.l-article-info {
  @include column(12);
  margin-bottom: baseline-unit(2);

  @include respond-to($mq-m) {
    @include column(2);
    position: relative;
    top: baseline-unit(-12);
    z-index: $z-foreground;
  }
}
