.l-banner {
  background-color: $banner-bg-color;
  min-height: 100px;

  .l-constrained {
    position: relative;
  }
}

.l-banner__image {
  width: 100%;
}

.l-banner__tags {
  @include column(12);
  z-index: $z-foreground;

  .tags {
    float: right;
  }

  @include respond-to($mq-m) {
    position: relative;
    top: baseline-unit(-10);
  }
}
