.l-filter {
  display: none;

  .js & {
    position: relative;
    background: #00345a;
    overflow: hidden;
  }
}

.l-filter__headline {
  position: absolute;
  top: baseline-unit(4);
  left: baseline-unit(4);
  @include font-size(18);
  font-family: $base-font-family;
  font-weight: $font-weight-light;
  color: $link-color--negative;

  @include respond-to($mq-m) {
    top: baseline-unit(5);
  }
}

.l-filter__list {
  @extend .unstyled-list;
  margin: 0 baseline-unit(3.5);
  padding: baseline-unit(4) 0;

  @include respond-to($mq-m) {
    margin: 0;
    padding: baseline-unit(4.5) 0 baseline-unit(4.5) 0;
    float: right;
  }
}

.l-filter__list-item {
  @include font-size(18);
  font-family: $base-font-family;
  font-weight: $font-weight-bold;
  text-align: right;
  color: #7fa8c6;

  @include respond-to($mq-m) {
    display: inline-block;
    margin: 0 0 0 baseline-unit(6);
  }
}

.l-filter__list-link {
  &:link,
  &:focus,
  &:hover,
  &:visited {
    color: $link-color--negative;
  }
}

.l-header {
  background-color: $header-bg-color;
  overflow: hidden;
  width: 100%;
  z-index: 1000;

  &.animate {
    transition: margin .3s;
  }

  .l-constrained {
    @include column(12);
    position: relative;

    @include respond-to($mq-m) {
      display: block;
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.filter-active {
    margin-top: 0 !important;
  }

  @include respond-to($mq-m) {
    &:after {
      content: "shallow";
      display: none;
    }
  }

  @include respond-to($mq-l) {
    padding-bottom: baseline-unit(2);

    .homepage & {
      padding-bottom: 0;
    }
  }
}

.l-header__top {
  overflow: hidden;
  border-bottom: 1px solid #1f5d8e;
  margin-left: baseline-unit(3);
  margin-right: baseline-unit(3);

  @include respond-to($mq-m) {
    border-bottom: 0;
    display: inline;

    .homepage & {
      display: block;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.l-header__bottom {
  overflow: hidden;
  margin-left: baseline-unit(3);
  margin-right: baseline-unit(3);

  @include respond-to($mq-m) {
    display: inline;

    .homepage & {
      display: block;
    }
  }

  .homepage & {
    text-align: center;
  }
}

.l-logo {
  background: asset-url('logo.svg') no-repeat;
  margin: baseline-unit(4) 0;
  width: 180px;
  height: 29px;
  float: left;

  @include respond-to($mq-m) {
    margin-left: baseline-unit(3);
  }

  @include respond-to($mq-l) {
    width: 240px;
    height: 37px;
    margin: baseline-unit(2) 0 baseline-unit(2) baseline-unit(3);
  }
}

.l-logo__link {
  display: block;
  width: 100%;
  height: 100%;
}

.l-header__search-button {
  display: inline-block;
  width: 60px;
  height: 48px;
  background: #185786;
  border-radius: 8px;
  margin: baseline-unit(2) 0;
  position: absolute;
  top: 0;
  right: baseline-unit(3);

  &:after {
    position: absolute;
    content: "";
    display: inline-block;
    top: 10px;
    left: 16px;
    width: 26px;
    height: 26px;
    background: asset-url('magnify.svg') no-repeat;
  }

  @include respond-to($mq-m) {
    right: baseline-unit(25);
  }
}

.l-header-logo {
  display: inline-block;

  @include respond-to($mq-m) {
    position: absolute;
    top: 0;
    left: 31%;

    .homepage & {
      left: 0;
      position: relative;
    }
  }

  @include respond-to($mq-l) {
    left: 38%;
  }
}

.l-header-logo-beta {
  margin-top: baseline-unit(3);
  float: left;
  width: 40px;
  height: 40px;

  .homepage & {
    width: 100%;
    margin-top: baseline-unit(2);
    margin-bottom: baseline-unit(3);

    @include respond-to($mq-m) {

    }

    @include respond-to($mq-l) {
      width: 100%;
      height: 60px;
    }
  }
}

.l-header-logo-beta__line {
  stroke: $picton-blue;
  stroke-width: 20;
  stroke-linecap: round;
}

.l-header-logo-beta__text {
  fill: $white;
}

.l-header-logo__title {
  @include font-size(18);
  margin-left: baseline-unit(2);
  margin-top: baseline-unit(4.5);
  margin-bottom: baseline-unit(4);
  font-family: $brand-font;
  font-weight: $brand-font-weight;
  float: left;
  color: $link-color--negative;

  .homepage & {
    clear: both;
    @include font-size(36);
    margin-top: 0;
    line-height: baseline-unit(6);
    margin-bottom: 0;
    margin-left: 0;

    @include respond-to($mq-l) {
      @include font-size(48);
      margin-top: baseline-unit(1);
    }
  }
}

.l-header-title__link {
  &:link,
  &:focus,
  &:hover,
  &:visited {
    color: $white;
    text-decoration: none;
  }
}

.l-header-filter-button {
  margin: baseline-unit(2) 0;
  width: 44px;
  height: 44px;
  float: right;
  display: block;

  .unstyled-button {
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
  }

  .icon {
    background: asset-url('arrow-down.svg') no-repeat right center;
    background-size: 28px 15px;
    width: 30px;
    height: 20px;
    float: right;
    margin-top: baseline-unit(1);
  }

  @include respond-to($mq-m) {
    width: 123px;
  }
}

.l-header-filter-button .is-active .icon {
  transform: scaleY(-1);
}

.l-header-filter-button__selected-item {
  display: none;

  @include respond-to($mq-m) {
    color: $white;
    display: block;
    font-weight: bold;
    margin-top: baseline-unit(1);
  }
}

.l-header__description {
  display: block;
  font-weight: $font-weight-light;
  text-align: center;
  color: $link-color--negative;
  width: 100%;
  margin: 0 auto;
  max-width: 530px;
  margin-bottom: baseline-unit(6);

  @include respond-to($mq-m) {
    @include font-size(18);
    margin-top: baseline-unit(2);
    margin-bottom: baseline-unit(10);
    clear: both;
  }
}


