.l-styleguide {
  overflow: hidden;
  padding: 0 10% 200px 10%;
}

.l-styleguide-section {
  overflow: hidden;
  margin-top: baseline-unit(4);
  margin-bottom: baseline-unit(8);
}

.l-styleguide__title {
  margin-top: baseline-unit(8);
}
