.l-tiles {
  @include column(12);
  margin-top: 5px;

  .flexbox & {
    flex-wrap: wrap;
    flex-flow: row wrap;

    @include respond-to($mq-m) {
      display: flex;
    }
  }
}

.l-tile {
  width: 100%;
  margin-bottom: 5px;

  @include respond-to($mq-m) {
    float: left;

    .non-article-page & {
      width: 50%;
      padding-left: 5px;

      .flexbox & {
        flex-basis: 50%;
        float: none;
        min-height: 0;
        display: flex;
      }

      &:nth-child(2n-1) {
        padding-left: 0;
      }
    }
  }

  @include respond-to($mq-l) {
    .non-article-page &,
    .article-page & {
      width: 33.333%;
      padding-left: 5px;

      .flexbox & {
        display: flex;
        flex-basis: 33.333%;
      }

      &:nth-child(2n-1) {
        padding-left: 5px;
      }

      &:nth-child(3n-2) {
        padding-left: 0;
      }
    }
  }
}

.l-tile--archive {
  float: right;

  @include respond-to($mq-m) {
    .flexbox & {
      margin-left: auto;
      float: none;
    }

    &:nth-child(3n-2) {
      .non-article-page & {
        padding-left: 5px;
      }
    }
  }
}
