.l-tiles {
  @include column(12);
  margin-top: 5px;

  .flexbox & {
    flex-wrap: wrap;
    flex-flow: row wrap;

    @include respond-to($mq-m) {
      display: flex;
    }
  }
}

.l-tile {
  width: 100%;
  margin-bottom: 5px;

  @include respond-to($mq-m) {
    width: 50%;

    float: left;
    min-height: 400px;

    .flexbox & {
      flex-basis: 50%;
      float: none;
      min-height: 0;
    }

    padding-left: 5px;
    display: flex;

    &:nth-child(2n-1) {
      padding-left: 0;
    }
  }

  @include respond-to($mq-l) {
    width: 33.3%;

    .flexbox & {
      flex-basis: 33.3%;
    }

    &:nth-child(2n-1) {
      padding-left: 5px;
    }

    &:nth-child(3n-2) {
      padding-left: 0;
    }
  }
}
