<%= render 'shared/header' %>

<main role="main">
  <div class="l-constrained">
    <%= render 'shared/campaigns' %>
    <div class="l-tiles">
      <div class="l-tile">

      </div>
    </div>
  </div>
</main>
