<main class="l-styleguide">

  <h1 class="l-styleguide__title">Styleguide</h1>

  <section class="l-styleguide-section">
    <ul>
      <li><%= link_to("Show All", "/styleguide/show") %></li>
      <li><%= link_to("Article Page", "/styleguide/article_page") %></li>
      <li><%= link_to("Homepage", "/styleguide/home_page") %></li>
    </ul>
  </section>

</main>
