h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.2;
  font-weight: $font-weight-bold;
  color: $heading-color-primary;
}

h1 {
  @include font-size(48);
}

h2 {
  @include font-size(30);
}

h3 {
  @include font-size(24);
}
