html {
  // prevents bootstrap bollocks from screwing with my styles.
  font-size: 100%;
}

body {
  font-family: $base-font-stack;
  font-size: $base-font-size + px;
  line-height: $base-line-height;
  font-weight: $font-weight-light;
}

p {
  margin-bottom: baseline-unit(4);
}
