body {
  font-family: $base-font-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $font-weight-light;
}

.intro {
  @include font-size(22);
  color: $heading-color-primary;
}
