<div class="l-tiles">
  <div class="l-tile">
    <div class="article-tile article-tile--one">
      <h2><a class="article-tile__heading article-tile__heading--one" href="">Top student money survival tips</a></h2>
      <time class="article-tile__date article-tile__date--one">24th November</time>
      <a class="article-tile__rating article-tile__rating--one" href="">
        <svg class="article-tile__star" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 41.1 39.1" enable-background="new 0 0 41.1 39.1" xml:space="preserve">
          <polygon points="20.5,0 26.9,12.9 41.1,14.9 30.8,24.9 33.2,39.1 20.5,32.4 7.8,39.1 10.3,24.9 0,14.9 14.2,12.9 "/>
        </svg>
        99% like
      </a>
      <a href="" class="article-tile__comments article-tile__comments--one">
        24
      </a>
    </div>
  </div>

  <div class="l-tile">
    <div class="article-tile article-tile--two">
      <h2><a class="article-tile__heading article-tile__heading--two" href="">Top student money survival tips</a></h2>
      <time class="article-tile__date article-tile__date--two">24th November</time>
      <a class="article-tile__rating article-tile__rating--two" href="">
        <svg class="article-tile__star" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 41.1 39.1" enable-background="new 0 0 41.1 39.1" xml:space="preserve">
          <polygon points="20.5,0 26.9,12.9 41.1,14.9 30.8,24.9 33.2,39.1 20.5,32.4 7.8,39.1 10.3,24.9 0,14.9 14.2,12.9 "/>
        </svg>
        99% like
      </a>
      <a href="" class="article-tile__comments article-tile__comments--two">
        24
      </a>
    </div>
  </div>

  <div class="l-tile">
    <div class="article-tile article-tile--three">
      <h2><a class="article-tile__heading article-tile__heading--three" href="">Top student money survival tips</a></h2>
      <time class="article-tile__date article-tile__date--three">24th November</time>
      <a class="article-tile__rating article-tile__rating--one" href="">
        <svg class="article-tile__star" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 41.1 39.1" enable-background="new 0 0 41.1 39.1" xml:space="preserve">
          <polygon points="20.5,0 26.9,12.9 41.1,14.9 30.8,24.9 33.2,39.1 20.5,32.4 7.8,39.1 10.3,24.9 0,14.9 14.2,12.9 "/>
        </svg>
        99% like
      </a>
      <a href="" class="article-tile__comments article-tile__comments--three">
        24
      </a>
    </div>
  </div>
</div>
