<div class="article-tile article-tile--one">
  <h2 class="article-tile__heading article-tile__heading--one">Top student money survival tips</h2>
  <time class="article-tile__date article-tile__date--one">24th November</time>
  <div class="article-tile__rating article-tile__rating--one">
    99% Like
  </div>
  <div class="article-tile__comments article-tile__comments--one">
    24
  </div>
</div>

<div class="article-tile article-tile--two">
  <h2 class="article-tile__heading article-tile__heading--two">Top student money survival tips</h2>
  <time class="article-tile__date article-tile__date--two">24th November</time>
  <div class="article-tile__rating article-tile__rating--two">
    99% Like
  </div>
  <div class="article-tile__comments article-tile__comments--two">
    24
  </div>
</div>

<div class="article-tile article-tile--two">
  <h2 class="article-tile__heading article-tile__heading--two">Top student money survival tips</h2>
  <time class="article-tile__date article-tile__date--two">24th November</time>
  <div class="article-tile__rating article-tile__rating--two">
    99% Like
  </div>
  <div class="article-tile__comments article-tile__comments--two">
    24
  </div>
</div>
