<div class="article-info">
  <%= image_tag('mel.png', class: 'article-info__image') %>

  <p class="article-info__content">
    Published by
    <a class="article-info__link" href="">Melanie Dowding</a>
  </p>

  <p class="article-info__content">
    Category
    <a class="article-info__link" href="">Money saving tips</a>
  </p>

  <p class="article-info__content">
    <time datetime="2014-11-24 00:00">November 24th 2014</time>
  </p>

  <a class="article-info__comments" href="#comments">200 Comments</a>
</div>
