<div class="beta-tag l-header-logo__beta">
    <svg version="1.1" class="beta-tag__logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 320.8 320.0" enable-background="new 0 0 320.8 320.0" xml:space="preserve">
      <line class="beta-tag__logo-line" x1="161.7" y1="34" x2="161.7" y2="5.3"/>
      <line class="beta-tag__logo-line" x1="139.7" y1="35.7" x2="134.7" y2="7.4"/>
      <line class="beta-tag__logo-line" x1="118.3" y1="41.1" x2="108.5" y2="14.2"/>
      <line class="beta-tag__logo-line" x1="98.2" y1="50.3" x2="83.9" y2="25.4"/>
      <line class="beta-tag__logo-line" x1="80" y1="62.7" x2="61.6" y2="40.8"/>
      <line class="beta-tag__logo-line" x1="64.2" y1="78.2" x2="42.3" y2="59.8"/>
      <line class="beta-tag__logo-line" x1="51.4" y1="96.1" x2="26.5" y2="81.8"/>
      <line class="beta-tag__logo-line" x1="41.8" y1="116" x2="14.9" y2="106.2"/>
      <line class="beta-tag__logo-line" x1="35.9" y1="137.3" x2="7.7" y2="132.3"/>
      <line class="beta-tag__logo-line" x1="33.7" y1="159.3" x2="5.1" y2="159.3"/>
      <line class="beta-tag__logo-line" x1="35.4" y1="181.3" x2="7.2" y2="186.3"/>
      <line class="beta-tag__logo-line" x1="40.9" y1="202.7" x2="14" y2="212.5"/>
      <line class="beta-tag__logo-line" x1="50" y1="222.8" x2="25.2" y2="237.1"/>
      <line class="beta-tag__logo-line" x1="62.5" y1="241" x2="40.5" y2="259.4"/>
      <line class="beta-tag__logo-line" x1="78" y1="256.8" x2="59.5" y2="278.8"/>
      <line class="beta-tag__logo-line" x1="95.9" y1="269.7" x2="81.6" y2="294.5"/>
      <line class="beta-tag__logo-line" x1="115.8" y1="279.2" x2="106" y2="306.1"/>
      <line class="beta-tag__logo-line" x1="137.1" y1="285.1" x2="132.1" y2="313.4"/>
      <line class="beta-tag__logo-line" x1="159.1" y1="287.3" x2="159.1" y2="316"/>
      <line class="beta-tag__logo-line" x1="181.1" y1="285.6" x2="186.1" y2="313.8"/>
      <line class="beta-tag__logo-line" x1="202.5" y1="280.1" x2="212.3" y2="307"/>
      <line class="beta-tag__logo-line" x1="222.6" y1="271" x2="236.9" y2="295.8"/>
      <line class="beta-tag__logo-line" x1="240.8" y1="258.5" x2="259.2" y2="280.5"/>
      <line class="beta-tag__logo-line" x1="256.6" y1="243.1" x2="278.5" y2="261.5"/>
      <line class="beta-tag__logo-line" x1="269.4" y1="225.1" x2="294.3" y2="239.4"/>
      <line class="beta-tag__logo-line" x1="279" y1="205.2" x2="305.9" y2="215"/>
      <line class="beta-tag__logo-line" x1="284.9" y1="183.9" x2="313.1" y2="188.9"/>
      <line class="beta-tag__logo-line" x1="287.1" y1="162" x2="315.7" y2="162"/>
      <line class="beta-tag__logo-line" x1="285.4" y1="139.9" x2="313.6" y2="135"/>
      <line class="beta-tag__logo-line" x1="279.9" y1="118.6" x2="306.8" y2="108.8"/>
      <line class="beta-tag__logo-line" x1="270.8" y1="98.4" x2="295.6" y2="84.1"/>
      <line class="beta-tag__logo-line" x1="258.3" y1="80.2" x2="280.2" y2="61.8"/>
      <line class="beta-tag__logo-line" x1="242.8" y1="64.4" x2="261.3" y2="42.5"/>
      <line class="beta-tag__logo-line" x1="224.9" y1="51.6" x2="239.2" y2="26.8"/>
      <line class="beta-tag__logo-line" x1="205" y1="42.1" x2="214.8" y2="15.1"/>
      <line class="beta-tag__logo-line" x1="183.7" y1="36.1" x2="188.7" y2="7.9"/>
    </svg>
  Beta
</div>
