<svg class="l-header-logo-beta" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="132 9.9 577.8 578" enable-background="new 132 9.9 577.8 578" xml:space="preserve" aria-labelledby="title">
  <title id="title">Beta</title>
  <line class="l-header-logo-beta__line" x1="423.4" y1="63.2" x2="423.4" y2="9.9"/>
  <line class="l-header-logo-beta__line" x1="382.4" y1="66.4" x2="373.1" y2="13.8"/>
  <line class="l-header-logo-beta__line" x1="342.6" y1="76.5" x2="324.4" y2="26.4"/>
  <line class="l-header-logo-beta__line" x1="305.2" y1="93.6" x2="278.6" y2="47.3"/>
  <line class="l-header-logo-beta__line" x1="271.4" y1="116.6" x2="237.2" y2="75.9"/>
  <line class="l-header-logo-beta__line" x1="242" y1="145.5" x2="201.2" y2="111.2"/>
  <line class="l-header-logo-beta__line" x1="218.2" y1="178.8" x2="171.9" y2="152.2"/>
  <line class="l-header-logo-beta__line" x1="200.3" y1="215.8" x2="150.3" y2="197.6"/>
  <line class="l-header-logo-beta__line" x1="189.3" y1="255.4" x2="136.9" y2="246.1"/>
  <line class="l-header-logo-beta__line" x1="185.3" y1="296.3" x2="132" y2="296.3"/>
  <line class="l-header-logo-beta__line" x1="188.4" y1="337.3" x2="136" y2="346.6"/>
  <line class="l-header-logo-beta__line" x1="198.6" y1="377.1" x2="148.6" y2="395.3"/>
  <line class="l-header-logo-beta__line" x1="215.6" y1="414.5" x2="169.4" y2="441.1"/>
  <line class="l-header-logo-beta__line" x1="238.8" y1="448.3" x2="197.9" y2="482.5"/>
  <line class="l-header-logo-beta__line" x1="267.7" y1="477.7" x2="233.2" y2="518.6"/>
  <line class="l-header-logo-beta__line" x1="301" y1="501.7" x2="274.4" y2="547.8"/>
  <line class="l-header-logo-beta__line" x1="338" y1="519.4" x2="319.7" y2="569.4"/>
  <line class="l-header-logo-beta__line" x1="377.6" y1="530.4" x2="368.3" y2="583"/>
  <line class="l-header-logo-beta__line" x1="418.5" y1="534.4" x2="418.5" y2="587.8"/>
  <line class="l-header-logo-beta__line" x1="459.5" y1="531.3" x2="468.8" y2="583.7"/>
  <line class="l-header-logo-beta__line" x1="499.3" y1="521.1" x2="517.5" y2="571.1"/>
  <line class="l-header-logo-beta__line" x1="536.7" y1="504.1" x2="563.3" y2="550.3"/>
  <line class="l-header-logo-beta__line" x1="570.5" y1="480.9" x2="604.7" y2="521.8"/>
  <line class="l-header-logo-beta__line" x1="599.9" y1="452.2" x2="640.6" y2="486.5"/>
  <line class="l-header-logo-beta__line" x1="623.7" y1="418.7" x2="670" y2="445.3"/>
  <line class="l-header-logo-beta__line" x1="641.6" y1="381.7" x2="691.6" y2="400"/>
  <line class="l-header-logo-beta__line" x1="652.5" y1="342.1" x2="705" y2="351.4"/>
  <line class="l-header-logo-beta__line" x1="656.6" y1="301.4" x2="709.8" y2="301.4"/>
  <line class="l-header-logo-beta__line" x1="653.5" y1="260.2" x2="705.9" y2="251.1"/>
  <line class="l-header-logo-beta__line" x1="643.2" y1="220.6" x2="693.3" y2="202.4"/>
  <line class="l-header-logo-beta__line" x1="626.3" y1="183" x2="672.5" y2="156.4"/>
  <line class="l-header-logo-beta__line" x1="603.1" y1="149.2" x2="643.8" y2="115"/>
  <line class="l-header-logo-beta__line" x1="574.2" y1="119.8" x2="608.6" y2="79.1"/>
  <line class="l-header-logo-beta__line" x1="540.9" y1="96" x2="567.5" y2="49.9"/>
  <line class="l-header-logo-beta__line" x1="503.9" y1="78.3" x2="522.1" y2="28.1"/>
  <line class="l-header-logo-beta__line" x1="464.3" y1="67.2" x2="473.6" y2="14.7"/>
  <path class="l-header-logo-beta__text" d="M228.8 351.4v-19.1h11.7v-66.8h-11.7v-19.1h49 c8.3 0 14.7 0.7 19.2 2.2c5.6 2 10 5.1 13.4 9.5c3.3 4.4 5 9.6 5 15.6c0 4.7-1.1 9-3.2 13.1c-2.2 4-5.2 7.1-9.2 9.4v0.3 c5.9 1.8 10.1 4.8 12.8 9.2c2.6 4.4 4 9.3 4 14.9c0 7.5-2.3 13.9-6.8 19.1c-4.5 5.2-10 8.6-16.6 10.3c-4.1 1-9.3 1.5-15.7 1.5 H228.8z M266.8 287.1h12.9c3 0 5.3-1 6.9-2.9c1.6-1.9 2.3-4.3 2.3-7.3c0-4.7-1.6-7.7-4.8-9.1c-1.6-0.6-3.7-0.9-6.5-0.9h-10.9 V287.1z M266.8 330.9h15.1c1.9 0 3.5-0.3 4.8-0.9c2-0.9 3.5-2.4 4.6-4.5c1.1-2.1 1.7-4.4 1.7-7c0-3.2-0.9-5.8-2.8-7.9 c-1.9-2-4.6-3-8.2-3h-15.3V330.9z"/>
  <path class="l-header-logo-beta__text" d="M332.6 351.4v-19.1h11.7v-66.8h-11.7v-19.1h80.9v31h-22V267 h-20.8v21.3h30.7v20.5h-30.7v22h22.6v-10.4h22v31H332.6z"/>
  <path class="l-header-logo-beta__text" d="M448.2 351.4v-19.1h11.7V267h-12.5v14.8h-22v-35.4h95.2v35.4h-22 V267h-12.5v65.3h11.7v19.1H448.2z"/>
  <path class="l-header-logo-beta__text" d="M518.3 351.4v-19.1h8.7l28.6-85.8h29.9l28.6 85.8h8.7v19.1h-43.9 v-19.1h9.1l-4-13.9h-27l-4 13.9h9.1v19.1H518.3z M562.6 298.4h15.7l-5.4-19.4c-0.5-2-0.9-3.8-1.2-5.6c-0.3-1.8-0.6-3.2-0.7-4 l-0.1-1.3h-0.6c-0.2 3-0.9 6.7-2.1 11L562.6 298.4z"/>
</svg>
