<li class="l-campaigns__links__item l-campaigns__links__item--ma-says">
  <a href="<%= link.url %>" class="campaigns-link campaigns-link--ma-says">
    <span class="ma-says">
      <span class="ma-says__ma">MA</span> says
    </span>
    <span class="campaigns-link__text">
      <%= link.title %>
    </span>
    <span class="campaigns-link__arrow">
      <svg class="campaigns-link__arrow__icon">
        <use xlink:href="#svg-arrow-right"></use>
      </svg>
    </span>
  </a>
</li>
