<div class="l-campaigns">
  <div class="l-campaigns__hero">
    <%= image_tag('campaigns-hero-placeholder.png', alt: '') %>
  </div>
  <div class="l-campaigns__intro">
    <h2 class="l-campaigns__intro__heading">Save money at the supermarket</h2>
    <p class="l-campaigns__intro__content">Going to university is all about having a good
time, discovering yourself and making new friends, right? Well, yes, but hopefully you’ll learn a lot and get a good qualification as well.</p>
  </div>
  <ul class="l-campaigns__links">
    <li class="l-campaigns__links__item">
      <a href="#" class="campaigns-link campaigns-link--ma-says">
        <span class="ma-says">
          <span class="ma-says__ma">MA</span> says
        </span>
        <span class="campaigns-link__text">
          Smart shopping: simple tips and tricks to save you money
        </span>
        <span class="campaigns-link__arrow">
          <svg class="campaigns-link__arrow__icon">
            <use xlink:href="#svg-arrow-right"></use>
          </svg>
        </span>
      </a>
    </li>
    <li class="l-campaigns__links__item">
      <a href="#" class="campaigns-link">
        <span class="campaigns-link__text">
          Save money in your shopping basket every week and if this title was longer it
        </span>
        <span class="campaigns-link__arrow">
          <svg class="campaigns-link__arrow__icon">
            <use xlink:href="#svg-arrow-right"></use>
          </svg>
        </span>
      </a>
    </li>
  </ul>
</div>
