<li class="l-campaigns__links__item">
  <a href="<%= link.url %>" class="campaigns-link">
    <span class="campaigns-link__text">
      <%= link.title %>
    </span>
    <span class="campaigns-link__arrow">
      <svg class="campaigns-link__arrow__icon">
        <use xlink:href="#svg-arrow-right"></use>
      </svg>
    </span>
  </a>
</li>
