<div class="collapsible">
  <h3 class="collapsible__heading">Do you know what the recommended amount per week a student should spend on food?</h3>
  <div class="collapsible__reveal" data-dough-collapsable-target="2">
    <p>Bacon ipsum dolor amet short ribs bresaola pig venison kielbasa corned beef swine boudin ball tip ribeye tail porchetta sirloin alcatra. Fatback frankfurter brisket, kevin doner biltong cupim cow sausage ham chuck. Shankle turkey ball tip, bacon picanha short loin pork loin spare ribs frankfurter beef ribs. Filet mignon andouille strip steak pork loin cupim capicola bresaola biltong chuck bacon. Shank ground round fatback porchetta shankle sirloin andouille kevin filet mignon pork belly short loin short ribs spare ribs cow drumstick. Doner cow pig andouille pork, salami tri-tip pork belly leberkas brisket.</p>

    <%= render 'shared/inline_callout' %>
  </div>
  <div class="collapsible__trigger" data-dough-component="Collapsable" data-dough-collapsable-trigger="2">
    <span class="collapsible__trigger-text">Reveal the answer</span>
    <span class="collapsible__trigger-text collapsible__trigger-text--hide">Hide answer</span>
    <svg class="plus-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 80 80" xml:space="preserve">
      <g class="plus-icon__origin">
        <g class="plus-icon__lines">
          <circle fill="#0076AB" cx="40" cy="40" r="40"/>
          <line fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" x1="40" y1="25" x2="40" y2="55"/>
          <line class="plus-icon__horizontal-line" fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" x1="25" y1="40" x2="55" y2="40"/>
        </g>
      </g>
    </svg>
  </div>
</div>
