<div id="flickr">
<h3><%= flickr.title  %> (<%= link_to "flickr", flickr.link %>)</h3>
<% for pic in flickr.choose(4) -%>
  <div><%= image_tag pic.thumb, :alt => pic.title %></div>
  <% end -%>
  </div>
