<footer class="l-footer">
  <div class="l-footer-links">
    <div class="l-constrained">
      <div class="l-footer-links-section">
        <h4 class="l-footer-link__header">What's popular</h4>

        <ol class="unstyled-list l-footer-link__list">
          <li class="l-footer-link__list-item">
            <a href="/interest-rates-what-homeowners-can-do-now-to-beat-the-rise">Interest rates - What homeowners can do NOW to beat the rise</a>
            <time class="l-footer-link__list-item-time">22nd December</time>
          </li>
          <li class="l-footer-link__list-item">
            <a href="/considering-untying-the-knot-the-first-things-you-need-to-know-about-divorce">Considering untying the knot? The first things you need to know about divorce</a>
            <time class="l-footer-link__list-item-time">5th January</time>
          </li>
          <li class="l-footer-link__list-item">
            <a href="/how-to-cut-the-cost-of-a-new-car">How to cut the cost of a new car</a>
            <time class="l-footer-link__list-item-time">9th December</time>
          </li>
        </ol>
      </div>

      <div class="l-footer-links-section">
        <h4 class="l-footer-link__header">Latest posts</h4>

        <ol class="unstyled-list l-footer-link__list">
          <% latest_articles.each do |article| %>
            <li class="l-footer-link__list-item">
              <%= link_to article.title, article.permalink_url, :title => article.title %>
              <time class="l-footer-link__list-item-time"><%= "#{display_date(article.published_at)}" %></time>
            </li>
          <% end %>
        </ol>
      </div>

      <div class="l-footer-links-section l-footer-links-section--helpful">
        <h4 class="l-footer-link__header">Helpful links</h4>

        <ol class="unstyled-list l-footer-link__list">
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/static/about-us">About us</a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/static/media-centre">Media centre</a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/categories/partners">Partners</a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/static/jobs">Jobs</a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/categories/our-debt-work">Our debt work</a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/categories/tools-and-calculators">Tools &amp; calculators </a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/static/contact-us">Contact us</a>
          </li>
        </ol>

        <h4 class="l-footer-link__header">Follow us</h4>

        <ol class="unstyled-list l-footer-social__list">
          <li class="l-footer-social__list-item twitter">
            <a href="http://twitter.com/YourMoneyAdvice">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 29 24" enable-background="new 0 0 29 24" xml:space="preserve">
                <path d="M29 2.8c-1.1 0.5-2.2 0.8-3.4 1c1.2-0.7 2.2-1.9 2.6-3.4c-1.1 0.7-2.4 1.2-3.8 1.5C23.3 0.7 21.8 0 20.1 0 c-3.3 0-5.9 2.7-5.9 6.1c0 0.5 0.1 0.9 0.2 1.4C9.3 7.2 5 4.8 2 1.1C1.5 2 1.2 3 1.2 4.2c0 2.1 1 4 2.6 5c-1 0-1.9-0.3-2.7-0.8 c0 0 0 0.1 0 0.1c0 2.9 2.1 5.4 4.8 5.9c-0.5 0.1-1 0.2-1.6 0.2c-0.4 0-0.8 0-1.1-0.1c0.8 2.4 3 4.2 5.6 4.2c-2 1.6-4.6 2.6-7.4 2.6 c-0.5 0-1 0-1.4-0.1C2.6 23 5.8 24 9.1 24C20.1 24 26 14.8 26 6.8c0-0.3 0-0.5 0-0.8C27.2 5.1 28.2 4.1 29 2.8z"/>
              </svg>
            </a>
          </li>
          <li class="l-footer-social__list-item facebook">
            <a href="https://www.facebook.com/MoneyAdviceService">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 12 25" enable-background="new 0 0 12 25" xml:space="preserve">
                <path d="M12 8.1H7.9V5.5c0-1 0.6-1.2 1.1-1.2c0.5 0 2.9 0 2.9 0V0L8 0C3.6 0 2.5 3.2 2.5 5.2v2.9H0v4.4h2.5c0 5.7 0 12.5 0 12.5h5.4 c0 0 0-6.9 0-12.5h3.6L12 8.1z"/>
              </svg>
            </a>
          </li>
          <li class="l-footer-social__list-item youtube">
            <a href="https://www.youtube.com/user/MoneyAdviceService">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="YouTube_Logo" x="0px" y="0px" viewBox="0 0 503 213" enable-background="new 0 0 503 213" xml:space="preserve">
                <g id="You">
                  <path id="u_2_" stroke="#FFFFFF" stroke-miterlimit="10" d="M188 171h-19v-11c-7.2 8.3-13.3 12.4-20 12.4c-5.8 0-9.9-2.8-11.9-7.7 c-1.2-3-2.1-7.8-2.1-14.7V70h19v75c0 4.2 0 6 0 7c0.4 2.8 1.6 3.8 4.1 3.8c3.6 0 6.9-3.2 10.9-8.8V70h19V171z"/>
                  <path id="o_2_" stroke="#FFFFFF" stroke-miterlimit="10" d="M121 103c0-10.8-2.2-18.9-6-24c-5.1-6.9-13-9.7-21-9.7 c-9.1 0-15.9 2.8-21 9.7c-3.9 5.1-6 13.3-6 24.1l0 35.9c0 10.7 1.9 18.1 5.8 23.2c5.1 6.9 13.2 10.5 21.2 10.5s16.3-3.6 21.4-10.5 c3.8-5.1 5.6-12.5 5.6-23.2V103z M102 141c1 10-2.1 15-8 15s-9-5-8-15v-40c-1-10 2.1-14.7 8-14.7c5.9 0 9 4.7 8 14.7L102 141z"/>
                  <path id="y_2_" stroke="#FFFFFF" stroke-miterlimit="10" d="M46 116v55H26v-55c0 0-20.7-67.4-25-80h21l14 52.7L50 36h21L46 116z"/>
                </g>
                <g id="Tube">
                  <g>
                    <path stroke="#FFFFFF" stroke-miterlimit="10" d="M383.4 86.1c-3 0-6.4 1.6-9.4 4.6l0 60.6c3 3 6.5 4.6 9.4 4.6 c5.2 0 7.6-3.8 7.6-13.8V99C391 89 388.6 86.1 383.4 86.1z"/>
                    <path stroke="#FFFFFF" stroke-miterlimit="10" d="M458 98.1c0-9.2-2.4-12-8.4-12c-6 0-8.6 2.5-8.6 11.9V109l17 0V98.1z"/>
                    <path stroke="#FFFFFF" stroke-miterlimit="10" d="M499 46.9c0 0-2.9-20.5-11.9-29.5C475.8 5.6 463.1 5.5 457.2 4.8 c-41.8-3-104.5-3-104.5-3h-0.1c0 0-62.7 0-104.5 3c-5.8 0.7-18.6 0.8-29.9 12.6c-9 9-11.9 29.5-11.9 29.5s-3 24.1-3 48.1v22.6 c0 24.1 3 48.1 3 48.1s2.9 20.5 11.9 29.5c11.4 11.8 26.3 11.5 32.9 12.7c23.9 2.3 101.5 3 101.5 3s62.7-0.1 104.5-3.1 c5.8-0.7 18.6-0.8 29.9-12.6c9-9 11.9-29.5 11.9-29.5s3-24.1 3-48.1V95C502 71 499 46.9 499 46.9z M269 171h-20V56h-21V37l63 0v19 h-22V171z M341 171h-19v-11c-7.2 8.3-13.3 12.4-20 12.4c-5.8 0-9.9-2.8-11.9-7.7c-1.2-3-2.1-7.8-2.1-14.7V71h19v74c0 4.2 0 6 0 7 c0.4 2.8 1.6 3.8 4.1 3.8c3.6 0 6.9-3.2 10.9-8.8V71h19V171z M410 141c0 9.2-0.8 15.8-2 20c-2.4 7.4-7.7 11.3-14.9 11.3 c-6.4 0-13-3.9-19.1-11.4l0 10.1h-18V37h18l0 43.7c5.8-7.2 12.5-11.3 19.1-11.3c7.2 0 12.1 4.2 14.5 11.6c1.2 4 2.4 10.5 2.4 20 V141z M449.8 155.8c4.5 0 7.1-2.4 8.1-7.3c0.2-1 0.1-5.3 0.1-12.6h19v2.8c0 5.8-0.5 10-0.6 11.8c-0.6 4-2 7.6-4.2 10.8 c-5 7.3-12.4 10.8-21.9 10.8c-9.5 0-16.7-3.4-21.9-10.2c-3.8-5-6.3-12.4-6.3-23.1v-35c0-10.7 2.2-18.9 6.1-24 c5.2-6.8 12.4-10.5 21.7-10.5c9.1 0 16.3 3.6 21.4 10.5c3.8 5.1 5.9 12.9 5.9 23.5l0 20.4h-36v18 C440.9 151.2 443.6 155.8 449.8 155.8z"/>
                  </g>
                </g>
              </svg>
            </a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="l-footer-clouds">
    <svg class="l-footer-clouds__image" preserveAspectRatio="xMaxYMax slice" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1864 242" enable-background="new 0 0 1864 242" xml:space="preserve">
  <path fill="#F3F3F3" d="M-0 0h1864c0 0-205 236-617 239c0 0-336.7 35-570.3-131.7c0 0-202.7 57.7-355.7 27.7C321 135 118.3 108 0 0z"/>
</svg>
  </div>

  <div class="l-newsletter">
    <div class="l-constrained">
      <div class="l-newsletter__left">
        <h4 class="l-newsletter__headline">Get money saving tips right to your inbox</h4>

        <p class="l-newsletter__text">Join 100,000+ subscribers to get our free newsletter packed with money-saving tips and advice.</p>

        <p class="l-newsletter__text"><a href="https://www.moneyadviceservice.org.uk/en/newsletter-subscriptions/new" class="button button--primary">Sign me up</a></p>
      </div>
      <div class="l-newsletter__right">
        <a class="l-newsletter__logo" href="http://www.moneyadviceservice.org.uk">
          <svg class="l-newsletter__logo-image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 283.6 45" enable-background="new 0 0 283.6 45" xml:space="preserve">
            <g>
              <path fill="#2E3030" d="M138.4 21c0 3.6 2.8 4.1 4.2 4.1c0.5 0 0.7 0 0.7 0v-1.9c0 0-0.2 0-0.5 0c-0.8 0-2.3-0.3-2.3-2.5v-5h2.6 v-1.7h-2.6v-3h-2.1v3H137v1.7h1.4V21z"/>
              <path fill="#2E3030" d="M145 12v13h2.1v-5.1c0-0.5 0-1 0.2-1.4c0.5-1.6 1.8-2.7 3.5-2.7c1.8 0 2.1 1.2 2.1 2.7v5.1 c0 1 0.4 1.4 1.4 1.4h2.1v-1.8h-0.9c-0.3 0-0.5-0.2-0.5-0.5V18c0-2.8-1.2-4.2-3.7-4.2c-2.2 0-3.6 1.4-4.1 2.4h0c0 0 0-0.4 0-0.9 v-4.3c0-0.9-0.4-1.3-1.4-1.3h-2.1v1.8h0.9C144.8 11.5 145 11.7 145 12z"/>
              <path fill="#2E3030" d="M162.8 25.3c2.6 0 4.2-1.6 4.2-1.6l-0.9-1.5c0 0-1.3 1.3-3.2 1.3c-1.9 0-3.6-1.3-3.8-3.6h8 c0 0 0.1-0.6 0.1-0.9c0-2.8-1.6-5.1-4.7-5.1c-3.1 0-5.5 2.2-5.5 5.7C157 22.8 159.4 25.3 162.8 25.3z M162.5 15.5 c1.4 0 2.5 1 2.6 2.8h-5.8C159.6 16.4 160.9 15.5 162.5 15.5z"/>
              <path fill="#2E3030" d="M186.5 16.8c0.2-0.4 0.3-0.9 0.5-1.3c0 0.4 0 0.8 0 1.2l0.5 6.8c0.1 1 0.4 1.6 1.6 1.6h2.6v-2.8H191 c-0.2 0-0.3 0-0.3-0.3l-1-12.6h-3.2l-3.2 7.4c-0.2 0.5-0.5 1.2-0.6 1.6c-0.1-0.4-0.4-1.1-0.6-1.6l-3.2-7.4h-3.2l-1 12.6 c0 0.2-0.1 0.3-0.3 0.3h-0.9v2.8h2.6c1.1 0 1.6-0.5 1.7-1.6l0.5-6.8c0-0.4 0-0.9 0-1.3c0.1 0.4 0.3 0.9 0.5 1.3l2.6 5.8h2.5 L186.5 16.8z"/>
              <path fill="#2E3030" d="M198.5 13.5c-3.5 0-6.2 2.6-6.2 6c0 3.4 2.7 6 6.2 6c3.6 0 6.2-2.6 6.2-6C204.7 16.1 202 13.5 198.5 13.5z M198.5 22.7c-1.7 0-3.1-1.4-3.1-3.2c0-1.8 1.3-3.2 3.1-3.2c1.8 0 3.1 1.4 3.1 3.2C201.6 21.3 200.3 22.7 198.5 22.7z"/>
              <path fill="#2E3030" d="M212.5 16.4c1.1 0 1.5 0.6 1.5 2.1v5.1c0 1.1 0.5 1.7 1.7 1.7h2.8v-2.7h-1.1c-0.2 0-0.3-0.1-0.3-0.3v-4.3 c0-2.9-1.4-4.4-4-4.4c-2 0-3.1 1.1-3.7 1.8v-0.1c0-0.9-0.6-1.4-1.6-1.4h-2.7v2.7h1.1c0.2 0 0.3 0.1 0.3 0.3v8.4h3.1v-5.2 c0-0.5 0.1-1 0.2-1.4C210.1 17.2 211.2 16.4 212.5 16.4z"/>
              <path fill="#2E3030" d="M224.9 25.4c2.8 0 4.5-1.6 4.6-1.7l0.1-0.1l-1.3-2.2l-0.2 0.2c0 0-1.3 1.2-3 1.2c-1.6 0-2.8-1-3.1-2.6h7.6 l0-0.2c0 0 0.1-0.7 0.1-1c0-3.2-2-5.4-5.1-5.4c-3.4 0-5.8 2.4-5.8 6C218.8 22.9 221.3 25.4 224.9 25.4z M222.1 17.9 c0.3-1.2 1.2-1.8 2.5-1.8c1 0 1.8 0.8 1.9 1.8H222.1z"/>
              <path fill="#2E3030" d="M232.6 27c-0.8 0-1.4-0.7-1.4-0.7l-0.2-0.2l-1.3 2.3l0.1 0.1c0 0 1.1 1.2 2.9 1.2c1.9 0 3.4-1.1 4.1-3 l4-9.9c0.1-0.2 0.2-0.3 0.4-0.3h0.5v-2.7h-2c-0.9 0-1.4 0.4-1.6 1.2l-1.9 5.5c-0.1 0.2-0.1 0.5-0.2 0.8c-0.1-0.3-0.1-0.5-0.2-0.8 l-2.2-5.5c-0.3-0.8-0.8-1.2-1.6-1.2h-2v2.7h0.5c0.2 0 0.3 0 0.4 0.3l3.6 8.2l-0.3 0.8C233.9 26.6 233.3 27 232.6 27z"/>
              <path fill="#2E3030" d="M150 41.5l-4.6-12.6h-3.2l-4.6 12.6c-0.1 0.3-0.2 0.3-0.5 0.3h-0.5v2.8h1.9c1.1 0 1.6-0.3 2-1.4l0.9-2.6 h4.9l0.9 2.6c0.4 1.1 0.8 1.4 2 1.4h1.9v-2.8h-0.5C150.2 41.8 150.1 41.8 150 41.5z M143.8 32.8c0.1 0.5 0.3 1.1 0.4 1.6l1.2 3.6 h-3.4l1.2-3.6C143.5 33.9 143.6 33.3 143.8 32.8z"/>
              <path fill="#2E3030" d="M162.5 41.6V30.6c0-1.1-0.5-1.7-1.7-1.7h-2.8v2.7h1.1c0.2 0 0.3 0.1 0.3 0.3v1.9c0 0.1 0 0.1 0 0.2 c-0.4-0.4-1.4-1-3-1c-3.1 0-5.2 2.4-5.2 6c0 3.6 2 6 5.1 6c1.8 0 2.8-0.9 3.3-1.4c0 0.5 0.3 1.2 1.5 1.2h2.7v-2.7h-1 C162.6 41.9 162.5 41.8 162.5 41.6z M156.9 42.2c-1.5 0-2.5-1.3-2.5-3.3c0-1.9 1-3.2 2.6-3.2c1.7 0 2.5 1.6 2.5 3.2 C159.5 41.3 158.1 42.2 156.9 42.2z"/>
              <path fill="#2E3030" d="M171.8 34.4l-2.1 5.8c-0.1 0.3-0.2 0.6-0.2 0.8c-0.1-0.3-0.2-0.6-0.3-0.8l-2.1-5.8 c-0.3-0.8-0.8-1.2-1.8-1.2h-1.8v2.7h0.4c0.2 0 0.4 0.1 0.4 0.3l3.2 8.4h3.5l3.2-8.4c0.1-0.2 0.2-0.3 0.4-0.3h0.4v-2.7h-1.7 C172.6 33.2 172.1 33.6 171.8 34.4z"/>
              <path fill="#2E3030" d="M180.4 41.6v-6.8c0-1.1-0.5-1.7-1.6-1.7H176v2.7h1.1c0.2 0 0.3 0.1 0.3 0.3v6.7c0 1.1 0.5 1.7 1.6 1.7h2.8 v-2.7h-1.1C180.5 41.9 180.4 41.8 180.4 41.6z"/>
              <rect x="177.4" y="28.9" fill="#2E3030" width="2.8" height="2.9"/>
              <path fill="#2E3030" d="M191.6 40.7c0 0-1.3 1.4-3.1 1.4c-1.6 0-3.2-1-3.2-3.2c0-1.9 1.3-3.2 3.1-3.2c0.6 0 1.4 0.2 1.4 0.7v0.8 h2.8v-1.5c0-2-2.5-2.7-4.2-2.7c-4.1 0-6.2 3-6.2 6c0 3.4 2.6 6 6.1 6c3.1 0 4.7-2 4.8-2.1l0.1-0.1l-1.3-2.2L191.6 40.7z"/>
              <path fill="#2E3030" d="M199.1 33c-3.4 0-5.8 2.4-5.8 6c0 3.4 2.6 6 6.1 6c2.8 0 4.5-1.6 4.6-1.7l0.1-0.1l-1.3-2.2l-0.2 0.2 c0 0-1.3 1.2-3 1.2c-1.6 0-2.8-1-3.1-2.6h7.6l0-0.2c0 0 0.1-0.7 0.1-1C204.2 35.1 202.2 33 199.1 33z M199.1 35.5 c1 0 1.8 0.8 1.9 1.8h-4.3C197 36.1 197.9 35.5 199.1 35.5z"/>
              <path fill="#2E3030" d="M217 35.1c-1.4-0.6-2.6-1.1-2.6-2.1c0-0.9 0.8-1.5 2.1-1.5c0.9 0 1.8 0.4 1.8 1v0.9h2.9v-1.6 c0-2.3-2.9-3.2-4.7-3.2c-3.1 0-5.3 1.9-5.3 4.5c0 2.9 2.5 4 4.5 4.9c1.4 0.7 2.7 1.2 2.7 2.2c0 1.1-1 1.6-2 1.6 c-2 0-3.6-1.7-3.6-1.7l-0.1-0.2l-1.8 2.3l0.1 0.1c0.1 0.1 2 2.4 5.4 2.4c3.1 0 5.3-1.9 5.3-4.7C221.6 37.1 219.1 36 217 35.1z"/>
              <path fill="#2E3030" d="M228.2 33c-3.4 0-5.8 2.4-5.8 6c0 3.4 2.6 6 6.1 6c2.8 0 4.5-1.6 4.6-1.7l0.1-0.1l-1.3-2.2l-0.2 0.2 c0 0-1.3 1.2-3 1.2c-1.6 0-2.8-1-3.1-2.6h7.6l0-0.2c0 0 0.1-0.7 0.1-1C233.3 35.1 231.3 33 228.2 33z M228.2 35.5 c1 0 1.8 0.8 1.9 1.8h-4.3C226.1 36.1 227 35.5 228.2 35.5z"/>
              <path fill="#2E3030" d="M241.5 33.1c-1.4 0-2.6 0.8-3.3 2.1v-0.4c0-1-0.6-1.5-1.7-1.5h-2.7v2.7h1.1c0.2 0 0.3 0.1 0.3 0.3v8.4h3.1 v-4.5c0-0.6 0.1-1.2 0.2-1.7c0.5-1.6 1.8-2.2 2.8-2.2c0.4 0 0.6 0 0.6 0l0.2 0v-3.1l-0.2 0C242 33.1 241.8 33.1 241.5 33.1z"/>
              <path fill="#2E3030" d="M251.1 34.4l-2.1 5.8c-0.1 0.3-0.2 0.6-0.2 0.8c-0.1-0.3-0.2-0.6-0.3-0.8l-2.1-5.8 c-0.3-0.8-0.8-1.2-1.8-1.2h-1.8v2.7h0.4c0.2 0 0.4 0.1 0.4 0.3l3.2 8.4h3.5l3.2-8.4c0.1-0.2 0.2-0.3 0.4-0.3h0.5v-2.7h-1.7 C251.9 33.2 251.4 33.6 251.1 34.4z"/>
              <rect x="256.8" y="28.9" fill="#2E3030" width="2.8" height="2.9"/>
              <path fill="#2E3030" d="M259.7 41.6v-6.8c0-1.1-0.5-1.7-1.6-1.7h-2.8v2.7h1.1c0.2 0 0.3 0.1 0.3 0.3v6.7c0 1.1 0.5 1.7 1.6 1.7h2.8 v-2.7H260C259.8 41.9 259.7 41.8 259.7 41.6z"/>
              <path fill="#2E3030" d="M270.9 40.7c0 0-1.3 1.4-3.1 1.4c-1.6 0-3.2-1-3.2-3.2c0-1.9 1.3-3.2 3.1-3.2c0.6 0 1.4 0.2 1.4 0.7v0.8 h2.8v-1.5c0-2-2.5-2.7-4.2-2.7c-4.1 0-6.2 3-6.2 6c0 3.4 2.6 6 6.1 6c3.1 0 4.7-2 4.8-2.1l0.1-0.1l-1.3-2.2L270.9 40.7z"/>
              <path fill="#2E3030" d="M283.5 39.4c0 0 0.1-0.7 0.1-1c0-3.2-2-5.4-5.1-5.4c-3.4 0-5.8 2.4-5.8 6c0 3.4 2.6 6 6.1 6 c2.8 0 4.5-1.6 4.6-1.7l0.1-0.1l-1.3-2.2L282 41c0 0-1.3 1.2-3 1.2c-1.6 0-2.8-1-3.1-2.6h7.6L283.5 39.4z M278.5 35.5 c1 0 1.8 0.8 1.9 1.8H276C276.4 36.1 277.2 35.5 278.5 35.5z"/>
            </g>
            <g>
              <path fill="#76B72A" d="M81.9 0.1C57.4 0.1 37.4 20 37.4 44.5h3.3c0-22.7 18.5-41.2 41.2-41.2c22.7 0 41.2 18.5 41.2 41.2h3.3 C126.4 20 106.4 0.1 81.9 0.1z"/>
              <path fill="#76B72A" d="M81.9 6.1c-21.2 0-38.4 17.2-38.4 38.4h3.3c0-19.4 15.8-35.2 35.2-35.2s35.2 15.8 35.2 35.2h3.3 C120.3 23.4 103.1 6.1 81.9 6.1z"/>
              <path fill="#76B72A" d="M81.9 12.2c-17.9 0-32.4 14.5-32.4 32.4h3.3c0-16.1 13.1-29.1 29.1-29.1C98 15.4 111 28.5 111 44.5h3.3 C114.3 26.7 99.8 12.2 81.9 12.2z"/>
              <path fill="#76B72A" d="M81.9 18.2c-14.5 0-26.3 11.8-26.3 26.3h3.3c0-12.7 10.4-23.1 23.1-23.1c12.7 0 23.1 10.4 23.1 23.1h3.3 C108.2 30 96.4 18.2 81.9 18.2z"/>
              <path fill="#76B72A" d="M81.9 24.2c-11.2 0-20.3 9.1-20.3 20.3h3.3c0-9.4 7.6-17 17-17s17 7.6 17 17h3.3 C102.2 33.3 93.1 24.2 81.9 24.2z"/>
            </g>
            <g>
              <path fill="#76B72A" d="M32.5 12.2c-17.9 0-32.4 14.5-32.4 32.4h3.3c0-16.1 13.1-29.1 29.1-29.1c4.8 0 9.3 1.2 13.3 3.2 c0.6-0.9 1.3-1.8 2-2.6C43.2 13.6 38 12.2 32.5 12.2z"/>
              <path fill="#76B72A" d="M6.1 44.5h3.3c0-12.7 10.4-23.1 23.1-23.1c3.6 0 7.1 0.8 10.1 2.3c0.5-1 1.1-1.9 1.6-2.8 c-3.5-1.8-7.5-2.8-11.7-2.8C17.9 18.2 6.1 30 6.1 44.5z"/>
              <path fill="#76B72A" d="M12.2 44.5h3.3c0-9.4 7.6-17 17-17c2.8 0 5.4 0.7 7.7 1.8c0.4-1 0.8-2 1.2-3c-2.7-1.3-5.7-2.1-8.9-2.1 C21.3 24.2 12.2 33.3 12.2 44.5z"/>
              <path fill="#76B72A" d="M18.2 44.5h3.3c0-6.1 4.9-11 11-11c2.2 0 4.2 0.6 5.9 1.7c0.2-1.1 0.5-2.2 0.8-3.3c-2-1.1-4.3-1.7-6.8-1.7 C24.6 30.3 18.2 36.7 18.2 44.5z"/>
              <path fill="#76B72A" d="M24.2 44.5h3.3c0-2.7 2.2-5 5-5s5 2.2 5 5v0c0-2.1 0.1-4.2 0.4-6.2c-1.4-1.3-3.3-2-5.4-2 C27.9 36.3 24.2 40 24.2 44.5z"/>
            </g>
          </svg>
        </a>

        <p class="l-newsletter__text">
          For free and impartial money advice go to <a href="https://www.moneyadviceservice.org.uk">moneyadviceservice.org.uk</a> or call us on <a href="tel:03005005000">0300 500 5000</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="l-footer-secondary t-footer-secondary">
    <div class="l-constrained">
      <div class="l-footer-secondary__list--left">
        <ul class="footer-secondary__list unstyled-list">
          <li class="footer-secondary__list-item accessibility-feedback-link">
            <a class="footer-secondary__link" href="http://accessin.org/usersubmit_mas.php?param=nojscript" onclick="window.open('http://accessin.org/usersubmit_mas.php?param=' + window.location,'', 'resizable=yes,location=no,scrollbars=yes,toolbar=no,left=20,top=0,height=900,width=800'); return false;" title="Please use this button to tell us if you have an accessibility issue on our website" target="_blank">
              <span class="icon icon--accessibility"></span>Accessibility feedback
              <span class="visually-hidden">Feedback form opens in a new window</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="l-footer-secondary__list--right">
        <ul class="footer-secondary__list unstyled-list">
          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="https://www.moneyadviceservice.org.uk/en/sitemap">Sitemap</a>
          </li>
          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="http://www.moneyadviceservice.org.uk/en/static/accessibility">Accessibility</a>
          </li>
          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="http://www.moneyadviceservice.org.uk/en/static/terms-and-conditions">Terms &amp; conditions</a>
          </li>
          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="http://www.moneyadviceservice.org.uk/en/static/privacy">Privacy statement</a>
          </li>
          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="http://www.moneyadviceservice.org.uk/en/static/cookie_notice_en">Cookie guide</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
