<footer class="l-footer">
  <div class="l-footer-links">
    <div class="l-constrained">
      <div class="l-footer-links-section">
        <h3 class="l-footer-link__header">What's popular</h3>

        <% @popular_articles.each do |article| %>
          <li class="l-footer-link__list-item">
            <%= link_to article.title, article.permalink_url, title: article.title %>
            <time class="l-footer-link__list-item-time"><%= "#{display_article_date(article)}" %></time>
          </li>
        <% end %>
      </div>

      <div class="l-footer-links-section">
        <h3 class="l-footer-link__header">Latest posts</h3>

        <ol class="unstyled-list l-footer-link__list">
          <li class="l-footer-link__list-item">
            <a href="/to-fix-or-not-to-fix-is-a-ten-year-mortgage-too-long">To fix or not to fix… is a ten year mortgage too long?</a>
            <time class="l-footer-link__list-item-time">24th January</time>
          </li>
          <li class="l-footer-link__list-item">
            <a href="/the-online-tax-return-deadline-is-looming-missing-it-could-be-costly">The online tax return deadline is looming. Missing it could be costly…</a>
            <time class="l-footer-link__list-item-time">23rd January</time>
          </li>
          <li class="l-footer-link__list-item">
            <a href="/buying-a-house-why-you-shouldnt-change-your-mobile">Buying a house? Why you shouldn’t change your mobile</a>
            <time class="l-footer-link__list-item-time">9th January</time>
          </li>
        </ol>
      </div>

      <div class="l-footer-links-section l-footer-links-section--helpful">
        <h3 class="l-footer-link__header">Helpful links</h3>

        <ol class="unstyled-list l-footer-link__list">
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/static/about-us">About us</a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/static/media-centre">Media centre</a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/categories/partners">Partners</a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/static/jobs">Jobs</a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/categories/our-debt-work">Our debt work</a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/categories/tools-and-calculators">Tools &amp; calculators </a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/static/contact-us">Contact us</a>
          </li>
        </ol>

        <h3 class="l-footer-link__header">Follow us</h3>

        <ol class="unstyled-list l-footer-social__list">
          <li class="l-footer-social__list-item twitter">
            <a href="http://twitter.com/YourMoneyAdvice" title="Your Money Advice on Twitter">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 29 24" enable-background="new 0 0 29 24" xml:space="preserve">
                <path d="M29 2.8c-1.1 0.5-2.2 0.8-3.4 1c1.2-0.7 2.2-1.9 2.6-3.4c-1.1 0.7-2.4 1.2-3.8 1.5C23.3 0.7 21.8 0 20.1 0 c-3.3 0-5.9 2.7-5.9 6.1c0 0.5 0.1 0.9 0.2 1.4C9.3 7.2 5 4.8 2 1.1C1.5 2 1.2 3 1.2 4.2c0 2.1 1 4 2.6 5c-1 0-1.9-0.3-2.7-0.8 c0 0 0 0.1 0 0.1c0 2.9 2.1 5.4 4.8 5.9c-0.5 0.1-1 0.2-1.6 0.2c-0.4 0-0.8 0-1.1-0.1c0.8 2.4 3 4.2 5.6 4.2c-2 1.6-4.6 2.6-7.4 2.6 c-0.5 0-1 0-1.4-0.1C2.6 23 5.8 24 9.1 24C20.1 24 26 14.8 26 6.8c0-0.3 0-0.5 0-0.8C27.2 5.1 28.2 4.1 29 2.8z"/>
              </svg>
            </a>
          </li>
          <li class="l-footer-social__list-item facebook">
            <a href="https://www.facebook.com/MoneyAdviceService" title="Money Advice Service Facebook page">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 12 25" enable-background="new 0 0 12 25" xml:space="preserve">
                <path d="M12 8.1H7.9V5.5c0-1 0.6-1.2 1.1-1.2c0.5 0 2.9 0 2.9 0V0L8 0C3.6 0 2.5 3.2 2.5 5.2v2.9H0v4.4h2.5c0 5.7 0 12.5 0 12.5h5.4 c0 0 0-6.9 0-12.5h3.6L12 8.1z"/>
              </svg>
            </a>
          </li>
          <li class="l-footer-social__list-item youtube">
            <a href="https://www.youtube.com/user/MoneyAdviceService" title="Money Advice Service on YouTube">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="YouTube_Logo" x="0px" y="0px" viewBox="0 0 503 213" enable-background="new 0 0 503 213" xml:space="preserve">
                <g id="You">
                  <path id="u_2_" stroke="#FFFFFF" stroke-miterlimit="10" d="M188 171h-19v-11c-7.2 8.3-13.3 12.4-20 12.4c-5.8 0-9.9-2.8-11.9-7.7 c-1.2-3-2.1-7.8-2.1-14.7V70h19v75c0 4.2 0 6 0 7c0.4 2.8 1.6 3.8 4.1 3.8c3.6 0 6.9-3.2 10.9-8.8V70h19V171z"/>
                  <path id="o_2_" stroke="#FFFFFF" stroke-miterlimit="10" d="M121 103c0-10.8-2.2-18.9-6-24c-5.1-6.9-13-9.7-21-9.7 c-9.1 0-15.9 2.8-21 9.7c-3.9 5.1-6 13.3-6 24.1l0 35.9c0 10.7 1.9 18.1 5.8 23.2c5.1 6.9 13.2 10.5 21.2 10.5s16.3-3.6 21.4-10.5 c3.8-5.1 5.6-12.5 5.6-23.2V103z M102 141c1 10-2.1 15-8 15s-9-5-8-15v-40c-1-10 2.1-14.7 8-14.7c5.9 0 9 4.7 8 14.7L102 141z"/>
                  <path id="y_2_" stroke="#FFFFFF" stroke-miterlimit="10" d="M46 116v55H26v-55c0 0-20.7-67.4-25-80h21l14 52.7L50 36h21L46 116z"/>
                </g>
                <g id="Tube">
                  <g>
                    <path stroke="#FFFFFF" stroke-miterlimit="10" d="M383.4 86.1c-3 0-6.4 1.6-9.4 4.6l0 60.6c3 3 6.5 4.6 9.4 4.6 c5.2 0 7.6-3.8 7.6-13.8V99C391 89 388.6 86.1 383.4 86.1z"/>
                    <path stroke="#FFFFFF" stroke-miterlimit="10" d="M458 98.1c0-9.2-2.4-12-8.4-12c-6 0-8.6 2.5-8.6 11.9V109l17 0V98.1z"/>
                    <path stroke="#FFFFFF" stroke-miterlimit="10" d="M499 46.9c0 0-2.9-20.5-11.9-29.5C475.8 5.6 463.1 5.5 457.2 4.8 c-41.8-3-104.5-3-104.5-3h-0.1c0 0-62.7 0-104.5 3c-5.8 0.7-18.6 0.8-29.9 12.6c-9 9-11.9 29.5-11.9 29.5s-3 24.1-3 48.1v22.6 c0 24.1 3 48.1 3 48.1s2.9 20.5 11.9 29.5c11.4 11.8 26.3 11.5 32.9 12.7c23.9 2.3 101.5 3 101.5 3s62.7-0.1 104.5-3.1 c5.8-0.7 18.6-0.8 29.9-12.6c9-9 11.9-29.5 11.9-29.5s3-24.1 3-48.1V95C502 71 499 46.9 499 46.9z M269 171h-20V56h-21V37l63 0v19 h-22V171z M341 171h-19v-11c-7.2 8.3-13.3 12.4-20 12.4c-5.8 0-9.9-2.8-11.9-7.7c-1.2-3-2.1-7.8-2.1-14.7V71h19v74c0 4.2 0 6 0 7 c0.4 2.8 1.6 3.8 4.1 3.8c3.6 0 6.9-3.2 10.9-8.8V71h19V171z M410 141c0 9.2-0.8 15.8-2 20c-2.4 7.4-7.7 11.3-14.9 11.3 c-6.4 0-13-3.9-19.1-11.4l0 10.1h-18V37h18l0 43.7c5.8-7.2 12.5-11.3 19.1-11.3c7.2 0 12.1 4.2 14.5 11.6c1.2 4 2.4 10.5 2.4 20 V141z M449.8 155.8c4.5 0 7.1-2.4 8.1-7.3c0.2-1 0.1-5.3 0.1-12.6h19v2.8c0 5.8-0.5 10-0.6 11.8c-0.6 4-2 7.6-4.2 10.8 c-5 7.3-12.4 10.8-21.9 10.8c-9.5 0-16.7-3.4-21.9-10.2c-3.8-5-6.3-12.4-6.3-23.1v-35c0-10.7 2.2-18.9 6.1-24 c5.2-6.8 12.4-10.5 21.7-10.5c9.1 0 16.3 3.6 21.4 10.5c3.8 5.1 5.9 12.9 5.9 23.5l0 20.4h-36v18 C440.9 151.2 443.6 155.8 449.8 155.8z"/>
                  </g>
                </g>
              </svg>
            </a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="l-footer-clouds">
    <svg class="l-footer-clouds__image" preserveAspectRatio="xMaxYMax slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1864 242" enable-background="new 0 0 1864 242"><path fill="#F3F3F3" d="M0 0h1864s-205 236-617 239c0 0-336.7 35-570.3-131.7 0 0-202.7 57.7-355.7 27.7 0 0-202.7-27-321-135z"/></svg>
  </div>

  <div class="l-newsletter">
    <div class="l-constrained">
      <div class="l-newsletter__left">
        <h3 class="l-newsletter__headline">Get money saving tips right to your inbox</h3>

        <p class="l-newsletter__text">Join 100,000+ subscribers to get our free newsletter packed with money-saving tips and advice.</p>

        <p class="l-newsletter__text"><a href="https://www.moneyadviceservice.org.uk/en/newsletter-subscriptions/new" class="button button--primary">Sign me up</a></p>
      </div>
      <div class="l-newsletter__right">
        <a class="l-newsletter__logo" href="http://www.moneyadviceservice.org.uk">
          <svg class="l-newsletter__logo-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.6 45"><g fill="#2E3030"><path d="M138.4 21c0 3.6 2.8 4.1 4.2 4.1h.7v-1.9h-.5c-.8 0-2.3-.3-2.3-2.5v-5h2.6V14h-2.6v-3h-2.1v3H137v1.7h1.4V21zM145 12v13h2.1v-5.1c0-.5 0-1 .2-1.4.5-1.6 1.8-2.7 3.5-2.7 1.8 0 2.1 1.2 2.1 2.7v5.1c0 1 .4 1.4 1.4 1.4h2.1v-1.8h-.9c-.3 0-.5-.2-.5-.5V18c0-2.8-1.2-4.2-3.7-4.2-2.2 0-3.6 1.4-4.1 2.4V11c0-.9-.4-1.3-1.4-1.3h-2.1v1.8h.9c.2 0 .4.2.4.5zM162.8 25.3c2.6 0 4.2-1.6 4.2-1.6l-.9-1.5s-1.3 1.3-3.2 1.3c-1.9 0-3.6-1.3-3.8-3.6h8s.1-.6.1-.9c0-2.8-1.6-5.1-4.7-5.1s-5.5 2.2-5.5 5.7c0 3.2 2.4 5.7 5.8 5.7zm-.3-9.8c1.4 0 2.5 1 2.6 2.8h-5.8c.3-1.9 1.6-2.8 3.2-2.8zM186.5 16.8c.2-.4.3-.9.5-1.3v1.2l.5 6.8c.1 1 .4 1.6 1.6 1.6h2.6v-2.8h-.7c-.2 0-.3 0-.3-.3l-1-12.6h-3.2l-3.2 7.4c-.2.5-.5 1.2-.6 1.6-.1-.4-.4-1.1-.6-1.6l-3.2-7.4h-3.2l-1 12.6c0 .2-.1.3-.3.3h-.9v2.8h2.6c1.1 0 1.6-.5 1.7-1.6l.5-6.8v-1.3c.1.4.3.9.5 1.3l2.6 5.8h2.5l2.6-5.7zM198.5 13.5c-3.5 0-6.2 2.6-6.2 6s2.7 6 6.2 6c3.6 0 6.2-2.6 6.2-6s-2.7-6-6.2-6zm0 9.2c-1.7 0-3.1-1.4-3.1-3.2 0-1.8 1.3-3.2 3.1-3.2s3.1 1.4 3.1 3.2c0 1.8-1.3 3.2-3.1 3.2zM212.5 16.4c1.1 0 1.5.6 1.5 2.1v5.1c0 1.1.5 1.7 1.7 1.7h2.8v-2.7h-1.1c-.2 0-.3-.1-.3-.3V18c0-2.9-1.4-4.4-4-4.4-2 0-3.1 1.1-3.7 1.8v-.1c0-.9-.6-1.4-1.6-1.4h-2.7v2.7h1.1c.2 0 .3.1.3.3v8.4h3.1v-5.2c0-.5.1-1 .2-1.4.3-1.5 1.4-2.3 2.7-2.3zM224.9 25.4c2.8 0 4.5-1.6 4.6-1.7l.1-.1-1.3-2.2-.2.2s-1.3 1.2-3 1.2c-1.6 0-2.8-1-3.1-2.6h7.6V20s.1-.7.1-1c0-3.2-2-5.4-5.1-5.4-3.4 0-5.8 2.4-5.8 6 0 3.3 2.5 5.8 6.1 5.8zm-2.8-7.5c.3-1.2 1.2-1.8 2.5-1.8 1 0 1.8.8 1.9 1.8h-4.4zM232.6 27c-.8 0-1.4-.7-1.4-.7l-.2-.2-1.3 2.3.1.1s1.1 1.2 2.9 1.2c1.9 0 3.4-1.1 4.1-3l4-9.9c.1-.2.2-.3.4-.3h.5v-2.7h-2c-.9 0-1.4.4-1.6 1.2l-1.9 5.5c-.1.2-.1.5-.2.8-.1-.3-.1-.5-.2-.8l-2.2-5.5c-.3-.8-.8-1.2-1.6-1.2h-2v2.7h.5c.2 0 .3 0 .4.3l3.6 8.2-.3.8c-.3.8-.9 1.2-1.6 1.2zM150 41.5l-4.6-12.6h-3.2l-4.6 12.6c-.1.3-.2.3-.5.3h-.5v2.8h1.9c1.1 0 1.6-.3 2-1.4l.9-2.6h4.9l.9 2.6c.4 1.1.8 1.4 2 1.4h1.9v-2.8h-.5c-.4 0-.5 0-.6-.3zm-6.2-8.7c.1.5.3 1.1.4 1.6l1.2 3.6H142l1.2-3.6c.3-.5.4-1.1.6-1.6zM162.5 41.6v-11c0-1.1-.5-1.7-1.7-1.7H158v2.7h1.1c.2 0 .3.1.3.3V34c-.4-.4-1.4-1-3-1-3.1 0-5.2 2.4-5.2 6s2 6 5.1 6c1.8 0 2.8-.9 3.3-1.4 0 .5.3 1.2 1.5 1.2h2.7v-2.7h-1c-.2-.2-.3-.3-.3-.5zm-5.6.6c-1.5 0-2.5-1.3-2.5-3.3 0-1.9 1-3.2 2.6-3.2 1.7 0 2.5 1.6 2.5 3.2 0 2.4-1.4 3.3-2.6 3.3zM171.8 34.4l-2.1 5.8c-.1.3-.2.6-.2.8-.1-.3-.2-.6-.3-.8l-2.1-5.8c-.3-.8-.8-1.2-1.8-1.2h-1.8v2.7h.4c.2 0 .4.1.4.3l3.2 8.4h3.5l3.2-8.4c.1-.2.2-.3.4-.3h.4v-2.7h-1.7c-.7 0-1.2.4-1.5 1.2zM180.4 41.6v-6.8c0-1.1-.5-1.7-1.6-1.7H176v2.7h1.1c.2 0 .3.1.3.3v6.7c0 1.1.5 1.7 1.6 1.7h2.8v-2.7h-1.1c-.2.1-.3 0-.3-.2zM177.4 28.9h2.8v2.9h-2.8zM191.6 40.7s-1.3 1.4-3.1 1.4c-1.6 0-3.2-1-3.2-3.2 0-1.9 1.3-3.2 3.1-3.2.6 0 1.4.2 1.4.7v.8h2.8v-1.5c0-2-2.5-2.7-4.2-2.7-4.1 0-6.2 3-6.2 6 0 3.4 2.6 6 6.1 6 3.1 0 4.7-2 4.8-2.1l.1-.1-1.3-2.2-.3.1zM199.1 33c-3.4 0-5.8 2.4-5.8 6 0 3.4 2.6 6 6.1 6 2.8 0 4.5-1.6 4.6-1.7l.1-.1-1.3-2.2-.2.2s-1.3 1.2-3 1.2c-1.6 0-2.8-1-3.1-2.6h7.6v-.2s.1-.7.1-1c0-3.5-2-5.6-5.1-5.6zm0 2.5c1 0 1.8.8 1.9 1.8h-4.3c.3-1.2 1.2-1.8 2.4-1.8zM217 35.1c-1.4-.6-2.6-1.1-2.6-2.1 0-.9.8-1.5 2.1-1.5.9 0 1.8.4 1.8 1v.9h2.9v-1.6c0-2.3-2.9-3.2-4.7-3.2-3.1 0-5.3 1.9-5.3 4.5 0 2.9 2.5 4 4.5 4.9 1.4.7 2.7 1.2 2.7 2.2 0 1.1-1 1.6-2 1.6-2 0-3.6-1.7-3.6-1.7l-.1-.2-1.8 2.3.1.1c.1.1 2 2.4 5.4 2.4 3.1 0 5.3-1.9 5.3-4.7-.1-2.9-2.6-4-4.7-4.9zM228.2 33c-3.4 0-5.8 2.4-5.8 6 0 3.4 2.6 6 6.1 6 2.8 0 4.5-1.6 4.6-1.7l.1-.1-1.3-2.2-.2.2s-1.3 1.2-3 1.2c-1.6 0-2.8-1-3.1-2.6h7.6v-.2s.1-.7.1-1c0-3.5-2-5.6-5.1-5.6zm0 2.5c1 0 1.8.8 1.9 1.8h-4.3c.3-1.2 1.2-1.8 2.4-1.8zM241.5 33.1c-1.4 0-2.6.8-3.3 2.1v-.4c0-1-.6-1.5-1.7-1.5h-2.7V36h1.1c.2 0 .3.1.3.3v8.4h3.1v-4.5c0-.6.1-1.2.2-1.7.5-1.6 1.8-2.2 2.8-2.2h.8v-3.1h-.2c.1-.1-.1-.1-.4-.1zM251.1 34.4l-2.1 5.8c-.1.3-.2.6-.2.8-.1-.3-.2-.6-.3-.8l-2.1-5.8c-.3-.8-.8-1.2-1.8-1.2h-1.8v2.7h.4c.2 0 .4.1.4.3l3.2 8.4h3.5l3.2-8.4c.1-.2.2-.3.4-.3h.5v-2.7h-1.7c-.8 0-1.3.4-1.6 1.2zM256.8 28.9h2.8v2.9h-2.8zM259.7 41.6v-6.8c0-1.1-.5-1.7-1.6-1.7h-2.8v2.7h1.1c.2 0 .3.1.3.3v6.7c0 1.1.5 1.7 1.6 1.7h2.8v-2.7H260c-.2.1-.3 0-.3-.2zM270.9 40.7s-1.3 1.4-3.1 1.4c-1.6 0-3.2-1-3.2-3.2 0-1.9 1.3-3.2 3.1-3.2.6 0 1.4.2 1.4.7v.8h2.8v-1.5c0-2-2.5-2.7-4.2-2.7-4.1 0-6.2 3-6.2 6 0 3.4 2.6 6 6.1 6 3.1 0 4.7-2 4.8-2.1l.1-.1-1.3-2.2-.3.1zM283.5 39.4s.1-.7.1-1c0-3.2-2-5.4-5.1-5.4-3.4 0-5.8 2.4-5.8 6 0 3.4 2.6 6 6.1 6 2.8 0 4.5-1.6 4.6-1.7l.1-.1-1.3-2.2h-.2s-1.3 1.2-3 1.2c-1.6 0-2.8-1-3.1-2.6h7.6v-.2zm-5-3.9c1 0 1.8.8 1.9 1.8H276c.4-1.2 1.2-1.8 2.5-1.8z"/></g><g fill="#76B72A"><path d="M81.9.1C57.4.1 37.4 20 37.4 44.5h3.3c0-22.7 18.5-41.2 41.2-41.2 22.7 0 41.2 18.5 41.2 41.2h3.3C126.4 20 106.4.1 81.9.1zM81.9 6.1c-21.2 0-38.4 17.2-38.4 38.4h3.3C46.8 25.1 62.6 9.3 82 9.3s35.2 15.8 35.2 35.2h3.3c-.2-21.1-17.4-38.4-38.6-38.4zM81.9 12.2c-17.9 0-32.4 14.5-32.4 32.4h3.3c0-16.1 13.1-29.1 29.1-29.1 16.1-.1 29.1 13 29.1 29h3.3c0-17.8-14.5-32.3-32.4-32.3zM81.9 18.2c-14.5 0-26.3 11.8-26.3 26.3h3.3c0-12.7 10.4-23.1 23.1-23.1 12.7 0 23.1 10.4 23.1 23.1h3.3c-.2-14.5-12-26.3-26.5-26.3zM81.9 24.2c-11.2 0-20.3 9.1-20.3 20.3h3.3c0-9.4 7.6-17 17-17s17 7.6 17 17h3.3c0-11.2-9.1-20.3-20.3-20.3z"/></g><g fill="#76B72A"><path d="M32.5 12.2C14.6 12.2.1 26.7.1 44.6h3.3c0-16.1 13.1-29.1 29.1-29.1 4.8 0 9.3 1.2 13.3 3.2.6-.9 1.3-1.8 2-2.6-4.6-2.5-9.8-3.9-15.3-3.9zM6.1 44.5h3.3c0-12.7 10.4-23.1 23.1-23.1 3.6 0 7.1.8 10.1 2.3.5-1 1.1-1.9 1.6-2.8-3.5-1.8-7.5-2.8-11.7-2.8C17.9 18.2 6.1 30 6.1 44.5zM12.2 44.5h3.3c0-9.4 7.6-17 17-17 2.8 0 5.4.7 7.7 1.8l1.2-3c-2.7-1.3-5.7-2.1-8.9-2.1-11.2 0-20.3 9.1-20.3 20.3zM18.2 44.5h3.3c0-6.1 4.9-11 11-11 2.2 0 4.2.6 5.9 1.7.2-1.1.5-2.2.8-3.3-2-1.1-4.3-1.7-6.8-1.7-7.8.1-14.2 6.5-14.2 14.3zM24.2 44.5h3.3c0-2.7 2.2-5 5-5s5 2.2 5 5c0-2.1.1-4.2.4-6.2-1.4-1.3-3.3-2-5.4-2-4.6 0-8.3 3.7-8.3 8.2z"/></g></svg>
        </a>

        <p class="l-newsletter__text">
          For free and impartial money advice go to <a href="https://www.moneyadviceservice.org.uk">moneyadviceservice.org.uk</a> or call us on <a href="tel:03005005000">0300 500 5000</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="l-footer-secondary t-footer-secondary">
    <div class="l-constrained">
      <div class="l-footer-secondary__list--left">
        <ul class="footer-secondary__list unstyled-list">
          <li class="footer-secondary__list-item accessibility-feedback-link">
            <a class="footer-secondary__link" href="http://accessin.org/usersubmit_mas.php?param=nojscript" onclick="window.open('http://accessin.org/usersubmit_mas.php?param=' + window.location,'', 'resizable=yes,location=no,scrollbars=yes,toolbar=no,left=20,top=0,height=900,width=800'); return false;" title="Please use this button to tell us if you have an accessibility issue on our website" target="_blank">
              <span class="icon icon--accessibility"></span>Accessibility feedback
              <span class="visually-hidden">Feedback form opens in a new window</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="l-footer-secondary__list--right">
        <ul class="footer-secondary__list unstyled-list">
          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="https://www.moneyadviceservice.org.uk/en/sitemap">Sitemap</a>
          </li>
          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="http://www.moneyadviceservice.org.uk/en/static/accessibility">Accessibility</a>
          </li>
          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="http://www.moneyadviceservice.org.uk/en/static/terms-and-conditions">Terms &amp; conditions</a>
          </li>
          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="http://www.moneyadviceservice.org.uk/en/static/privacy">Privacy statement</a>
          </li>
          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="http://www.moneyadviceservice.org.uk/en/static/cookie_notice_en">Cookie guide</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
