<div class="l-constrained">
  <h4 class="l-footer-subheader">You might also like</h4>
  <div class="l-tiles">
    <div class="l-tile">
      <div class="article-tile article-tile--two">
        <h5><a class="article-tile__heading article-tile__heading--two" href="#">Top student money survival tips</a></h5>
        <time class="article-tile__date article-tile__date--two">24th November</time>
      </div>
    </div>
    <div class="l-tile">
      <div class="article-tile article-tile--two">
        <h5><a class="article-tile__heading article-tile__heading--two" href="#">Top student money survival tips</a></h5>
        <time class="article-tile__date article-tile__date--two">24th November</time>
      </div>
    </div>
    <div class="l-tile">
      <div class="article-tile article-tile--three">
        <h5><a class="article-tile__heading article-tile__heading--three" href="#">Top student money survival tips</a></h5>
        <time class="article-tile__date article-tile__date--three">24th November</time>
      </div>
    </div>
  </div>
</div>

<footer class="l-footer">
  <div class="l-constrained">
    <div class="l-footer-links">
      <h4 class="l-footer-link__header" data-dough-component="Collapsable" data-dough-collapsable-trigger="footer-links-1">What's popular</h4>

      <ol class="unstyled-list l-footer-link__list" data-dough-collapsable-target="footer-links-1">
        <li class="l-footer-link__list-item">
          <a href="#">Come and talk to the Money Advice Service on tour around the UK</a>
          <time class="l-footer-link__list-item-time">12th October</time>
        </li>
        <li class="l-footer-link__list-item">
          <a href="#">Come and talk to the Money Advice Service on tour around the UK</a>
          <time class="l-footer-link__list-item-time">12th October</time>
        </li>
        <li class="l-footer-link__list-item">
          <a href="#">Come and talk to the Money Advice Service on tour around the UK</a>
          <time class="l-footer-link__list-item-time">12th October</time>
        </li>
      </ol>
    </div>

    <div class="l-footer-links">
      <h4 class="l-footer-link__header" data-dough-component="Collapsable" data-dough-collapsable-trigger="footer-links-2">Latest posts</h4>

      <ol class="unstyled-list l-footer-link__list" data-dough-collapsable-target="footer-links-2">
        <li class="l-footer-link__list-item">
          <a href="#">Come and talk to the Money Advice Service on tour around the UK</a>
          <time class="l-footer-link__list-item-time">12th October</time>
        </li>
        <li class="l-footer-link__list-item">
          <a href="#">Come and talk to the Money Advice Service on tour around the UK</a>
          <time class="l-footer-link__list-item-time">12th October</time>
        </li>
        <li class="l-footer-link__list-item">
          <a href="#">Come and talk to the Money Advice Service on tour around the UK</a>
          <time class="l-footer-link__list-item-time">12th October</time>
        </li>
      </ol>
    </div>

    <div class="l-footer-links">
      <h4 class="l-footer-link__header" data-dough-component="Collapsable" data-dough-collapsable-trigger="footer-links-3">Helpful links</h4>

      <ol class="unstyled-list l-footer-link__list" data-dough-collapsable-target="footer-links-3">
        <li class="l-footer-link__list-item">
          <a href="#">About us</a>
        </li>
        <li class="l-footer-link__list-item">
          <a href="#">Media centre</a>
        </li>
        <li class="l-footer-link__list-item">
          <a href="#">Partners</a>
        </li>
        <li class="l-footer-link__list-item">
          <a href="#">Jobs</a>
        </li>
        <li class="l-footer-link__list-item">
          <a href="#">Our debt work</a>
        </li>
        <li class="l-footer-link__list-item">
          <a href="#">Tools &amp; calculators </a>
        </li>
        <li class="l-footer-link__list-item">
          <a href="#">Contact us</a>
        </li>
      </ol>
    </div>

    <h4>Get money saving tips right to your inbox</h4>

    <p>Join 100,000+ subscribers to get our free newsletter packed with money-saving tips and advice.</p>

    <p><a href="#">Newsletter signup</a></p>

    <a href="http://www.moneyadviceservice.org.uk"><img src="" alt="Money Advice Service" /></a>

    <p>Tips, news and views on all things money from mortgages and savings to budgeting and benefits.</p>
  </div>
</footer>

<nav>
  <div class="l-footer-secondary t-footer-secondary">
    <div class="l-constrained">
      <div class="l-footer-secondary__list--left">
        <ul class="footer-secondary__list">
          <li class="footer-secondary__list-item accessibility-feedback-link">
            <a class="footer-secondary__link" href="http://accessin.org/usersubmit_mas.php?param=nojscript" onclick="window.open('http://accessin.org/usersubmit_mas.php?param=' + window.location,'', 'resizable=yes,location=no,scrollbars=yes,toolbar=no,left=20,top=0,height=900,width=800'); return false;" title="Please use this button to tell us if you have an accessibility issue on our website" target="_blank">
              <span class="icon icon--accessibility"></span>Report an accessibility problem
              <span class="visually-hidden">Feedback form opens in a new window</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="l-footer-secondary__list--right">
        <ul class="footer-secondary__list">
          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="/sitemap">Sitemap</a>
          </li>
          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="http://www.moneyadviceservice.org.uk/en/static/accessibility">Accessibility</a>
          </li>
          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="http://www.moneyadviceservice.org.uk/en/static/terms-and-conditions">Terms &amp; conditions</a>
          </li>
          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="http://www.moneyadviceservice.org.uk/en/static/privacy">Privacy statement</a>
          </li>
          <li class="footer-secondary__list-item">
            <a class="footer-secondary__link" href="http://www.moneyadviceservice.org.uk/en/static/cookie_notice_en">Cookie guide</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
