<% #<header class="l-header" role="banner" data-dough-component="Header" data-dough-header-filter-active-class="filter-active" data-dough-header-animate-class="animate"> %>
<header class="l-header" role="banner" data-dough-component="Header">
  <% #<div class="l-filter" data-dough-collapsable-target="filter" data-dough-header-filter="true"> %>
  <% #  <div class="l-constrained"> %>
  <% #    <h2 class="l-filter__headline">Filter articles</h2> %>
  <% #    <ul class="l-filter__list"> %>
  <% #      <li class="l-filter__list-item">All articles</li> %>
  <% #      <li class="l-filter__list-item"><a href="#" class="l-filter__list-link">News</a></li> %>
  <% #      <li class="l-filter__list-item"><a href="#" class="l-filter__list-link">Voices</a></li> %>
  <% #      <li class="l-filter__list-item"><a href="#" class="l-filter__list-link">Money tips</a></li> %>
  <% #    </ul> %>
  <% #  </div> %>
  <% #</div> %>
  <div class="l-constrained">
    <div class="l-header__top" data-dough-header-header-top="true">
      <div class="l-logo">
        <a href="https://www.moneyadviceservice.org.uk" class="l-logo__link">
          <span class="visually-hidden">Money Advice Service logo</span>
        </a>
      </div>
    </div>
    <div class="l-header__bottom">
      <div class="l-header-logo">
        <%= render 'shared/beta_logo' %>
        <h1 class="l-header-logo__title"><a href="/" class="l-header-title__link">Your Money advice</a></h1>
      </div>
      <% #<a href="#" class="l-header__search-button"><span class="visually-hidden">Search</span></a> %>
      <% #<span class="l-header-filter-button" data-dough-component="Collapsable" data-dough-collapsable-trigger="filter"> %>
      <% #  <span class="l-header-filter-button__selected-item">All Articles</span> %>
      <% #  <span class="visually-hidden">Article filter options</span> %>
      <% #</span> %>
    </div>
  </div>
</header>
