<header class="l-header" role="banner">
  <div class="l-constrained">
    <a href="https://www.moneyadviceservice.org.uk">
      <div class="l-header__logo">
        <span class="visually-hidden">Money Advice Service logo</span>
      </div>
    </a>

    <h1 class="l-header__title">Your <span class="l-header__title__emphasis">Money Advice</span></h1>
  </div>
</header>
