<a class="skip-to-link" href="#main">Skip to main content</a>
<a class="skip-to-link" href="https://moneyadviceservice.org.uk/en/static/accessibility">Accessibility Statement</a>
<noscript>
  <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WVFLH9"
    height="0" width="0" style="display:none;visibility:hidden"
    title="Google Tag Manager"></iframe>
</noscript>
<script>
  (function(w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
    var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-WVFLH9');
</script>
<% #<header class="l-header" role="banner" data-dough-component="Header" data-dough-header-filter-active-class="filter-active" data-dough-header-animate-class="animate"> %>
<header class="l-header" role="banner">
  <% #<div class="l-filter" data-dough-collapsable-target="filter" data-dough-header-filter="true"> %>
  <% #  <div class="l-constrained"> %>
  <% #    <h2 class="l-filter__headline">Filter articles</h2> %>
  <% #    <ul class="l-filter__list"> %>
  <% #      <li class="l-filter__list-item">All articles</li> %>
  <% #      <li class="l-filter__list-item"><a href="#" class="l-filter__list-link">News</a></li> %>
  <% #      <li class="l-filter__list-item"><a href="#" class="l-filter__list-link">Voices</a></li> %>
  <% #      <li class="l-filter__list-item"><a href="#" class="l-filter__list-link">Money tips</a></li> %>
  <% #    </ul> %>
  <% #  </div> %>
  <% #</div> %>
  <div class="l-constrained">
    <div class="l-header__top" data-dough-header-header-top="true">
      <div class="l-logo">
        <a href="https://www.moneyadviceservice.org.uk" class="l-logo__link">
          <span class="visually-hidden">Money Advice Service logo</span>
        </a>
      </div>
    </div>
    <div class="l-header__bottom">
      <div class="l-header-logo">
        <%= render 'shared/beta_logo' %>
        <% if use_custom_header? %>
          <h1 class="l-header-logo__title">Your Money Advice</h1>
        <% else %>
          <span class="l-header-logo__title">
            <a href="/" class="l-header-title__link">Your Money Advice <span class="visually-hidden">home page</span></a>
          </span>
        <% end %>
      </div>
      <% if use_custom_header? %>
        <p class="l-header__description">Tips, news and views on all things money from mortgages and savings to budgeting and benefits.</p>
      <% end %>
      <a href="/search" class="l-header__search-button"><span class="visually-hidden">Search</span></a>
      <% #<span class="l-header-filter-button" data-dough-component="Collapsable" data-dough-collapsable-trigger="filter"> %>
      <% #  <span class="l-header-filter-button__selected-item">All Articles</span> %>
      <% #  <span class="visually-hidden">Article filter options</span> %>
      <% #</span> %>
    </div>
  </div>
</header>
