<!-- <div class="grid">
  <div class="col1"></div>
  <div class="col2"></div>
  <div class="col3"></div>
  <div class="col4"></div>
  <div class="col5"></div>
  <div class="col6"></div>
  <div class="col7"></div>
  <div class="col8"></div>
  <div class="col9"></div>
  <div class="col10"></div>
  <div class="col11"></div>
  <div class="col12"></div>
</div> -->

<header class="l-header" id="header" role="banner">
  <div class="l-filter" data-dough-collapsable-target="filter">
    <h2 class="l-filter__headline">Filter articles</h2>
    <ul class="l-filter__list">
      <li class="l-filter__list-item"><a href="#" class="l-filter__list-link l-filter__list-link--selected">All</a></li>
      <li class="l-filter__list-item"><a href="#" class="l-filter__list-link">News</a></li>
      <li class="l-filter__list-item"><a href="#" class="l-filter__list-link">Voices</a></li>
      <li class="l-filter__list-item"><a href="#" class="l-filter__list-link">Money tips</a></li>
    </ul>
  </div>
  <div class="l-constrained">
    <div class="l-header__top" id="header-top">
      <div class="l-logo">
        <a href="https://www.moneyadviceservice.org.uk" class="l-logo__link">
          <span class="visually-hidden">Money Advice Service logo</span>
        </a>
      </div>
      <a href="#" class="l-header__search-button"><span class="visually-hidden">Search</span></a>
    </div>
    <div class="l-header__bottom" id="header-bottom">
      <%= render 'shared/beta_logo' %>

      <h1 class="l-header__title">Your Money advice</h1>

      <span class="l-header__filter-button" data-dough-component="Collapsable" data-dough-collapsable-trigger="filter"><span class="visually-hidden">Article filter options</span></span>
    </div>
    <!--<p class="l-header__description">Read about all things money and see what everyone else thinks. Our latest blog posts are a good place to start</p> -->
  </div>
</header>
