<b>links</b><br/>
<a href="http://typo.leetsoft.com" title="Typo">Typo</a><br />
<a href="http://blog.leetsoft.com" title="too-biased">too-biased</a><br/>
<a href="http://www.rubyonrails.com" title="Ruby on Rails">Ruby on Rails</a><br/>
