<h3>Links</h3>
<ul>
  <li><a href="http://typo.leetsoft.com" title="Typo">Typo</a></li>
  <li><a href="http://blog.leetsoft.com" title="too-biased">too-biased</a></li>
  <li><a href="http://www.poocs.net/" title="poocs.net">poocs.net</a></li>
  <li><a href="http://blog.remor.com/" title="seth hall">Seth Hall</a></li>
  <li><a href="http://encytemedia.com" title="Encyte Media">EncyteMedia</a></li>
</ul>
