<div class="next-steps">
  <div class="next-steps__heading">
    <span>Ma</span> says
  </div>

  <a href="" class="next-steps__container-link">
    <div class="next-steps__text">If you want to manage your money better try using our budget planner tool</div>
    <div class="next-steps__arrow-container">
      <svg class="next-steps__arrow" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="46.9 -3.6 36 57.1" enable-background="new 46.9 -3.6 36 57.1" xml:space="preserve">
        <polyline class="next-steps__arrow-path" stroke-width="9" stroke-miterlimit="10" points="50,0 76,25 50,50 "/>
      </svg>
    </div>
  </a>
</div>
