<b>subpages</b><br/>
<a href="http://www.neech.de/gallery/" title="Gallery with me, fiona and others">Gallery</a><br />
<a href="http://blog.leetsoft.com/files/documents/resume.pdf" title="My Curriculum Vitae">Resume</a><br/>
