<p>Live Search</p>
<form action="/articles/search" method="get">
<input type="text" id="q" name="q" value="" size="15" />
</form>
<div id="search_results"></div>
<%= observe_field "q", :frequency => 1, :url => { :controller => "live", :action => "search" }, :update => "search_results" %>
