<ul class="sharing">
  <li class="sharing__item"><a class="sharing__button sharing__button--facebook" href="https://www.facebook.com/sharer.php?app_id=113869198637480&amp;sdk=joey&amp;u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;display=popup&amp;ref=plugin" target="_blank"><span class="visually-hidden">Share on facebook</span></a></li>
  <li class="sharing__item"><a class="sharing__button sharing__button--twitter" href="https://twitter.com/share" target="_blank"><span class="visually-hidden">Share on twitter</span></a></li>
  <li class="sharing__item"><a class="sharing__button sharing__button--pinterest" href="http://www.pinterest.com/pin/create/link/?url=<%=u request.original_url %>"><span class="visually-hidden">Share on pinterest</span></a></li>
  <li class="sharing__item"><a class="sharing__button sharing__button--google" href="https://plus.google.com/share?url=<%=u request.original_url %>" target="_blank"></a></li>
  <li class="sharing__item"><a class="sharing__button sharing__button--print" href="javascript:window.print()"><span class="visually-hidden">Print this</span></a></li>
  <li class="sharing__item"><a class="sharing__button sharing__button--email" href="javascript:emailCurrentPage()"><span class="visually-hidden">Share this by email</span></a></li>
</ul>
