<ul class="tags">
  <li class="tag__item"><a href="" class="tag__link tag__link--title">Tags</a>
  <li class="tag__item"><a href="" class="tag__link">Budgeting</a>
  <li class="tag__item"><a href="" class="tag__link">Insurance</a>
  <li class="tag__item"><a href="" class="tag__link">Students</a>
  <li class="tag__item"><a href="" class="tag__link">Survival</a>
  <li class="tag__item"><a href="" class="tag__link">Loans</a>
  <li class="tag__item"><a href="" class="tag__link">Savings</a>
  <li class="tag__item"><a href="" class="tag__link">Tips</a>
  <li class="tag__item"><a href="" class="tag__link tag__link--more">
    <span class="visually-hidden">View more tags</span>
  <li class="tag__item"></a>
</ul>
