<div class="tags">
  <a href="" class="tag tag--title">Tags</a>
  <a href="" class="tag">Budgeting</a>
  <a href="" class="tag">Insurance</a>
  <a href="" class="tag">Students</a>
  <a href="" class="tag tag--more">
    <span class="visually-hidden">View more tags</span>
  </a>
</div>
