<ul class="tag-list">
  <li class="tag-list__item tag-list__item--title">
    <span class="tag-list__item-inner">Tags</span>
  <li class="tag-list__item">
    <a href="" class="tag-list__link">Budgeting</a>
  <li class="tag-list__item">
    <a href="" class="tag-list__link">Insurance</a>
  <li class="tag-list__item">
    <a href="" class="tag-list__link">Students</a>
  <li class="tag-list__item tag-list__item--trigger" data-dough-component="Collapsable" data-dough-collapsable-trigger="1">
    <span class="tag-list__item-content">
      <span class="visually-hidden">View more tags</span>
    </span>
</ul><ul class="tag-list tag-list--extra" data-dough-collapsable-target="1">
  <li class="tag-list__item">
    <a href="" class="tag-list__link">Loans</a>
  <li class="tag-list__item">
    <a href="" class="tag-list__link">Savings</a>
  <li class="tag-list__item">
    <a href="" class="tag-list__link">Tips</a>
</ul>
