<ul class="tags">
  <li class="tag__item tag__item--title">
    <a href="" class="tag__link">Tags</a>
  <li class="tag__item">
    <a href="" class="tag__link">Budgeting</a>
  <li class="tag__item">
    <a href="" class="tag__link">Insurance</a>
  <li class="tag__item">
    <a href="" class="tag__link">Students</a>
  <li class="tag__item tag__item--trigger" data-dough-component="Collapsable" data-dough-collapsable-trigger="1">
    <span class="tag__item-content">
      <span class="visually-hidden">View more tags</span>
    </span>
</ul><ul class="tags tags--extra" data-dough-collapsable-target="1"><li class="tag__item">
    <a href="" class="tag__link">Loans</a>
  <li class="tag__item">
    <a href="" class="tag__link">Savings</a>
  <li class="tag__item">
    <a href="" class="tag__link">Tips</a>
</ul>
