<h3>tools I use</h3>
<ul>
  <li><a href="http://www.adiumx.com/" title="">Adium X</a></li>
  <li><a href="http://ranchero.com/netnewswire/" title="">NetNewsWire</a></li>
  <li><a href="http://www.rubyonrails.org" title="Web development framework of choice">Ruby on Rails</a></li>
  <li><a href="http://www.ruby-lang.org/en/" title="Best programming language out there">Ruby</a></li>
  <li><a href="http://macromates.com/" title="">Textmate</a></li>
  <li><a href="http://quicksilver.blacktree.com/" title="">Quicksilver</a></li>
  <li><a href="http://wsmanager.sourceforge.net/" title="">Desktop Manager</a></li>
</ul>