<b>tools I use</b><br/>
<a href="http://www.adiumx.com/" title="">Adium X</a><br />
<a href="http://ranchero.com/netnewswire/" title="">NetNewsWire</a><br />
<a href="http://www.rubyonrails.org" title="Web development framework of choice">Ruby on Rails</a><br />
<a href="http://www.ruby-lang.org/en/" title="Best programming language out there">Ruby</a><br />
<a href="http://macromates.com/" title="">Textmate</a><br />
<a href="http://quicksilver.blacktree.com/" title="">Quicksilver</a><br />
<a href="http://wsmanager.sourceforge.net/" title="">Desktop Manager</a><br />
