<h3>Syndicate</h3>
<ul>
  <li>
    <a href="<%= url_for :controller=>'xml', :action=>'rss' %>" title="XML feed">RSS</a>
    <strong>|</strong>
    <a href="<%= url_for :controller=>'xml', :action=>'atom' %>" title="XML feed">atom</a>
  </li>
  <li><a href="<%= url_for :controller=>'xml', :action=>'commentrss' %>" title="XML feed">Comments</a></li>
</ul>
