<% @page_heading = _("%s Post Type", controller.action_name.capitalize) %>
<%= error_messages_for 'post_type' %>
<div class='left_form'>
  <%= form_tag :action=>"edit", :id => @post_type.id do %>
    <%= render :partial => "form" %>
  <% end %>
</div>

<div class="right_table">
  <%= render :partial => 'post_types' %>
</div>
