    <h4><%= _("Currently this article has the following resources")%></h4>
    <% for resource in @article.resources %>
      <%= link_to_remote "- #{resource.filename}", :url => { :action => "resource_remove", :id => @article.id, :resource_id => resource.id}, :update => 'resources' %><br/>
    <% end %>

    <h4><%= _("You can associate the following resources")%></h4>
    <% for resource in @resources - @article.resources %>
      <%= link_to_remote "+ #{resource.filename}", :url => { :action => "resource_add", :id => @article.id, :resource_id => resource.id}, :update => 'resources' %><br/>
    <% end %>
