<% benchmark "BENCHMARK: display_plugins" do %>
  <% @sidebars.each do |sidebar| -%>
    <% benchmark "BENCHMARK: display_plugins: #{sidebar.controller}" do %>
      <div class="sidebar-node">
        <%= render_sidebar(sidebar) %>
      </div>
    <% end %>
  <% end %>
<% end %>
