<p>
  <label for="tag_name"><%= _("Name")%>:</label> 
  <%= text_field 'tag', 'name'  %>
  <label for="tag_display_name"><%= _("Display name")%>:</label>
  <%= text_field 'tag', 'display_name' %>
</p>
