  <% @page_heading = _('Manage tags') %>
  <% subtabs_for(:content) %>
  
  <div class="list" id="tags">	
    <%= render :partial => 'tags' %>
  </div>                      
  
  <div class="paginate">
    <%= link_to _("Previous page"), { :id => @tags_pages.current.previous } if @tags_pages.current.previous -%>
    <%= pagination_links @tags_pages, :name => 'id' -%>
    <%= link_to _("Next page"), { :id => @tags_pages.current.next } if @tags_pages.current.next -%>
	</div>