<%- content_for :page_heading do %>
<h2>
  <i class="glyphicon glyphicon-large glyphicon-th-list"></i>
  <%= t(".new_campaign") %>
</h2>
<% end %>

<div class='row'>
  <div class='col-md-4'>
    <%= render 'form' %>
  </div>
</div>
