<div class="card">
  <h3 class="card-header"><%= t(".latest_comments") %></h3>
  <div class="card-body">
    <ul class='list-unstyled' id="commentList">
      <%= render partial: "comment" %>
    </ul>
  </div>
</div>
