.comments {
  clear: left;
  background: $concrete;
  padding: baseline-unit(3);
  margin-bottom: baseline-unit(3);

  @include respond-to($mq-two-col) {
    @include column(8);
    @include push(2);
    margin-bottom: baseline-unit(10);
  }
}

.comments__headline {
  margin-top: baseline-unit(4);
  text-align: center;
  @include font-size(30);
  max-width: none;
}

.comments__text {
  text-align: center;
  max-width: none;
}

.comment-form {
  @include row();
}

.comment-form__errors {
  @include column(12);
}

.comment-form__group--body {
  @include column(12);
}

.comment-form__group--author,
.comment-form__group--email_address,
.comment-form__group--policy {
  @include respond-to($mq-two-col) {
    @include column(8);
    @include push(2);
    @include pull(2);
  }
}

.comment-form__group--submit {
  @include column(12);
  text-align: right;
  margin-top: $baseline-unit*4;

  @include respond-to($mq-two-col) {
    @include column(8);
    @include push(2);
    @include pull(2);
  }
}

.comment-form__group {
  .comment-form__text-field,
  .comment-form__text-area {
    border-width: 0;
    margin-top: $baseline-unit;
    margin-bottom: $baseline-unit*2;
    padding: $baseline-unit*2;
  }
}

.comment-form__submit-button {
  margin-left: $baseline-unit*3;
}

.comment-list {
  @extend .unstyled-list;
}

.comment-list-item {
  border-top: 1px solid $comment-list-item-border;
  padding-top: baseline-unit(2);

  @include respond-to($mq-two-col) {
    @include push(1);
    @include pull(1);

    &:first-child {
      margin-top: baseline-unit(14);
    }

    &:last-child {
      margin-bottom: baseline-unit(14);
    }
  }
}

.comment-list-item__headline {
  color: $outer-space;
  margin-top: baseline-unit(2);
}

.comment-list-item__headline-date {
  font-weight: normal;
}

.comment-list-item__report-link {
  margin-top: baseline-unit(1);
  font-size: $base-font-size + px;
}
