<h3 class='sidebar-title'><%= sidebar.title %></h3>
<div class='static-body'>
  <ul>
    <li><%= link_to(t(".rss_feed"), feed_rss) %></li>
    <li><%= link_to(t(".admin"), :controller => 'admin/dashboard') %></li>
    <li><a href='http://publify.co'><%= t(".powered_by_publify") %></a></li>
  </ul>
</div>
