  <% @page_heading = _('Text Filters') + ' <span> &raquo; '+ link_to(_('add new'), :action=>'new') +'</span>' %>
  <% subtabs_for(:settings) %>

  <div class="list" id="textfilters">	
    <%= render :partial => 'textfilters' %>
  </div>                      

  <h2><%= _("Macros")%></h2>
  <div class="list" id="macros">
    <% reset_alternation -%>
    <%= render :partial => "macros" %>
  </div>