  <% @page_heading = 'Text Filters' + '('+ link_to(_('add new'), :action=>'new') +')' %>
  <% subtabs_for(:sidebar) %>

  <div class="list" id="textfilters">	
    <%= render :partial => 'textfilters' %>
  </div>                      

  <h2><%= _("Macros")%></h2>
  <div class="list" id="macros">
    <% reset_alternation -%>
    <%= render :partial => "macros" %>
  </div>