  <% @page_heading = 'Text Filters' %>

  <h3>Creating text filter</h3>

  <%= start_form_tag({ :action => "new" }, :id => "textfilter_form") %>
  
  <div class="form">	
    <%= render_partial "form" %>
  </div>

  <div id="operations">
    <%= save %> or <%= cancel %>  
  </div>

  <%= end_form_tag %>
