  <% @page_heading = _('Create Text Filter') %>
  <% subtabs_for(:sidebar) %>
  <% form_tag({ :action => "new" }, :id => "textfilter_form") do %>

  <div class="admin">
    <%= render_partial "form" %>
  </div>

  <div id="operations" class="paginate r">
    <%= save %> or <%= cancel %>
  </div>

  <% end %>
