<%= form_tag_with_upload_progress({:action => 'upload'}, { :begin => "new Effect.Appear('status')", :finish => "$('message').innertHTML = arguments[0]" }) %>

<h3><%= _('Upload a File to your Site') %></h3>
	<%= file_field('upload', 'filename', {:class => 'input-file'}) -%>
	<%= submit_tag(_('Upload'), {:class => 'btn'}) -%>
