<%= form_tag({:action => 'upload'}, {:enctype => "multipart/form-data"}) %>

<div class='well well-small'>
  <h3><%= _('Upload a File to your Site') %></h3>
  <%= file_field('upload', 'filename', {:class => 'input-file'}) -%>
  <%= submit_tag(_('Upload'), {:class => 'btn'}) -%>    
</div>