  <% @page_heading = _('Manage Resources') %>
  <% @page_title = _('Upload a new File') %>
  <% content_for('tasks') do %>
    <%= task_new _('Upload a new Resource') %>
	<%= tab _("Manage Articles"), :controller=>"content", :action=>"list"%>
	<%= tab _("Manage Pages"), :controller=>"pages", :action=>"list" %>
	<%= tab _("Manage Categories"), :controller=>"categories", :action=>"list" %>
  <% end %> 

  <div class="list" id="resources">	
    <%= render :partial => 'resources' -%>
  </div>
