<% form_tag :action=>"new" do %>

  <%= render :partial => "form" %>

  <p class="paginate r">
    <a href="#" onclick="new Effect.BlindUp('quick-post', {duration: 0.4}); return false;" >
    <%= _("Cancel")%></a> <%= _("or")%> <%= save(_("Save") + "&raquo;") %> 
  </p>
<% end %>
