  <% @page_heading = 'Blacklist Patterns' %>

  <% content_for('tasks') do %>
    <%= task_show 'Show this pattern', @blacklist_pattern.id %>
  <% end %>

  <p>Are you sure you want to delete this item?</p>
  <%= start_form_tag :action => "destroy", :id => @blacklist_pattern.id %>
  <%= confirm_delete %>
  <%= end_form_tag %>