  <% @page_heading = _('Blacklist Patterns') + ' <span>&raquo; ' + task_quickpost(_('add new') + '</span>')  %>
  <% subtabs_for(:settings) %>
  
  <div id="quick-post" style="display:none;position:absolute;">
    <%= render :partial => "quick_post" %>
  </div>

  <div class="list">	
    <%= render :partial => 'blacklist_patterns' %>  
  </div>                      
