  <% @page_heading = 'Blacklist Patterns' %>

  <% content_for('tasks') do %>
    <%= task_new 'Create new blacklist pattern' %>
  <% end %>

  <div class="list">	
    <%= render_partial 'blacklist_patterns' %>  
  </div>                      
