  <% @page_heading = _('Blacklist Patterns') + " (" + task_quickpost(_('add new') + ")")  %>

  <div id="quick-post" style="display:none;position:absolute;">
    <%= render :partial => "quick_post" %>
  </div>

  <div class="list">	
    <%= render_partial 'blacklist_patterns' %>  
  </div>                      
