<% if @mag -%>
<div id="magnolia-gallery">
<h3><%= @sb_config['dtitle']  %> (<%= link_to "magnolia", "http://ma.gnolia.com/people/#{@sb_config['feed'].split('/').last}" %>)</h3>
<% for pic in @mag.choose(@sb_config['count'].to_i) -%>
<div class="magnolia-pic">
<%= 
  link_to "<img src=\"#{pic.image}\" alt=\"#{pic.title}\" title=\"#{pic.title}\"/", pic.link 
-%>
</div>
  <% end -%>
</div>
<% end -%>