method: :smtp
settings:
  :address: <%= ENV["EMAIL_SERVER"] %>
  :port:    <%= ENV["EMAIL_PORT"] %>
  :domain:  <%= ENV["EMAIL_DOMAIN"] %>
	:authentication:  :login
	:user_name: <%= ENV["EMAIL_USER"] %>
	:password: <%= ENV["EMAIL_PASSWORD"] %>
