.collapsible {
  margin: baseline-unit(6) 0 baseline-unit(8) 0;
}

.collapsible__heading {
  @include font-size(24);
  color: $heading-color-secondary;
  margin-bottom: baseline-unit(5);
}

.collapsible__link {
  position: relative;
  display: block;
  padding-bottom: baseline-unit(1);
  font-weight: $font-weight-bold;
  border-bottom: $base-border-thin;
}

.collapsible__icon {
  position: absolute;
  right: -3px;
  top: -2px;
  width: 60px;
}
