

.inline-callout {
  display: block;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNDAiIGhlaWdodD0iNTAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDAgNTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxsaW5lIHN0cm9rZT0iI2NlY2VjZSIgc3Ryb2tlLXdpZHRoPSIyIiB4MT0iMCIgeTE9IjUxIiB4Mj0iNDAiIHkyPSItMSIgLz48L3N2Zz4NCg==');
  background-size: 20px 26px;
  padding: baseline-unit(4);
  margin: baseline-unit(6) 0;
  max-width: $callout-max-width;
}

.inline-callout__text {
  @include font-size(24);
  position: relative;
  display: block;
  float: right;
  text-align: right;
  padding: baseline-unit(2);
  padding-right: baseline-unit(10);
  background-color: white;
}

.inline-callout__text[href^="http://www.moneyadviceservice.org.uk"],
.inline-callout__text[href^="https://www.moneyadviceservice.org.uk"] {
  color: $inline-callout-link-color;

  .inline-callout__arrow-path {
    stroke: $inline-callout-link-color;
  }
}

.inline-callout__arrow {
  float: right;
  position: absolute;
  width: 20px;
  height: 32px;
  top: 30%;
  right: 17px;
  margin-left: baseline-unit(5);
}

.inline-callout__arrow-path {
  fill: none;
  stroke: $link-color;
}
