<h3>Xbox Live Gamer Card</h3>
<iframe src="http://gamercard.xbox.com/<%= URI.escape(@sb_config['gamertag']) %>.card" scrolling="no" frameBorder="0" height="140" width="204"><%= @sb_config['gamertag'] %></iframe>
