<%= error_messages_for 'trackback' %>
<!--[form:trackback]-->
<label for="trackback_blog_name">Blog name:</label><%= text_field 'trackback', 'blog_name'  %><br/>

<label for="trackback_title">Title:</label><%= text_field 'trackback', 'title'  %><br/>

<label for="trackback_url">Url:</label><%= text_field 'trackback', 'url'  %><br/>

<label for="trackback_excerpt">Excerpt:</label><%= text_area 'trackback', 'excerpt'  %><br/>

<!--[eoform:trackback]-->
