<div id="sidebar">
  <h1>Tasks:</h1>
  <ul>
    <li><%= link_to 'Back to overview', :action => 'list' %></li>
  </ul> 
</div>

<div id="content">
  <h1>Trackbacks for "<%= link_to @article.title, :controller => 'content', :action => 'show', :id => @article %>"</h1>

  <%= start_form_tag :action=>"new" %>

  <div class="form">	
    <h2>Creating trackback</h2>
    <%= render_partial "form" %>
  </div>

  <div id="operations">
    <%= cancel %> <%= save %>  
  </div>

  <%= end_form_tag %>
</div>
