<% if !@search.to_s.blank? -%>
  <p>Searched for <em>"<%=h @search %>"</em></p>
  <ul>
  <% for article in @articles.to_a -%>
    <li><%= article_link article.title, article %></li>
  <% end -%>
	</ul>
<% else %>
  &nbsp;
<% end -%>