<% unless current_page.last? %>
  <div class="l-tile l-tile--archive">
    <a href="<%= url %>" class="l-index-archive__link">Older articles <svg class="l-index-archive__link-arrow">
        <use xlink:href="#svg-arrow-right"></use>
      </svg>
    </a>
  </div>
<% end %>
