<% for theme in @themes %>
<div class="set theme" style="margin-top:10px;">
  <div class="preview"><img src="<%= url_for :action => 'preview', :theme => theme.name %>" alt="<%= theme.name %>" /></div>
  <%= theme.description %>
  <% if theme.path == @active.path -%>
  <em>(Active theme)</em>
  <% else -%>
  <%= link_to "Activate", :action => 'switchto', :theme => theme.name %>
  <% end -%>
  <br clear="all" />
</div>
<% end %>
