<% for theme in @themes %>
<img src="<%= url_for :action => 'preview', :theme => theme.name %>" alt="<%= theme.name %>" align="right" />
<div id="gensettings" class="set" style="margin-right: 300px; margin-top:10px;">
  <%= theme.description %>
  
  <% if theme.path == @active.path -%>
  <em>(Active theme)</em>
  <% else -%>
  <%= link_to "Activate", :action => 'switchto', :theme => theme.name %>
  <% end -%>
</div>
<br clear="all">
<% end %>
