<h1 class='page-header'><%= link_to category_name(params[:id]), "#{this_blog.base_url}/category/#{params[:id]}" %></h1>
<%= render :partial => 'article', :collection => @articles %>
<div id='paginate'>
  <%= paginate @articles, { :previous_label => _('Previous'), :next_label => _('Next')  } %>
</div>