<% form_tag :action=> "login" do %>
<ul>
  <li>
    <label for="user_login"><%= _('Username')%>:</label>
    <input type="text" name="user_login" id="user_login" value=""/>
  </li>
  <li>
    <label for="user_password"><%= _('Password') %>:</label>
    <input type="password" name="user_password" id="user_password" />
  </li>
	<li class="r"><input type="submit" name="login" value= "<%= _('Login') %> &#187;" class="primary" id="submit" /></li>
</ul>
<p><%= link_to "&laquo; " + _('Back to ') + this_blog.blog_name, this_blog.base_url %></p>
<% end %>
