<h2><%= _("Recent comments")%></h2>
<ul class="recent">
<% for comment in Comment.find(:all, :limit => 5, :order => 'id DESC' ) %>
  <li>
    <h4><%= truncate(comment.author, 20) %></h4>
    <div><%= link_to truncate(comment.body, 20), :controller => "/admin/comments", :action => "show", :id => comment.id, :article_id => comment.article_id %></div>
    <p class="right"><%= time_ago_in_words(comment.created_at) %> ago</p>
  </li>
<% end %>
</ul>