/* Azure Screen Styles */

body {
	margin: 20px 0;
	text-align: center;
	background: #8ab3d1 url(../../images/theme/bg-tile.gif) repeat-x;
	font: 1em/1.2em Arial, Verdana, Helvetica, sans-serif;
	color: #333;
	}
	
#container {
	margin: 0 auto;
	width: 762px;
	text-align: left;
	background: #fff;
	border: 7px solid #fff;
	font-size: 80%;
	}
	
	
#header { 
	background: #8ab3d1 url(../../images/theme/hdr.gif) no-repeat;
	width: 520px;
	height: 139px;
	margin: 0;
	text-align: center;
	float: left;
	}
	
#content {
	background:  #fff url(../../images/theme/sbar-tile.gif) right repeat-y;
	margin-top: 7px;
		
	}

#main { 
	float: left;
	width: 520px;
	background: #fff;
	padding: 1px;
	}

#search {
	background: #d3e0ea;
	height: 139px;
	margin-left: 527px;
	padding-left: 20px;
	}
	
#sidebar {
	background: #f8f2e5;
	margin-left: 530px;
	padding-left: 10px;
	padding-right: 5px;
	}
	
	
#footer {
	background: #d3e0ea;
	margin-top: 7px;
	height: 35px;
	text-align: center;
	}
	
#footer a { border: none; }
#footer img { border: none; margin-top: 10px; }
	
/*+-------------------------------------------+
  |   			LINKS 						  |
  +-------------------------------------------+*/
  a {
  	color: #5189b5;
	text-decoration: none;
	border-bottom: 1px dotted #5189b5;
	}
	
 a:hover { color: #85ab02; border-bottom-color: #85ab02; }
/*+-------------------------------------------+
  |   			UTILITY 					  |
  +-------------------------------------------+*/
  
  h1, h2, h3, h4, h5, h6 {
  	margin: 0;
	padding: 0;
	}
	
  form, div { padding: 0; margin: 0; }
  p { margin: 0 0 1em 0; padding: 0; }
  img { border: 0; }

  
/*+-------------------------------------------+
  |   			HEADER 						  |
  +-------------------------------------------+*/
  
#logo {
	padding-top: 50px;
	}
	
#logo h1 a { color: #fff; text-decoration: none; border: none; }
#logo h2 { color: #fff; padding-top: .2em; font-size: 1.2em; text-decoration: underline;}

/*+-------------------------------------------+
  |   			        SEARCH     						    |
  +-------------------------------------------+*/	

 #sform { padding-top: 50px; }
 
 #sidebar #searchform #s {
	width: 130px;
	margin-top: 20px;
	}

 #sidebar #searchsubmit {
	padding: 1px;
	}
	
 #search-results {
  padding: 2px;
  }
  

/*+-------------------------------------------+
  |   			POST 						                  |
  +-------------------------------------------+*/
  .post {
  	margin: 0 0 20px 5px;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	}
	
  .post h2 {
  	font: normal 140%/1.3em Arial, Verdana, Helvetica, sans-serif;
	}
	
  .post h2 a {
  	color: #5189b5;
	text-decoration: none;
	border: none;
	}
	
 .post h2 a:hover {
 	color: #85ab02;
	}
	
  p.meta {
  	font-size: 75%;
	text-align: right;
	margin-right: 5px;
	}
	
 p.auth {
 	padding: 0 0 0 12px;
	font-size: 85%;
	margin-left: 10px;
	font-weight: bold;
	color: #9a9a9b;
	background: url(../../images/theme/bracket.gif) no-repeat;
	}
	
 h4.blueblk {
 	background: #8ab3d1;
 	padding: 5px;
 	margin: 10px 0;
 	border: 1px solid #1b619b;
 	}
 	
 /*+-------------------------------------------+
  |   			      COMMENTS						         |
  +-------------------------------------------+*/
  .comment-list li, #preview {
  	background: #d3e0ea;
  	padding: 5px;
  	margin-bottom: 8px;
  	color: #555;
  	clear: right;
  	min-height: 60px;
  	}
  	
  .gravatar {
  	float: right;
  	padding: 0 5px;
  	}
 /*+-------------------------------------------+
  |   			SIDEBAR 						               |
  +-------------------------------------------+*/
  
 #sidebar h3 {
 		font: 110%/1.5em Arial, Verdana, Helvetica, sans-serif;
 		color: #d75a20;
 		margin-top: 10px;
 		}
 		

 #sidebar h3 a {
		color: #d75a20;
		border-bottom: 1px dotted #d75a20;
		}

 #sidebar h3 a:hover { color: #85ab02; border-bottom-color: #85ab02; }

 #sidebar ul {
 		margin: 0;
 		padding: 0;
 		list-style-type: none;
 		}
 		
 #sidebar ul li { 
 	background: url(../../images/theme/bullet.gif) 0 45% no-repeat;
 	padding-left: 17px;
 	 }
 	 
 #flickr div img {
 	border: 4px solid #fff;
 	}
 	
 #flickr div {
        width: 108px;
 	border: 2px solid #dbd1c1;
 	margin-bottom: 5px;
 	}

 #flickr div.flickrsquare { 
        width: 82px;
        border-right: 3px solid #dbd1c1;
        float:left;
        margin-right: 5px;
        margin-right: 5px;
        }

  #flickr div a { border: none; }
  
 /*+-------------------------------------------+
   |   			FOOTER 						                 |
   +-------------------------------------------+*/
  
  #footer ul {
  	margin: 0;
  	padding: 10px 0 0 0;
  	list-style: none;
  	}
  	
  #footer ul li {
  	display: inline;
  	margin: 0;
  	padding: 0 5px 0 0;
  	font-size: 75%;
  	}
  	
 /*+-------------------------------------------+
   |   			       FORMS 						           |
   +-------------------------------------------+*/
   
 input, textarea, select {
 	border: 1px solid #8ab3d1;
 	background: #f9f9f9;
 	}
 	
 	.frm-tbl td { vertical-align: top; padding: 5px; }
 	td#frm-btns { text-align: right; }
 	
 	#comment_body { height: 220px; }
 	#form-submit-button { background: #d3e0ea; }
  
 /*+-------------------------------------------+
   |   		          	MISC 						         |
   +-------------------------------------------+*/
   
 .powered { border: none; }
 .powered img { margin-top: 20px; }
 .pullquote {
		width: 30%;
		float:right;
		font: 150%/1.5em Times, Helvetica, "Times New Roman", serif;
		color: #666;
		margin:10px;
		background: url(../../images/theme/q-close.gif) no-repeat 70% 100% !important;
		background /**/:url(); /* removing quote graphic in IE5+ */
		padding: 0 25px 5px 0;
}
.pullquote:first-letter {
	background: url(../../images/theme/q-open.gif) no-repeat left top !important;
	padding:5px 2px 10px 35px!important;
	padding /**/:0px; 	/* resetting padding in IE5+ */
	background /**/: url(); /* removing quote graphic in IE5+ */
}

 .light-bg { background: #f7f7f7; padding: 2px; }
   .clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
 }
 
 #errors {
   color: red;
 }

.admintools {
  float: right;
  background-color: #fff;
  font-size: smaller;
  padding: 0 2px;
  margin: 0 1px;
  color: #ccc;
  border: 1px solid #ccc;
}

.admintools:hover {
  color: #c00;
  border: 1px solid #c00;
}

a[name] { border: none; }

 /* Hides from IE-mac \*/
 * html .clearfix {height: 1%;}
 /* End hide from IE-mac */

#categories li em, #archives li em
{
  color: #98B4D1;
  font-size: smaller;
}

/* Syntax highlighting */
.typocode_ruby .normal {}
.typocode_ruby .comment { color: #005; font-style: italic; }
.typocode_ruby .keyword { color: #A00; font-weight: bold; }
.typocode_ruby .method { color: #077; }
.typocode_ruby .class { color: #074; }
.typocode_ruby .module { color: #050; }
.typocode_ruby .punct { color: #447; font-weight: bold; }
.typocode_ruby .symbol { color: #099; }
.typocode_ruby .string { color: #944; background: #FFE; }
.typocode_ruby .char { color: #F07; }
.typocode_ruby .ident { color: #004; }
.typocode_ruby .constant { color: #07F; }
.typocode_ruby .regex { color: #B66; background: #FEF; }
.typocode_ruby .number { color: #F99; }
.typocode_ruby .attribute { color: #7BB; }
.typocode_ruby .global { color: #7FB; }
.typocode_ruby .expr { color: #227; }
.typocode_ruby .escape { color: #277; }
.typocode_xml .normal {}
.typocode_xml .namespace { color: #B66; font-weight: bold; }
.typocode_xml .tag { color: #F88; }
.typocode_xml .comment { color: #005; font-style: italic; }
.typocode_xml .punct { color: #447; font-weight: bold; }
.typocode_xml .string { color: #944; }
.typocode_xml .number { color: #F99; }
.typocode_xml .attribute { color: #BB7; }
.typocode_yaml .normal {}
.typocode_yaml .document { font-weight: bold; color: #07F; }
.typocode_yaml .type { font-weight: bold; color: #05C; }
.typocode_yaml .key { color: #F88; }
.typocode_yaml .comment { color: #005; font-style: italic; }
.typocode_yaml .punct { color: #447; font-weight: bold; }
.typocode_yaml .string { color: #944; }
.typocode_yaml .number { color: #F99; }
.typocode_yaml .time { color: #F99; }
.typocode_yaml .date { color: #F99; }
.typocode_yaml .ref { color: #944; }
.typocode_yaml .anchor { color: #944; }

.typocode {
  background-color:#eee;
  padding:2px;
  margin:5px;
  margin-left:1em;
  margin-bottom:1em;
}

.typocode pre {
  padding: 0px;
  margin: 0px;
  background: transparent;
  font-family: monospace;
  overflow:auto;
}


.typocode .lineno {
  text-align: right;
/*  color: #B00;*/
  font-family: monospace;
  padding-right: 1em;
}

code {
  font-size:120%;
}
