<% content_for :page_heading do %>
  <h2>
    <i class="glyphicon glyphicon-large glyphicon-user"></i>
    <%= t(".your_profile") %>
  </h2>
<% end %>

<%= form_for([:admin, @user], url: admin_profile_path(current_user)) do |f| %>
  <%= render partial: "admin/users/form", locals: { f: f, user: @user } %>
<% end %>
