<%= error_messages_for 'category' %>
<ul>
  <li>
    <label for="category_name" class="content block"><%= _("Name")%></label> 
    <%= text_field 'category', 'name', :class => 'large'  %>
  </li>
</ul>
<p>
  
  
</p>
<!--[eoform:cateogry]-->