  <% @page_heading = _('Categories') %>

  <% content_for('tasks') do %>
    <%= task_overview %>
  <% end %>

  <p><%= _("Are you sure you want to delete the category ")%> '<%= @category.name %>'?</p>
  <% form_tag :action => "destroy", :id => @category.id do %>
  <%= confirm_delete(_("Delete this category")) %>
  <% end %>
