  <% @page_heading = 'Categories' %>

  <% content_for('tasks') do %>
    <%= task_show 'Show this category', @category.id %>
  <% end %>

  <p>Are you sure you want to delete the category '<%= @category.name %>'?</p>
  <% form_tag :action => "destroy", :id => @category.id do %>
  <%= confirm_delete("Delete this category") %>
  <% end %>
