  <% @page_heading = 'Categories' %>

  <%= start_form_tag :action=>"edit", :id => @category.id %>
  <h3>Editing category</h3>
  <div class="form">	
    <%= render_partial "form" %>
  </div>

  <div id="operations">
    <%= save %> or <%= cancel %>  
  </div>

  <%= end_form_tag %>