  <% @page_heading = _('Categories') +  "<span>&raquo; #{link_to(_('add new'), :controller => 'categories', :action => 'new')}</span>" %>
  <% subtabs_for(:content) %>

  <div id="category_container" class="list">	
    <%= render :partial => 'categories' %>  
  </div>                      

  <div class="paginate">
    <%= link_to_remote(_('Reorder'), :update => 'category_container', :url => { :action => 'reorder' }) %> |
  	<%= link_to_remote(_('Sort alphabetically'), :update => 'category_container', :url => { :action => 'asort' }) %>
  </div>