  <% @page_heading = 'Categories' %>

  <% content_for('tasks') do %>
    <%= task_quickpost('Create new category') %>
  <% end %> 

  <div id="quick-post" style="display:none;position:absolute;">
    <%= render :partial => "quick_post" %>
  </div>
  
  <div class="list">	
    <%= render :partial => 'categories' %>  
  </div>                      
