<% @page_heading = _("%s Category", controller.action_name.capitalize) %>

<div class='left_form'>
  <%= render :partial => "form" %>
</div>

<div class="right_table">
  <%= render :partial => 'categories' %>
</div>
