  <% @page_heading = 'Categories' %>

  <h3>Creating category</h3>
  <%= start_form_tag :action=>"new" %>

  <div class="form">	
    <%= render_partial "form" %>
  </div>

  <div id="operations">
    <%= cancel %> <%= save %>  
  </div>

  <%= end_form_tag %>