<% @page_heading = _("%s Category", controller.action_name.capitalize) %>
<% subtabs_for(:articles) %>

<div class='category_editor'>
  <%= render :partial => "form" %>
</div>

<div id="category_container" class="list">
  <%= render :partial => 'categories' %>
</div>

<div class="clear"></div>
