<% if @backpack -%>
<h3><%= @backpack.title %></h3>
<ul>
<% @items.each do |item| -%>
  <% if item.completed -%>
    <li><del><%= item.to_s %></del></li>
  <% else -%>
    <li><%= item.to_s %></li>
  <% end -%>
<% end -%>
</ul>
<% end -%>