.beta-tag {
  @include font-size(12);
  font-family: $brand-font;
  font-weight: $brand-font-weight;
  color: $link-color--negative;
  position: relative;
  padding-left: 3px;
  text-transform: uppercase;

  .homepage & {
    @include respond-to($mq-l) {
      @include font-size(16);
    }
  }
}

.beta-tag__logo {
  position: absolute;
  width: 40px;
  top: -12px;
  left: 0;

  .homepage & {
    left: 43%;

    @include respond-to(353) {
      left: 44%;
    }

    @include respond-to($mq-m) {
      left: 45%;
    }

    @include respond-to($mq-l) {
      width: 60px;
      left: 44%;
    }
  }
}

.beta-tag__logo-line {
  stroke: $beta-color-stroke;
  stroke-width: 10;
  stroke-linecap: round;
}
