.beta-tag {
  @include font-size(12);
  font-family: $brand-font;
  font-weight: $brand-font-weight;
  color: $link-color--negative;
  position: relative;
  padding-left: 3px;
  text-transform: uppercase;

  @include respond-to($mq-m) {
    @include font-size(22);
  }
}

.beta-tag__logo {
  position: absolute;
  width: 40px;
  top: -12px;
  left: 0;

  @include respond-to($mq-m) {
    width: 100px;
    top: -36px;
    left: 50%;
    margin-left: -50px;
  }
}

.beta-tag__stroke {
  stroke: $white;
}
