.tag-list {
  @extend .unstyled-list;

  display: inline;

  @include respond-to ($mq-m) {
    display: block;
  }
}

.tag-list__item {
  @include inline-block();
  margin-right: baseline-unit(1);
  margin-bottom: baseline-unit(2);
  background-color: $tag-secondary-bgcolor--solid;
  background-color: $tag-secondary-bgcolor--translucent;
  border-radius: $border-radius;

  .icon {
    display: none;
  }

  .unstyled-button {
    padding: baseline-unit(2) baseline-unit(3);

    &.is-active {
      display: none;
    }
  }
}

.tag-list__item--trigger {
  margin-right: 0;
}

.tag-list__item--title {
  background-color: $tag-primary-bgcolor--solid;
  background-color: $tag-primary-bgcolor--translucent;

  @include respond-to ($mq-xs, $mq-m) {
    @include visually-hidden();
  }
}

.tag-list--extra {
  display: inline;

  .js & {
    display: none;
  }

  &.is-active {
    display: inline;

    .tag-list__item {
      animation: fade-in .8s;
      animation-fill-mode: forwards;
    }

    @include respond-to ($mq-m) {
      position: absolute;
      top: baseline-unit(-9.5);
    }
  }
}

.tag-list__item-content {
  display: none;

  .js & {
    @include inline-block();

    &:before {
      content: "\2026";
      line-height: 0;
      color: $white;
    }
  }
}

.tag-list__link,
.tag-list__item-inner {
  display: block;
  padding: baseline-unit(2) baseline-unit(3);
  color: $white;

  &:visited {
    color: $white;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  1% {
    @include inline-block();
    opacity: 0;
  }
  100% {
    @include inline-block();
    opacity: 1;
  }
}
