$facebook-blue: $chambray;
$facebook-blue--hover: #214782; // replication of bay-of-many

$twitter-blue: $shakespeare;
$twitter-blue--hover: #1991b8; // replication of eastern-blue


$google-plus-red: $burnt-sienna;
$google-plus-red--hover: $roof-terracotta;

$pinterest-red: $mojo;
$pinterest-red--hover: $milano-red;

$email-grey: $sirocco;
$email-grey--hover: $nevada;

$print-grey: $sirocco;
$print-grey--hover: $nevada;
