// Settings - Define the variables for the Marketing Blog project

$vertical-grid-spacing: 6 !default;

// link color
$link-color: $deep-cerulean;
$link-color--negative: $white;

// typography
$base-font-size: 16 !default;
$base-line-height: 1.4;

$base-font-family: 'museo_sans';
$base-font-stack: $base-font-family, Helvetica, Arial, sans-serif;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-light: 300;

$brand-font-family: 'museo_slab';
$brand-font-stack: $brand-font-family, Helvetica, Arial, sans-serif;
$brand-font-weight: 900;

$text-color: $nevada;

$heading-color-primary: $astronaut-blue;
$heading-color-secondary: $outer-space;

$emphasised-text-color: $astronaut-blue; // this is used for introducion text

// ui geometry
$border-radius: 5px !default;

// ui colors
$header-bg-color: $deep-cerulean;

$tag-primary-bgcolor--solid: $black;
$tag-primary-bgcolor--translucent: $black--translucent;

$tag-secondary-bgcolor--solid: $deep-cerulean;
$tag-secondary-bgcolor--translucent: $deep-cerulean--translucent;

$base-border-thin: 1px solid $silver;

$brand-green: $green-leaf !default;

$banner-bg-color: $concrete;

// Tiles
$article-tile-bg--green: $elf-green;
$article-tile-text--green: $white;
$article-tile-date--green: $white;
$article-tile-comments-bg--green: $deep-sea-green;

$article-tile-bg--white: $white;
$article-tile-text--white: $eastern-blue;
$article-tile-date--white: $outer-space;
$article-tile-comments-bg--white: $eastern-blue;

$article-tile-bg--blue: $matisse;
$article-tile-text--blue: $white;
$article-tile-date--blue: $white;
$article-tile-comments-bg--blue: $bay-of-many;

$article-tile-bg--mas: $atlantis;
$article-tile-text--mas: $white;

$article-tile-bg--popular: $cream-can;

$article-tile-date--mas: $white;


$tile--article-secondary-heading-color: $outer-space;

// z-indexes

$z-background: 0;
$z-middleground: 1;
$z-foreground: 2;

$mq-two-col: 768px !default;

$error-color: $cardinal;
