/* General */

body {
  padding-top: 40px;
}

footer {
  padding-bottom: 20px;
}

tr.noborder td {
  border-top: none;
}

tr.noborder th {
  border-top: none;
}

td small {
  color: #BFBFBF;
  font-size: 11px;
}

tr .action {
  margin-top: 5px;
}

/* Editor */
#editor {
  float: left;
  width: 100%;
  margin-top: 18px;
}

#autocomplete li {
	background: #D9EDF7;
	color: #3A87AD;
	padding: 5px 8px;
	line-height: 18px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

#autocomplete li:hover {
	color: #00438a;
	border-bottom: 1px solid #00438a;
}

#main  {
  padding: 0 15px 0 15px;
}

#preview_link {
  font-weight: normal;
}

.page-title { display:inline-block }
/* Classes for menu icons */

.icon-articles {
  background-position: 0 -72px;
}

.icon-pages {
  background-position: -408px -120px;
  width: 16px;
}

.icon-notes {
  background-position: -264px -24px;
}

.icon-media {
  background-position: -456px -48px;
}

.icon-users {
  background-position: -168px 0;
}

.icon-themes {
  background-position: -96px -120px;
}

.icon-seo {
  background-position: -24px -72px;
}

.icon-settings {
  background-position: -432px 0;
}

.icon-profile {
  background-position: -240px 0;
}

.glyphicon-large {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}

.btn-action {
  padding: 4px;
}

#article_title,
#page_title {
  font-size: 2.3em;
  font-weight: 500;
  line-height: 1.1;
  height: 1.5em;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
  padding-left: 0;
}

#article_body_and_extended,
#page_body {
  font-size: 1.3em;
  line-height: 1.4;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
  padding-left: 0;
}


#quicktags {
  display: none;
  padding-top: 10px;
}

#quicktags-block:hover #quicktags {
  display: block;
}

#quicktags-block {
  min-height: 400px;
}

#error-message-article {
  padding-top: 20px;
}