/* General */

body {
  padding-top: 40px;
}

footer {
  padding-bottom: 20px;
}

table.clearfix {
  clear: both;
  margin-top: 18px;
}

tr.noborder td {
  border-top: none;
}

tr.noborder th {
  border-top: none;
}

th {
  background: none;
}

td small {
  color: #BFBFBF;
  font-size: 11px;
}

tr .action {
  margin-top: 5px;
}

/* Dashboard */

.dashboard-left {
  width: 49%;
  float: left;
}

.dashboard {
    width: 49%;
    margin-left: 51%;
}

/* Editor */
#editor {
  float: left;
  width: 100%;
  margin-top: 18px;
}

.separator {
  clear: both;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 17px 0 18px 0;
}

/* Carousel */
#carousel-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 18px;
}

#carousel-content {
  width: 3000px;
  overflow: hidden;
}

#carousel-wrapper a {
  border: 1px solid #ddd;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  float: left;
  padding: 4px;
  margin-right: 20px;
  cursor: pointer;
}

/* Sidebars */

.avatar {
	float: left;
	margin-right: 3px;
	margin-bottom: 3px;
}

#autocomplete li {
	background: #D9EDF7;
	color: #3A87AD;
	padding: 5px 8px;
	line-height: 18px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

#autocomplete li:hover {
	color: #00438a;
	border-bottom: 1px solid #00438a;
}

#main  {
  padding: 0 15px 0 15px;
}

a.delete {
  color: #d14;
}

a.delete:hover,
a.delete:focus {
  color: #b94a48;
}

#preview_link {
  font-weight: normal;
}

.page-title { display:inline-block }
/* Classes for menu icons */

.icon-articles {
  background-position: 0 -72px;
}

.icon-pages {
  background-position: -408px -120px;
  width: 16px;
}

.icon-notes {
  background-position: -264px -24px;
}

.icon-media {
  background-position: -456px -48px;
}

.icon-users {
  background-position: -168px 0;
}

.icon-themes {
  background-position: -96px -120px;
}

.icon-seo {
  background-position: -24px -72px;
}

.icon-settings {
  background-position: -432px 0;
}

.icon-profile {
  background-position: -240px 0;
}

.glyphicon-large {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}

.icon-large {
    background-image: image-url("admin/glyphicons-large.png");
    background-position: 24px 24px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    vertical-align: text-bottom;
    width: 28px;
}

.icon-large.icon-dashboard{ background-position: 0 -670px;  } 
.icon-large.icon-articles{ background-position: 0 -985px;  } 
.icon-large.icon-article-new{ background-position: -138px -1666px;  } 
.icon-large.icon-comment{ background-position: -230px -102px;  } 
.icon-large.icon-categories{ background-position: -46px -212px;  } 
.icon-large.icon-tags{ background-position: -46px -212px;  } 
.icon-large.icon-articles-types{ background-position: 0 -780px;  } 
.icon-large.icon-redirect{ background-position: -46px -852px;  } 
.icon-large.icon-notes{ background-position: -46px -1829px;  } 
.icon-large.icon-pages{ background-position: -92px -853px;  } 
.icon-large.icon-page-new{ background-position: -138px -1666px;  } 
.icon-large.icon-theme{ background-position: -1px -1704px;  } 
.icon-large.icon-sidebar{ background-position: 0 -780px;  } 
.icon-large.icon-profile{ background-position: 0 -104px;  } 
.icon-large.icon-user{ background-position: 0 -104px;  } 
.icon-large.icon-user-add{ background-position: 0 -200px;  } 
.icon-large.icon-settings{ background-position: 0 -780px;  } 
.icon-large.icon-resources{ background-position: -92px -1332px;  } 

.btn-action {
  padding: 4px;
}

#article_title,
#page_title {
  font-size: 2.3em;
  border: none;
  font-weight: 500;
  line-height: 1.1;
  height: 1.5em;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
          transition: none;
          padding-left: 0;
}

#article_body_and_extended,
#page_body {
  font-size: 1.3em;
  border: none; 
  line-height: 1.4;
  height: 2.2em;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
          transition: none;
          padding-left: 0;
}

#quicktags {
  display: none;
}

#quicktags-block:hover #quicktags {
  display: block;
}

#quicktags-block {
  min-height: 400px;
}