<%= error_messages_for 'user' %>
<!--[form:user]-->
<label for="user_login">Login:</label><%= text_field 'user', 'login'  %><br/>

<label for="user_password">Password:</label><%= password_field 'user', 'password'  %><br/>
<label for="user_password">Confirmation:</label><%= password_field 'user', 'password_confirmation'  %><br/>
<!--[eoform:user]-->
