  <% @page_heading = 'Users' %>

  <% content_for('tasks') do %>
    <%= task_show 'Show this user', @user.id %>
  <% end %> 
  <%= start_form_tag %>
  <%= hidden_field "user", "id" %>

  <%= confirm_delete("Delete this user") %>
  <%= end_form_tag %>
