  <% @page_heading = 'Users' %>

  <% content_for('tasks') do %>
    <%= task_show 'Show this user', @user.id %>
  <% end %>

  <h3>Really delete user "<%= @user.name || @user.login %>" ?</h3>
  <br/>


  <% form_tag do %>
  <%= hidden_field "user", "id" %>
  <%= confirm_delete("Yes...") %>
  <% end %>
