  <% @page_heading = 'Edit User' %>
  <% content_for('tasks') do %>
  <%= tab "New User", :controller=>"users", :action=>"new"%>
  <%= task_overview %>
  <% end%>

  <% form_tag :action=>"edit", :id => @user.id do %>

  <h3>Editing user</h3>
  <div class="form">
    <%= render_partial "form" %>
  </div>

  <div id="operations">
    <%= save %> or <%= cancel %>
  </div>

  <% end %>
