  <% @page_heading = _('Manage Users') %>

  <% content_for('tasks') do %>
    <%= task_new _('Add new user') %>
  <% end %> 
  <div id="users">	
    <%= render :partial => 'user', :collection => @users  %>
    <br clear="all" />
  </div>
