  <% @page_heading = 'Users' %>

  <h3>Creating user</h3>

  <%= start_form_tag :action=>"new" %>

  <div class="form">	
    <%= render_partial "form" %>
  </div>

  <div id="operations">
    <%= save %> or <%= cancel %>  
  </div>

  <%= end_form_tag %>