  <% @page_heading = 'Users' %>

  <h3>Creating user</h3>

  <% form_tag :action=>"new" do %>

  <div class="form">
    <%= render_partial "form" %>
  </div>

  <div id="operations">
    <%= save %> or <%= cancel %>
  </div>

  <% end %>
