  <% @page_heading = 'Users' %>

  <% content_for('tasks') do %>
    <%= task_new 'Create new user' %>
    <%= task_edit 'Edit this user', @user.id %>
  <% end %> 

  <div class="form">	
    <label>Name:</label> <span class="static"><%=h @user.name %></span><br/>
    <label>Login:</label> <span class="static"><%=h @user.login %></span><br/>
    <label>Email:</label> <span class="static"><%=h @user.email %></span><br/>
  </div>
