  <% @page_heading = 'Users' %>

  <% content_for('tasks') do %>
    <%= task_new 'Create new user' %>
    <%= task_edit 'Edit this user', @user.id %>
  <% end %> 

  <div class="form">	
    <% for column in User.content_columns -%>
    <label><%= column.human_name %>:</label> <span class="static"><%=h @user.send(column.name) %></span><br/>
    <% end -%>
  </div>
