<h3>Syndicate</h3>
<ul>
  <li><a href="<%= url_for :controller=>'xml', :action=>'rss' %>" title="RSS 2.0 feed">Articles</a></li>
  <li><a href="<%= url_for :controller=>'xml', :action=>'commentrss' %>" title="Comments RSS 2.0 feed">Comments</a></li>
  <li><a href="<%= url_for :controller=>'xml', :action=>'trackbackrss' %>" title="Trackbacks RSS 2.0 feed">Trackbacks</a></li>
</ul>
</p>
