/* CSS Document */
/*------------------------------------------------------------------
[Master Stylesheet]

Project:	TypoGraphic
Version:	1.0
Last change:	04/06/08 [fixed Float bug, vf]
Assigned to:	Helene Douchet (hdo)

[Table of contents]

1. Body
	2. Wrapper
		3. Header / #header
		4. Page
			4.1. Content / #content
				4.1.1. Post / .atomentry
			4.2. Sidebar / #sidebar
				4.2.1. Search / #search
				4.2.2. Loading / #loading
				4.2.4. Results / #results
				4.2.5. Categories / #categories
		5. Footer / #footer
-------------------------------------------------------------------*/

@import "reset.css";
@import "layout.css";
@import "colors.css";
/* @import "debugging.css"; */







