<div class='bordered'>
  <h3><label class="block content"><%= _("Drafts:") %></label></h3>
  <% Article.drafts.all.each do |draft| %>
    <%= link_to("#{draft.title}<br />", :action => 'edit', :id => draft.id) %>
  <% end %>
</div>
