<label class="block content"><%= _("Drafts:") %></label>
<div class='paginate noborder  l'>
  <% for draft in @drafts %>
    <%= content_tag(:div, link_to(draft.title, :action => 'edit', :id => draft.id)) %>
  <% end %>
  
</div>
