<div class='bordered'>
  <h3><label class="block content"><%= _("Drafts:") %></label></h3>
  <% for draft in @drafts %>
    <%= link_to("#{draft.title}<br />", :action => 'edit', :id => draft.id) %>
  <% end %>
</div>
