    <%= link_to "Previous page", { :id => pages.current.previous } if pages.current.previous -%>
    <%= pagination_links pages, :name => 'id' -%>
    <%= link_to "Next page", { :id => pages.current.next } if pages.current.next -%>
