  <% @page_heading = _('Manage posts') %>
  <% subtabs_for(:content) %>

  <%= render :partial => "drafts" %>

  <div class="list" id="articles">	
    <%= render :partial => 'articles' %>
  </div>                      
  <div class="paginate">
    <%= render :partial => 'admin/content/pages', :object => @articles_pages -%>
  </div>
  