  <% @page_heading = 'Articles' %>

  <% content_for('tasks') do %>
    <li><a href="#" onclick="new Effect.BlindDown('quick-post', {duration:0.4}); return false;">Quick Post</a></li>
    <%= task_new 'Create new article' %>
  <% end %> 

  <div id="quick-post" style="display:none;position:absolute;">
    <%= render :partial => "quick_post" %>
  </div>
  <div class="list" id="articles">	
    <%= render :partial => 'articles' %>
  </div>                      
