<%- content_for :page_heading do %>
  <i class="icon-large"></i>
  <h2 class="page-title"><%= t('.destroy_confirmation') %></h2>
<% end %>

<div class='well'>
  <p>
    <%= t(".are_you_sure", element: @record.class.name.downcase)%>
  </p>

  <%= form_tag action: "destroy", id: @record.id do %>
    <hr>
    <div class='form-actions'>
      <%= t(".action_or_other", first_action: link_to(t(".cancel"), {action: 'index'}), second_action: submit_tag(t(".delete"), class: "btn btn-danger")) %>
    </div>
  <% end %>
</div>
