<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
        <head>
                <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
                <title>Typo Administration:  <%= controller.controller_name %></title>
                <meta http-equiv="imagetoolbar" content="no" />
                <%= javascript_include_tiny_mce_if_used if this_blog.editor == 2 and (controller.action_name == 'new' or controller.action_name == 'edit') %>
                <%= tiny_mce if this_blog.editor == 2 and (controller.action_name == 'new' or controller.action_name == 'edit') %>
                <%= stylesheet_link_tag "administration.css" %>
                <%= javascript_include_tag "prototype", "effects", "dragdrop", "controls", "typo" %>
        </head>

        <body>
        <div id="container">

        <!-- HEADER -->
          <div id="header">
            <h1><%= link_to _("Typo admin") + " - #{this_blog.blog_name rescue nil}", :controller => "/admin/general" %></h1>
          </div>
        <!-- /HEADER -->


        <div id="topnav">
          <ul id="tabs">
            <%= tab _("Publish"), :controller=>"content", :action => 'new' %>
            <%= tab _("Manage"), :controller=>"content", :action => 'index' %>
            <%= tab _("Feedback"), :controller=>"feedback", :action => 'index' %>
            <%= tab _("Design"), :controller=>"sidebar", :action => 'index' %>
            <%= tab _("Users"), :controller=>"users", :action => 'index' %>
            <%= tab _("Settings"), :controller=>"general", :action => 'index' %>
            <%= tab _("Statistics"), :controller=>"/sitealizer", :action => 'index' %>
			<li><%= current_user_notice %></li>
			<%= tab _('your blog'), :controller => "/articles" %>
          </ul>
        </div>
       <% if not first_render =~ /login|signup|logout/ %>
       <div class="tasks">
           <ul>
            <%= @content_for_tasks %>
           </ul>
           <div style="clear:both;"></div>
         </div>
       <% end %>


        <div id="overall">
          <% if flash[:notice] or flash[:error] %>
        <div id="flash">
          <%= render_flash rescue nil %>
        </div>
        <% end %>

          <div id="main">
            <h2><%= @page_heading %></h2>

       <%= @content_for_layout %>
          </div>
        </div>
        <div id="footer">
            Typo <%=h TYPO_VERSION %> <%= _("with %s Famfamfam iconset %s", '<a href="http://famfamfam.com/">', '</a>') %>
        </div>
        </div>
        </body>
</html>

