<!DOCTYPE html>
<html lang="en">
<head profile="http://gmpg.org/xfn/11">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= h(page_title) %></title>
  <%= render 'shared/page_header' %>
</head>
<body>
  <%= yield %>

  <%# START RequireJS load of application %>
  <%= javascript_include_tag 'requirejs/require', data: { main: javascript_path('application') } %>
  <%# END RequireJS load of application %>

  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script language="javascript">
    function emailCurrentPage(){
      window.location.href="mailto:?subject="+document.title+"&body="+escape(window.location.href);
    }
  </script>
</body>
</html>
