<div title="Account login" id="loginform">
    <h3>Typo</h3>

    <div class="form admin">
      <% if flash[:notice] %>
        <h4><%= flash[:notice] %></h4>
      <% end %>

      <%= render :partial => "shared/loginform" %>
    </div>
</div>
