<h3><%= _("Logoff")%></h3>
<div class="memo">

    <p>
      <%= _("You are now logged out of the system") %>.
      <%= link_to _("Do you want to go to your blog?"), :controller => "articles" %>
    </p>

    <%= link_to "&#171; " + _('Login'), :action => "login" %><br />

</div>

